// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2021 StarFive Technology Co., Ltd. */

/ {
	chosen {
		stdout-path = "serial0";
	};

	config {
		u-boot,spl-payload-offset = <0x22000>;
	};

	cpus {
		u-boot,dm-spl;
		cpu@0 {
			u-boot,dm-spl;
		};
	};

	memory@80000000 {
		u-boot,dm-spl;
	};

	soc {
		u-boot,dm-spl;
	};
};

&spi0 {
	u-boot,dm-spl;
};

&qspi1 {
	u-boot,dm-spl;

	flash@0 {
		u-boot,dm-spl;
	};
};

&binman {
	kernel_fit {
		filename = "kernel.itb";
		fit {
			description = "FIT with Linux kernel image and FDT";
			#address-cells = <1>;
			images {
				kernel {
					description = "Linux kernel";
					type = "kernel";
					arch = "riscv";
					os = "linux";
					compression = "none";
					load = <0x80200000>;
					entry = <0x80200000>;
					kernel_blob: blob-ext {
						filename = "Image";
					};
				};
				fdt_kernel {
					description = "Linux kernel device tree binary";
					type = "flat_dt";
					arch = "riscv";
					compression = "none";
					load = <0x88000000>;
					fdt_kernel_blob: blob-ext {
						filename = "dubhe_fpga_linux.dtb";
					};
				};
			};

			configurations {
				default = "conf";
				conf {
					description = "Starfive Dubhe FPGA";
					kernel = "kernel";
					fdt = "fdt_kernel";
				};
			};
		};
	};

	QSPI_Image_binary {
		filename = "QSPI-Image.bin";
		pad-byte = <0xff>;

		bootcopier_blob: blob-ext@0 {
			filename = "dubhe_fpga_bootcode.bin";
			offset = <0x0>;
		};

		bootjump_blob: blob-ext@1 {
			filename = "dubhe_fpga_bootjump.bin";
			offset = <0x1000>;
		};

		u-boot-spl {
			offset = <0x2000>;
		};

		qspi_ubootproper_opensbi_blob: blob-ext@2 {
			filename = "u-boot.itb";
			offset = <0x22000>;
		};

		qspi_kernel_blob: blob-ext@3 {
			filename = "kernel.itb";
			offset = <0x400000>;
		};
	};
};

&uart0 {
	u-boot,dm-spl;
};

&pbus_clk {
	u-boot,dm-spl;
};

&clint {
	clocks = <&pbus_clk>;
	u-boot,dm-spl;
};

&cpu0_intc {
	u-boot,dm-spl;
};
