// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2021 StarFive Technology Co., Ltd. */

/ {
	chosen {
		stdout-path = "serial0";
		bootph-pre-ram;
	};

	config {
		u-boot,spl-payload-offset = <0x42000>;
		bootph-pre-ram;
	};

	cpus {
		bootph-pre-ram;
		cpu@0 {
			bootph-pre-ram;
		};

		cpu@1 {
			bootph-pre-ram;
		};
	};

	memory@80000000 {
		bootph-pre-ram;
	};

	soc {
		bootph-pre-ram;
		dmc: dmc@10280000 {
			compatible = "starfive,dubhe-ddr";
			reg = <0x0 0x10280000 0x0 0x10000
			       0x0 0x10290000 0x0 0x10000
			       0x0 0x102A0000 0x0 0x10000>;
			clocks = <&pbus_clk>;
			clock-frequency = <25000000>;
			bootph-pre-ram;
		};
	};

	binman: binman	{
		multiple-images;

		uboot_fit {
			filename = "u-boot.itb";

			fit {
				description = "Configuration to load OpenSBI before U-Boot";
				#address-cells = <1>;
				fit,fdt-list = "of-list";

				images {
					uboot {
						description = "U-Boot";
						type = "standalone";
						os = "U-Boot";
						arch = "riscv";
						compression = "none";
						load = <CONFIG_TEXT_BASE>;

						uboot_blob: blob-ext {
							filename = "u-boot-nodtb.bin";
						};
					};

					opensbi {
						description = "OpenSBI fw_dynamic Firmware";
						type = "firmware";
						os = "opensbi";
						arch = "riscv";
						compression = "none";
						load = <CONFIG_SPL_OPENSBI_LOAD_ADDR>;
						entry = <CONFIG_SPL_OPENSBI_LOAD_ADDR>;

						opensbi_blob: opensbi {
							filename = "fw_dynamic.bin";
						};
					};

					fdt-90 {
						description = "U-Boot proper device tree binary";
						type = "flat_dt";
						arch = "riscv";
						compression = "none";
						fdt_90_blob: blob-ext {
							filename = "arch/riscv/dts/dubhe90_fpga.dtb";
						};
					};

					fdt-80 {
						description = "U-Boot proper device tree binary";
						type = "flat_dt";
						arch = "riscv";
						compression = "none";
						fdt_80_blob: blob-ext {
							filename = "arch/riscv/dts/dubhe80_fpga.dtb";
						};
					};

					fdt-70 {
						description = "U-Boot proper device tree binary";
						type = "flat_dt";
						arch = "riscv";
						compression = "none";
						fdt_70_blob: blob-ext {
							filename = "arch/riscv/dts/dubhe70_fpga.dtb";
						};
					};
				};

				configurations {
					default = "conf-90";
					conf-90 {
						description = "conf-90";
						firmware = "opensbi";
						loadables = "uboot";
						fdt = "fdt-90";
					};

					conf-80 {
						description = "conf-80";
						firmware = "opensbi";
						loadables = "uboot";
						fdt = "fdt-80";
					};

					conf-70 {
						description = "conf-70";
						firmware = "opensbi";
						loadables = "uboot";
						fdt = "fdt-70";
					};
				};
			};
		};
	};
};

&clint {
	clocks = <&pbus_clk>;
	bootph-pre-ram;
};

&gmac0 {
	mac-address = [de ad be ef de ad];
};

&pbus_clk {
	bootph-pre-ram;
};

&plic0 {
	bootph-pre-ram;
};

&spi0 {
	bootph-pre-ram;
	
	mmc@0 {
		bootph-pre-ram;
	};
};

&qspi1 {
	bootph-pre-ram;

	flash@0 {
		bootph-pre-ram;
	};
};

&uart0 {
	bootph-pre-ram;
};

&pbus_clk {
	bootph-pre-ram;
};

&cpu0_intc {
	bootph-pre-ram;
};
