// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (c) 2021-2022 StarFive Technology Co., Ltd.
 */

#include "jhb100-u-boot.dtsi"
/ {
	aliases {
		timer0 = &timer0;
		ethernet0 = &gmac2;
		spi0 = &sfc0;
		wdt0 = &wdt0;
		wdt1 = &wdt1;
		wdt2 = &wdt2;
		wdt3 = &wdt3;
		wdt_ext = &wdt_ext;
	};

	chosen {
		/* tick-timer = "timer0"; */
		bootph-pre-ram;

		opensbi-domains {
			compatible = "opensbi,domain,config";
			jhb100-system-suspend;
		};
	};

	config {
		u-boot,spl-primary-payload-offset = <0x210000>;
		u-boot,spl-payload-offset = <0x210000>;
		bootph-pre-ram;
	};

	cpus {
		bootph-pre-ram;
		cpu@0 {
			bootph-pre-ram;
		};

		cpu@1 {
			bootph-pre-ram;
		};

		cpu@2 {
			bootph-pre-ram;
		};

		cpu@3 {
			bootph-pre-ram;
		};
	};

	memory {
		bootph-pre-ram;
	};

	/delete-node/ reserved-memory;
};

&uart6 {
	bootph-pre-ram;
	bootph-some-ram;
	dlf-size = <6>;
	/delete-property/ clock-frequency;
	/delete-property/ resets;
};

&sol4 {
	/delete-property/ memory-region;
};

&sol5 {
	/delete-property/ memory-region;
};

&pcie_ep0 {
	/delete-property/ memory-region;
};

&pcie_ep1 {
	/delete-property/ memory-region;
};

&pcie0_mmbi {
	/delete-property/ memory-region;
};

&pcie1_mmbi {
	/delete-property/ memory-region;
};

&espi0_mmbi {
	/delete-property/ memory-region;
};

&espi1_mmbi {
	/delete-property/ memory-region;
};

&espi0 {
	/delete-property/ memory-region;
};

&espi1 {
	/delete-property/ memory-region;
};

&vce0 {
	/delete-property/ memory-region;
};

&sol6 {
	/delete-property/ memory-region;
};

&sol7 {
	/delete-property/ memory-region;
};

&sol8 {
	/delete-property/ memory-region;
};

&sol9 {
	/delete-property/ memory-region;
};

&sol10 {
	/delete-property/ memory-region;
};

&sol11 {
	/delete-property/ memory-region;
};

&sol12 {
	/delete-property/ memory-region;
};

&sol13 {
	/delete-property/ memory-region;
};

&sol14 {
	/delete-property/ memory-region;
};

&dc0_clk {
	/delete-property/ memory-region;
};

&dc1_clk {
	/delete-property/ memory-region;
};

&clint {
	bootph-pre-ram;
};

&gmac2 {
	/delete-property/ assigned-clock-parents; //TEMPORARY FIX FOR CLK MUX SET PARENT FAIL
	bootph-pre-ram;
	mdio0 {
		bootph-pre-ram;
		ethernet_phy0: ethernet-phy@0 {
			bootph-pre-ram;
		};
	};
};

&plic {
	bootph-pre-ram;
};

&sfc0 {
	bootph-pre-ram;
	spi-max-frequency = <20000000>;
	rx-sample-delay-ns = <2>;
	/delete-property/ resets;
};

&timer0 {
	status = "disabled";
};

&timer1 {
	status = "disabled";
};

&timer2 {
	status = "disabled";
};

&wdt0 {
	bootph-pre-ram;
	timeout-sec = <120>;
	hw_margin_ms = <1000>;
	u-boot,autostart;
	status = "okay";
};

&wdt1 {
	bootph-pre-ram;
	timeout-sec = <15>;
	hw_margin_ms = <1000>;
	u-boot,noautostart;
	status = "okay";
};

&wdt2 {
	bootph-pre-ram;
	timeout-sec = <15>;
	hw_margin_ms = <1000>;
	u-boot,noautostart;
	status = "okay";
};

&wdt3 {
	bootph-pre-ram;
	timeout-sec = <15>;
	hw_margin_ms = <1000>;
	u-boot,noautostart;
	status = "okay";
};

&wdt_ext {
	bootph-pre-ram;
	status = "disabled";
	timeout-sec = <15>;
	hw_margin_ms = <1000>;
	u-boot,noautostart;
};

&pinctrl_bmcperiph0 {
	bootph-pre-ram;

	gmac1_mdio_pins: gmac1_mdio-grp {
		bootph-pre-ram;
		gmac1_mdc-pins {
			bootph-pre-ram;
		};

		gmac1_mdio-pins {
			bootph-pre-ram;
		};
	};

	gmac2_mdio_pins: gmac2_mdio-grp {
		bootph-pre-ram;
		gmac2_mdc-pins {
			bootph-pre-ram;
			bias-pull-up;
			input-enable;
		};

		gmac2_mdio-pins {
			bootph-pre-ram;
		};
	};

	gmac3_mdio_pins: gmac3_mdio-grp {
		bootph-pre-ram;
		gmac3_mdc-pins {
			bootph-pre-ram;
		};

		gmac3_mdio-pins {
			bootph-pre-ram;
		};
	};
};

&pinctrl_bmcperiph1 {
	bootph-pre-ram;

	spi0_pins: spi0-grp {
		bootph-pre-ram;

		spi0_sclk-pins {
			bootph-pre-ram;
		};

		spi0_cs0-pins {
			bootph-pre-ram;
		};

		spi0_cs1-pins {
			bootph-pre-ram;
		};

		spi0_tx-pins {
			bootph-pre-ram;
		};

		spi0_rx-pins {
			bootph-pre-ram;
		};
	};

	sfc0_pins: sfc0-grp {
		bootph-pre-ram;

		sfc0_sclk-pins {
			bootph-pre-ram;
		};

		sfc0_cs0-pins {
			bootph-pre-ram;
		};

		sfc0_cs1-pins {
			bootph-pre-ram;
		};

		sfc0_io0-pins {
			bootph-pre-ram;
		};

		sfc0_io1-pins {
			bootph-pre-ram;
		};

		sfc0_io2-pins {
			bootph-pre-ram;
		};

		sfc0_io3-pins {
			bootph-pre-ram;
		};
	};
};

&pinctrl_bmcperiph2 {
	bootph-pre-ram;

	gmac2_rgmii_pins: gmac2_rgmii-grp {
		bootph-pre-ram;
		gmac2_rgmii_txen-pins {
			bootph-pre-ram;
		};

		gmac2_rgmii_txclk-pins {
			bootph-pre-ram;
		};

		gmac2_rgmii_txd0-pins {
			bootph-pre-ram;
		};

		gmac2_rgmii_txd1-pins {
			bootph-pre-ram;
		};

		gmac2_rgmii_txd2-pins {
			bootph-pre-ram;
		};

		gmac2_rgmii_txd3-pins {
			bootph-pre-ram;
		};

		gmac2_rgmii_rxclk-pins {
			bootph-pre-ram;
		};

		gmac2_rgmii_rxdv-pins {
			bootph-pre-ram;
		};

		gmac2_rgmii_rxd0-pins {
			bootph-pre-ram;
		};

		gmac2_rgmii_rxd1-pins {
			bootph-pre-ram;
		};

		gmac2_rgmii_rxd2-pins {
			bootph-pre-ram;
		};

		gmac2_rgmii_rxd3-pins {
			bootph-pre-ram;
		};
	};
};

&pinctrl_bmcperiph2_pok {
	bootph-pre-ram;
};

&pinctrl_bmcperiph3 {
	bootph-pre-ram;

	gmac0_mdio_pins: gmac0_mdio-grp {
		bootph-pre-ram;
		gmac0_mdc-pins {
			bootph-pre-ram;
		};

		gmac0_mdio-pins {
			bootph-pre-ram;
		};
	};

	gmac0_rmii_pins: gmac0_rmii-grp {
		bootph-pre-ram;
		gmac0_rmii_txen-pins {
			bootph-pre-ram;
		};

		gmac0_rmii_txd0-pins {
			bootph-pre-ram;
		};

		gmac0_rmii_txd1-pins {
			bootph-pre-ram;
		};

		gmac0_rmii_rclki-pins {
			bootph-pre-ram;
		};

		gmac0_rmii_rclko-pins {
			bootph-pre-ram;
		};

		gmac0_rmii_rxdv-pins {
			bootph-pre-ram;
		};

		gmac0_rmii_rxd0-pins {
			bootph-pre-ram;
		};

		gmac0_rmii_rxd1-pins {
			bootph-pre-ram;
		};
	};
};

&pinctrl_sys0 {
	bootph-pre-ram;
};

&pinctrl_sys1 {
	bootph-pre-ram;
};

&pinctrl_sys2 {
	gpiow-vsel = <JHB100_VREF_3_3V>;
	bootph-pre-ram;
	bootph-some-ram;

	uart6_pins: uart6-grp {
		bootph-pre-ram;
		bootph-some-ram;

		uart6_tx-pins {
			drive-strength = <12>;
			bootph-pre-ram;
			bootph-some-ram;
		};

		uart6_rx-pins {
			drive-strength = <12>;
			bootph-pre-ram;
			bootph-some-ram;
		};
	};
};

&pinctrl_emmc {
	bootph-pre-ram;

	emmc0_pins: emmc0-grp {
		bootph-pre-ram;

		emmc0_clk-pins {
			bootph-pre-ram;
		};

		emmc0_rst-pins {
			bootph-pre-ram;
		};

		emmc0_cmd-pins {
			bootph-pre-ram;
		};

		emmc0_dqs-pins {
			bootph-pre-ram;
		};

		emmc0_data0-pins {
			bootph-pre-ram;
		};

		emmc0_data1-pins {
			bootph-pre-ram;
		};

		emmc0_data2-pins {
			bootph-pre-ram;
		};

		emmc0_data3-pins {
			bootph-pre-ram;
		};

		emmc0_data4-pins {
			bootph-pre-ram;
		};

		emmc0_data5-pins {
			bootph-pre-ram;
		};

		emmc0_data6-pins {
			bootph-pre-ram;
		};

		emmc0_data7-pins {
			bootph-pre-ram;
		};
	};
};

&spi0 {
	bootph-pre-ram;
};

&hwspinlock {
	bootph-pre-ram;
};

&pwm {
	bootph-pre-ram;
};

&emmc0 {
	bootph-pre-ram;
};
