// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (c) 2021-2022 StarFive Technology Co., Ltd.
 */

#include "jhb100-crg-u-boot.dtsi"
#include "jhb100-img.dtsi"
#include "jhb100-evb1-sfc0-flash.dtsi"
/ {
	aliases {
		timer0 = &timer0;
		ethernet0 = &gmac0;
		ethernet1 = &gmac1;
		ethernet2 = &gmac2;
		ethernet3 = &gmac3;
		spi0 = &sfc0;
		spi1 = &sfc1;
		spi2 = &spi0;
		wdt0 = &wdt0;
		wdt1 = &wdt1;
		wdt2 = &wdt2;
		wdt3 = &wdt3;
		wdt_ext = &wdt_ext;
		scp_buffer_cache = &scp_buffer_cache;
	};

	chosen {
		/* tick-timer = "timer0"; */
		bootph-pre-ram;

		opensbi-domains {
			compatible = "opensbi,domain,config";
			jhb100-system-suspend;
		};
	};

	config {
		u-boot,spl-primary-payload-offset = <0x210000>;
		u-boot,spl-payload-offset = <0x210000>;
		bootph-pre-ram;
	};

	cpus {
		bootph-pre-ram;
		cpu@0 {
			bootph-pre-ram;
		};

		cpu@1 {
			bootph-pre-ram;
		};

		cpu@2 {
			bootph-pre-ram;
		};

		cpu@3 {
			bootph-pre-ram;
		};
	};

	memory {
		bootph-pre-ram;
	};

	reserved-memory {
		bootph-pre-ram;
		/delete-node/ ramoops@4e200000;
		/delete-node/ dma-reserved@4e300000;
		/delete-node/ linux,dma@40e300000;
		/delete-node/ linux,cma;
	};

	soc {
		bootph-pre-ram;

		rpmi: rpmi-shmem@12c10000 {
			compatible = "riscv,rpmi-shmem-mbox";
			reg =	<0x0 0x12c10000 0x0 0x400>,
				<0x0 0x12c10400 0x0 0x400>,
				<0x0 0x12c10800 0x0 0x400>,
				<0x0 0x12c10c00 0x0 0x400>,
				<0x0 0x12c08000 0x0 0x8000>;
			reg-names = "a2p-req", "p2a-ack", "p2a-req",
				    "a2p-ack", "db-reg";
			#mbox-cells = <0x01>;
			riscv,slot-size = <0x40>;
			#address-cells = <1>;
			#size-cells = <0>;
			performance@10 {
				reg = <0x0A>;
				riscv,sbi-mpxy-channel-id = <0x1003>;
				mboxes = <&rpmi 0x0A>;
				compatible = "riscv,rpmi-mpxy-performance";
			};
			power-domain@9 {
				reg = <0x09>;
				riscv,sbi-mpxy-channel-id = <0x1002>;
				mboxes = <&rpmi 0x09>;
				compatible = "riscv,rpmi-mpxy-device-power";
			};
			clock@8 {
				reg = <0x08>;
				riscv,sbi-mpxy-channel-id = <0x1000>;
				mboxes = <&rpmi 0x08>;
				compatible = "riscv,rpmi-mpxy-clock";
			};
			sec-boot@8000 {
				bootph-pre-ram;
				reg = <0x8000>;
				riscv,sbi-mpxy-channel-id = <0x1005>;
				mboxes = <&rpmi 0x8000>;
				compatible = "riscv,rpmi-mpxy-jhb100-sec", "riscv,rpmi-jhb100-sec";
			};
			hsm@4 {
				reg = <0x0 0x0A200000 0x0 0x4000>;
					mboxes = <&rpmi 0x05>;
					compatible = "riscv,jhb100-rpmi-hsm";
			};

			sysreset@2 {
				reg = <0x0 0x14110000 0x0 0x2000>,
							<0x0 0x13010000 0x0 0x4000>,
							<0x0 0x14112000 0x0 0x2000>;
				mboxes = <&rpmi 0x03>;
				compatible = "riscv,jhb100-rpmi-system-reset";
			};
		};
	};
};

&scp_buffer_cache {
	bootph-pre-ram;
};

&cpu0_intc {
	bootph-pre-ram;
};

&cpu1_intc {
	bootph-pre-ram;
};

&cpu2_intc {
	bootph-pre-ram;
};

&cpu3_intc {
	bootph-pre-ram;
};

&uart6 {
	bootph-pre-ram;
	bootph-some-ram;
	dlf-size = <6>;
	/delete-property/ clock-frequency;
	/delete-property/ resets;
	/delete-property/ dmas;
};

&sol4 {
	/delete-property/ memory-region;
};

&sol5 {
	/delete-property/ memory-region;
};

&pcie_ep0 {
	/delete-property/ memory-region;
};

&pcie_ep1 {
	/delete-property/ memory-region;
};

&pcie0_mmbi {
	/delete-property/ memory-region;
};

&pcie1_mmbi {
	/delete-property/ memory-region;
};

&espi0_mmbi {
	/delete-property/ memory-region;
};

&espi1_mmbi {
	/delete-property/ memory-region;
};

&espi0 {
	/delete-property/ memory-region;
};

&espi1 {
	/delete-property/ memory-region;
};

&vce0 {
	/delete-property/ memory-region;
};

&sol6 {
	/delete-property/ memory-region;
};

&sol7 {
	/delete-property/ memory-region;
};

&sol8 {
	/delete-property/ memory-region;
};

&sol9 {
	/delete-property/ memory-region;
};

&sol10 {
	/delete-property/ memory-region;
};

&sol11 {
	/delete-property/ memory-region;
};

&sol12 {
	/delete-property/ memory-region;
};

&sol13 {
	/delete-property/ memory-region;
};

&sol14 {
	/delete-property/ memory-region;
};

&dc0_clk {
	/delete-property/ memory-region;
};

&dc1_clk {
	/delete-property/ memory-region;
};

&npu {
	/delete-property/ memory-region;
};

&clint {
	bootph-pre-ram;
};

&plic {
	bootph-pre-ram;
};

&sfc0 {
	bootph-pre-ram;
	spi-max-frequency = <5000000>;
	rx-sample-delay-ns = <0>;
	/delete-property/ resets;
	/delete-property/ dmas;

	flash@0 {
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
	};

	flash@1 {
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
	};
};

&timer0 {
	status = "disabled";
};

&timer1 {
	status = "disabled";
};

&timer2 {
	status = "disabled";
};

&wdt0 {
	bootph-pre-ram;
	timeout-sec = <120>;
	hw_margin_ms = <1000>;
	u-boot,autostart;
	status = "okay";
};

&wdt1 {
	bootph-pre-ram;
	timeout-sec = <15>;
	hw_margin_ms = <1000>;
	u-boot,noautostart;
	status = "okay";
};

&wdt2 {
	bootph-pre-ram;
	timeout-sec = <15>;
	hw_margin_ms = <1000>;
	u-boot,noautostart;
	status = "okay";
};

&wdt3 {
	bootph-pre-ram;
	timeout-sec = <15>;
	hw_margin_ms = <1000>;
	u-boot,noautostart;
	status = "okay";
};

&wdt_ext {
	bootph-pre-ram;
	status = "disabled";
	timeout-sec = <15>;
	hw_margin_ms = <1000>;
	u-boot,noautostart;
};

&pinctrl_bmcperiph0 {
	bootph-pre-ram;

	gmac1_mdio_pins: gmac1_mdio-grp {
		bootph-pre-ram;
		gmac1_mdc-pins {
			bootph-pre-ram;
		};

		gmac1_mdio-pins {
			bootph-pre-ram;
		};
	};

	gmac2_mdio_pins: gmac2_mdio-grp {
		bootph-pre-ram;
		gmac2_mdc-pins {
			bootph-pre-ram;
			bias-pull-up;
			input-enable;
		};

		gmac2_mdio-pins {
			bootph-pre-ram;
		};
	};

	gmac3_mdio_pins: gmac3_mdio-grp {
		bootph-pre-ram;
		gmac3_mdc-pins {
			bootph-pre-ram;
		};

		gmac3_mdio-pins {
			bootph-pre-ram;
		};
	};
};

&pinctrl_bmcperiph1 {
	bootph-pre-ram;

	spi0_pins: spi0-grp {
		bootph-pre-ram;

		spi0_sclk-pins {
			bootph-pre-ram;
		};

		spi0_cs0-pins {
			bootph-pre-ram;
		};

		spi0_cs1-pins {
			bootph-pre-ram;
		};

		spi0_tx-pins {
			bootph-pre-ram;
		};

		spi0_rx-pins {
			bootph-pre-ram;
		};
	};

	sfc0_pins: sfc0-grp {
		bootph-pre-ram;

		sfc0_sclk-pins {
			bootph-pre-ram;
		};

		sfc0_cs0-pins {
			bootph-pre-ram;
		};

		sfc0_cs1-pins {
			bootph-pre-ram;
		};

		sfc0_io0-pins {
			bootph-pre-ram;
		};

		sfc0_io1-pins {
			bootph-pre-ram;
		};

		sfc0_io2-pins {
			bootph-pre-ram;
		};

		sfc0_io3-pins {
			bootph-pre-ram;
		};
	};
};

&pinctrl_bmcperiph2 {
	bootph-pre-ram;

	gmac2_rgmii_pins: gmac2_rgmii-grp {
		bootph-pre-ram;
		gmac2_rgmii_txen-pins {
			bootph-pre-ram;
		};

		gmac2_rgmii_txclk-pins {
			bootph-pre-ram;
		};

		gmac2_rgmii_txd0-pins {
			bootph-pre-ram;
		};

		gmac2_rgmii_txd1-pins {
			bootph-pre-ram;
		};

		gmac2_rgmii_txd2-pins {
			bootph-pre-ram;
		};

		gmac2_rgmii_txd3-pins {
			bootph-pre-ram;
		};

		gmac2_rgmii_rxclk-pins {
			bootph-pre-ram;
		};

		gmac2_rgmii_rxdv-pins {
			bootph-pre-ram;
		};

		gmac2_rgmii_rxd0-pins {
			bootph-pre-ram;
		};

		gmac2_rgmii_rxd1-pins {
			bootph-pre-ram;
		};

		gmac2_rgmii_rxd2-pins {
			bootph-pre-ram;
		};

		gmac2_rgmii_rxd3-pins {
			bootph-pre-ram;
		};
	};
};

&pinctrl_bmcperiph2_pok {
	bootph-pre-ram;
};

&pinctrl_bmcperiph3 {
	bootph-pre-ram;

	gmac0_mdio_pins: gmac0_mdio-grp {
		bootph-pre-ram;
		gmac0_mdc-pins {
			bootph-pre-ram;
		};

		gmac0_mdio-pins {
			bootph-pre-ram;
		};
	};

	gmac0_rmii_pins: gmac0_rmii-grp {
		bootph-pre-ram;
		gmac0_rmii_txen-pins {
			bootph-pre-ram;
		};

		gmac0_rmii_txd0-pins {
			bootph-pre-ram;
		};

		gmac0_rmii_txd1-pins {
			bootph-pre-ram;
		};

		gmac0_rmii_rclki-pins {
			bootph-pre-ram;
		};

		gmac0_rmii_rclko-pins {
			bootph-pre-ram;
		};

		gmac0_rmii_rxdv-pins {
			bootph-pre-ram;
		};

		gmac0_rmii_rxd0-pins {
			bootph-pre-ram;
		};

		gmac0_rmii_rxd1-pins {
			bootph-pre-ram;
		};
	};
};

&pinctrl_sys0 {
	bootph-pre-ram;
};

&pinctrl_sys1 {
	bootph-pre-ram;
};

&pinctrl_sys2 {
	gpiow-vsel = <JHB100_VREF_3_3V>;
	bootph-pre-ram;
	bootph-some-ram;

	uart6_pins: uart6-grp {
		bootph-pre-ram;
		bootph-some-ram;

		uart6_tx-pins {
			drive-strength = <12>;
			bootph-pre-ram;
			bootph-some-ram;
		};

		uart6_rx-pins {
			drive-strength = <12>;
			bootph-pre-ram;
			bootph-some-ram;
		};
	};
};

&pinctrl_emmc {
	bootph-pre-ram;

	emmc0_pins: emmc0-grp {
		bootph-pre-ram;

		emmc0_clk-pins {
			bootph-pre-ram;
		};

		emmc0_rst-pins {
			bootph-pre-ram;
		};

		emmc0_cmd-pins {
			bootph-pre-ram;
		};

		emmc0_dqs-pins {
			bootph-pre-ram;
		};

		emmc0_data0-pins {
			bootph-pre-ram;
		};

		emmc0_data1-pins {
			bootph-pre-ram;
		};

		emmc0_data2-pins {
			bootph-pre-ram;
		};

		emmc0_data3-pins {
			bootph-pre-ram;
		};

		emmc0_data4-pins {
			bootph-pre-ram;
		};

		emmc0_data5-pins {
			bootph-pre-ram;
		};

		emmc0_data6-pins {
			bootph-pre-ram;
		};

		emmc0_data7-pins {
			bootph-pre-ram;
		};
	};
};

&spi0 {
	bootph-pre-ram;
	spi-max-frequency = <10000000>;
	/delete-property/ dmas;
};

&hwspinlock {
	bootph-pre-ram;
};

&pwm {
	bootph-pre-ram;
};

&emmc0 {
	bootph-pre-ram;
};

&syscon_bmcperiph2 {
	bootph-pre-ram;
};

/delete-node/ &espi0_mmbi_buffer_cache;
/delete-node/ &scp_buffer_uncache;
/delete-node/ &espi0_mmbi_buffer_uncache;
/delete-node/ &espi0_perif_mem_cache;
/delete-node/ &espi0_perif_mem_uncache;
/delete-node/ &pcie0_mmbi_buffer_cache;
/delete-node/ &pcie0_mmbi_buffer_uncache;
/delete-node/ &espi0_vw_mem_cache;
/delete-node/ &espi0_vw_mem_uncache;
/delete-node/ &pcie0_hdma_mem_cache;
/delete-node/ &pcie0_hdma_mem_uncache;
/delete-node/ &pcie0_media_mem_cache;
/delete-node/ &pcie0_media_mem_uncache;
/delete-node/ &pcie0_user_mem_cache;
/delete-node/ &pcie0_user_mem_uncache;
/delete-node/ &sol_tx_mem_cache;
/delete-node/ &sol_tx_mem_uncache;
/delete-node/ &sol_rx_mem_cache;
/delete-node/ &sol_rx_mem_uncache;
/delete-node/ &espi1_vw_mem_cache;
/delete-node/ &espi1_vw_mem_uncache;
/delete-node/ &espi1_mmbi_buffer_cache;
/delete-node/ &espi1_mmbi_buffer_uncache;
/delete-node/ &espi1_perif_mem_cache;
/delete-node/ &espi1_perif_mem_uncache;
/delete-node/ &pcie1_mmbi_buffer_cache;
/delete-node/ &pcie1_mmbi_buffer_uncache;
/delete-node/ &pcie1_media_mem_cache;
/delete-node/ &pcie1_media_mem_uncache;
/delete-node/ &pcie1_hdma_mem_cache;
/delete-node/ &pcie1_hdma_mem_uncache;
/delete-node/ &pcie1_user_mem_cache;
/delete-node/ &pcie1_user_mem_uncache;
