// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (c) 2025 StarFive Technology Co., Ltd.
 */

&dma_i3c {
	status = "disabled";
};

&dma_spi0 {
	status = "okay";
};

&espi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&espi0_pins &gpio_pass_1_pins &gpio_pass_2_pins>;
	status = "okay";
};

&i2c1_master {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	status = "disabled";
};

&i2c2_master {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pins>;
	status = "disabled";
};

&i2c3_master {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pins>;
	status = "disabled";
};

&i2c4_master {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4_pins>;
	status = "disabled";
};

&i2c6_master {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c6_pins>;
	status = "disabled";
};

&i2c7_master {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c7_pins>;
	status = "okay";

	ipmb@10 {
		compatible = "ipmb-dev";
		reg = <0x10>;
		i2c-protocol;
		slave-dev = <&i2c7_slave>;
	};
};

&i2c7_slave {
	clock-frequency = <100000>;
	status = "okay";
};

&i2c8_master {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c8_pins &smbus8_alt_a_pins>;
	status = "disabled";
};

&i2c9_master {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c9_pins>;
	status = "disabled";
};

&i2c10_master {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c10_pins>;
	status = "disabled";
};

&i2c11_master {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c11_pins>;
	status = "disabled";
};

&i3c0 {
	i2c-scl-hz = <400000>;
	i3c-scl-hz = <12500000>;
	mode = "master";
	pinctrl-names = "default";
	pinctrl-0 = <&i3c0lv_pins>;
	i3c-od-scl-high-ns = <1000>;
	i3c-od-scl-low-ns = <1500>;
	i3c-pp-scl-high-ns = <60>;
	i3c-pp-scl-low-ns = <100>;
	master-sda-tx-hold = <3>;
	master-sda-pp-od-switch-dly = <1>;
	master-sda-od-pp-switch-dly = <1>;
	master-stop-hold-cnt = <0xf>;
	is-mng;
	status = "okay";
	#address-cells = <3>;
	#size-cells = <0>;

	hub@0,0 {
		reg = <0x0 0x0 0x0>;
		cp0-ldo-en = "disabled";
		cp1-ldo-en = "disabled";
		cp0-ldo-volt = "1.0V";
		cp1-ldo-volt = "1.0V";
		tp0145-ldo-en = "disabled";
		tp2367-ldo-en = "disabled";
		tp0145-ldo-volt = "1.0V";
		tp2367-ldo-volt = "1.0V";
		tp0145-pullup = "2k";
		tp2367-pullup = "2k";
		tp0145-io-strength = "50Ohms";
		tp2367-io-strength = "50Ohms";

		target-port@0 {
			mode = "i3c";
			pullup = "enabled";
		};
		target-port@1 {
			mode = "disabled";
			pullup = "disabled";
		};
		target-port@2 {
			mode = "i3c";
			pullup = "disabled";
		};
		target-port@3 {
			mode = "disabled";
			pullup = "disabled";
		};
		target-port@4 {
			mode = "disabled";
			pullup = "disabled";
		};
		target-port@5 {
			mode = "disabled";
			pullup = "disabled";
		};
		target-port@6 {
			mode = "disabled";
			pullup = "disabled";
		};
		target-port@7 {
			mode = "disabled";
			pullup = "disabled";
		};
	};
};

&i3c1 {
	i2c-scl-hz = <400000>;
	i3c-scl-hz = <12500000>;
	mode = "master";
	hotjoin;
	pinctrl-names = "default";
	pinctrl-0 = <&i3c1lv_pins>;
	status = "disabled";
};

&i3c2 {
	i2c-scl-hz = <400000>;
	i3c-scl-hz = <12500000>;
	mode = "master";
	hotjoin;
	pinctrl-names = "default";
	pinctrl-0 = <&i3c2lv_pins>;
	status = "disabled";
};

&i3c12 {
	i2c-scl-hz = <400000>;
	i3c-scl-hz = <1000000>;
	mode = "master";
	hotjoin;
	pinctrl-names = "default";
	pinctrl-0 = <&i3c12_pins>;
	status = "disabled";
};

&i3c13 {
	i2c-scl-hz = <400000>;
	i3c-scl-hz = <1000000>;
	mode = "master";
	hotjoin;
	pinctrl-names = "default";
	pinctrl-0 = <&i3c13_pins>;
	status = "disabled";
};

&jtag1 {
	pinctrl-names = "jtag";
	pinctrl-0 = <&jtagm1_pins>;
	status = "okay";
};

&peci0 {
	status = "okay";
};

&peci1 {
	status = "okay";
};

&pinctrl_adc0 {
	smbus8_alt_a_pins: smbus8_alt_a-grp {
		smbus8_alt_a-pins {
			input-enable;
		};
	};
};

&sfc0 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&sfc0_1cs_pins>;
	num-cs = <1>;
};

&sgpio0 {
	pinctrl-names = "default";
	pinctrl-0 = <&sgpio0_pins>;
	status = "okay";

	gpio-line-names =
		"", "P80_DOUT0", "", "P80_DOUT1", "", "P80_DOUT2", "", "P80_DOUT3",
		"", "P80_DOUT4", "", "P80_DOUT5", "", "P80_DOUT6", "", "P80_DOUT7",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "BMC_BOOT_DONE",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "";
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins>;
	status = "okay";

	spi_dev0: spi@0 {
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <12000000>;
		reg = <0>;
	};
};

&uart9 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-names = "default";
	pinctrl-0 = <&uart9_pins>;
};

&uart11 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-names = "default";
	pinctrl-0 = <&uart11_pins>;
};
