// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (c) 2024 StarFive Technology Co., Ltd.
 */

&sfc0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&sfc0_pins>;

	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <40000000>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "Boot Info Active";
				reg = <0x0 0x10000>;
			};

			partition@1 {
				label = "L0 Firmware Active";
				reg = <0x10000 0x80000>;
			};

			partition@2 {
				label = "L1 Firmware Active";
				reg = <0x90000 0x80000>;
			};

			partition@3 {
				label = "U-Boot SPL Active";
				reg = <0x110000 0x80000>;
			};

			partition@4 {
				label = "U-Boot FIT Active";
				reg = <0x190000 0x260000>;
			};

			partition@5 {
				label = "SFC I2C filter cfg Active";
				reg = <0x3f0000 0x10000>;
			};

			partition@6 {
				label = "U-Boot Environment";
				reg = <0x400000 0x10000>;
			};

			partition@7 {
				label = "L0 Firmware Temp";
				reg = <0x410000 0x80000>;
			};

			partition@8 {
				label = "L1 Firmware Temp";
				reg = <0x490000 0x80000>;
			};

			partition@9 {
				label = "U-Boot SPL Temp";
				reg = <0x510000 0x80000>;
			};

			partition@10 {
				label = "U-Boot FIT Temp";
				reg = <0x590000 0x260000>;
			};

			partition@11 {
				label = "SFC I2C filter cfg Temp";
				reg = <0x7f0000 0x10000>;
			};

			partition@12 {
				label = "Kernel FIT Active (compressed)";
				reg = <0x800000 0x1000000>;
			};

			partition@13 {
				label = "Kernel FIT Temp (compressed)";
				reg = <0x1800000 0x1000000>;
			};

			partition@14 {
				label = "Data";
				reg = <0x2800000 0x5800000>;
			};
		};
	};

	flash@1 {
		compatible = "jedec,spi-nor";
		reg = <1>;
		spi-max-frequency = <40000000>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "Reserved";
				reg = <0x0 0x10000>;
			};

			partition@1 {
				label = "L0 Firmware Golden";
				reg = <0x10000 0x80000>;
			};

			partition@2 {
				label = "L1 Firmware Golden";
				reg = <0x90000 0x80000>;
			};

			partition@3 {
				label = "U-Boot SPL Golden";
				reg = <0x110000 0x80000>;
			};

			partition@4 {
				label = "U-Boot FIT Golden";
				reg = <0x190000 0x260000>;
			};

			partition@5 {
				label = "SFC I2C filter cfg Golden";
				reg = <0x3f0000 0x10000>;
			};

			partition@6 {
				label = "U-Boot Environment";
				reg = <0x400000 0x10000>;
			};

			partition@7 {
				label = "Kernel FIT Golden (compressed)";
				reg = <0x410000 0x1000000>;
			};

			partition@8 {
				label = "Data";
				reg = <0x1410000 0x6bf0000>;
			};
		};
	};
};
