// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (c) 2025 StarFive Technology Co., Ltd.
 */

#include "jhb100.dtsi"
#include "jhb100-pinctrl.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/i2c/i2c.h>

/ {
	model = "StarFive JHB100 EVB-1";
	compatible = "starfive,jhb100-evb1", "starfive,jhb100";

	aliases {
		serial4 = &uart4;
		serial5 = &uart5;
		serial6 = &uart6;
		serial7 = &uart7;
		serial8 = &uart8;
		serial9 = &uart9;
		serial10 = &uart10;
		serial11 = &uart11;
		serial12 = &uart12;
		serial13 = &uart13;
		serial14 = &uart14;

		ethernet0 = &gmac0;
		ethernet1 = &gmac1;
		ethernet2 = &gmac2;
		ethernet3 = &gmac3;

		i2c0 = &i2c0_master;
		i2c1 = &i2c0_slave;

		i2c2 = &i2c1_master;
		i2c3 = &i2c1_slave;

		i2c4 = &i2c2_master;
		i2c5 = &i2c2_slave;

		i2c6 = &i2c3_master;
		i2c7 = &i2c3_slave;

		i2c8 = &i2c4_master;
		i2c9 = &i2c4_slave;

		i2c10 = &i2c5_master;
		i2c11 = &i2c5_slave;

		i2c12 = &i2c6_master;
		i2c13 = &i2c6_slave;

		i2c14 = &i2c7_master;
		i2c15 = &i2c7_slave;

		i2c16 = &i2c8_master;
		i2c17 = &i2c8_slave;

		i2c18 = &i2c9_master;
		i2c19 = &i2c9_slave;

		i2c20 = &i2c10_master;
		i2c21 = &i2c10_slave;

		i2c22 = &i2c11_master;
		i2c23 = &i2c11_slave;

		i2c24 = &i2c12_master;
		i2c25 = &i2c12_slave;

		i2c26 = &i2c13_master;
		i2c27 = &i2c13_slave;

		i2c28 = &i2c14_master;
		i2c29 = &i2c14_slave;

		i2c30 = &i2c15_master;
		i2c31 = &i2c15_slave;

		i2c32 = &i3c0;
		i2c33 = &i3c1;
		i2c34 = &i3c2;
		i2c35 = &i3c3;
		i2c36 = &i3c4;
		i2c37 = &i3c5;
		i2c38 = &i3c6;
		i2c39 = &i3c7;
		i2c40 = &i3c8;
		i2c41 = &i3c9;
		i2c42 = &i3c10;
		i2c43 = &i3c11;
		i2c44 = &i3c12;
		i2c45 = &i3c13;
		i2c46 = &i3c14;
		i2c47 = &i3c15;

		i2c48 = &imux0;
		i2c49 = &imux1;
		i2c50 = &imux2;
		i2c51 = &imux3;
		i2c52 = &imux4;
		i2c53 = &imux5;
		i2c54 = &imux6;
		i2c55 = &imux7;

		i3c0 = &i3c0;
		i3c1 = &i3c1;
		i3c2 = &i3c2;
		i3c3 = &i3c3;
		i3c4 = &i3c4;
		i3c5 = &i3c5;
		i3c6 = &i3c6;
		i3c7 = &i3c7;
		i3c8 = &i3c8;
		i3c9 = &i3c9;
		i3c10 = &i3c10;
		i3c11 = &i3c11;
		i3c12 = &i3c12;
		i3c13 = &i3c13;
		i3c14 = &i3c14;
		i3c15 = &i3c15;

		peci0 = &peci0;
		peci4 = &peci1;

		spi0 = &sfc0;
		spi1 = &sfc1;
		spi2 = &sfc2;
		spi3 = &spi0;
	};

	chosen {
		stdout-path = "serial6:115200n8";
	};

	cpus {
		timebase-frequency = <5000000>;
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x40000000 0x0 0x40000000>;	/* 1GB */
	};

	reserved-memory {
		#address-cells = <0x2>;
		#size-cells = <0x2>;
		ranges;

		#include "jhb100-reserved-mem.dtsi"

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 0x08000000>;
			alignment = <0x0 0x1000>;
			alloc-ranges = <0x0 0x40000000 0x2 0x0>;
			linux,cma-default;
		};
	};

	fan0: pwm-fan0 {
		compatible = "pwm-fan";
		pwms = <&pwm 0 40000 0>;
	};

	fan1: pwm-fan1 {
		compatible = "pwm-fan";
		pwms = <&pwm 1 40000 0>;
	};

	fan2: pwm-fan2 {
		compatible = "pwm-fan";
		pwms = <&pwm 2 40000 0>;
	};

	fan3: pwm-fan3 {
		compatible = "pwm-fan";
		pwms = <&pwm 3 40000 0>;
	};

	fan4: pwm-fan4 {
		compatible = "pwm-fan";
		pwms = <&pwm 4 40000 0>;
	};

	fan5: pwm-fan5 {
		compatible = "pwm-fan";
		pwms = <&pwm 5 40000 0>;
	};

	fan6: pwm-fan6 {
		compatible = "pwm-fan";
		pwms = <&pwm 6 40000 0>;
	};

	fan7: pwm-fan7 {
		compatible = "pwm-fan";
		pwms = <&pwm 7 40000 0>;
	};

	vcc_1v8: regulator-vcc-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc-1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	vcc_3v3: regulator-vcc-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};
};

&dc0_clk {
	single-node = <0>;
	status = "okay";
};

&dc1_clk {
	single-node = <0>;
	status = "okay";
};

&dma_i2c {
	status = "disabled";
};

&dma_sfc0 {
	status = "okay";
};

&dma_system {
	status = "okay";
};

&dma_uart {
	status = "okay";
};

&dp {
	status = "okay";
};

&emmc0 {
	mmc-hs400-1_8v;
	max-frequency = <200000000>;
	non-removable;
	status = "okay";
};

&espi0 {
	starfive,flash-mtd-device = "bios-image0";
	starfive,host-src-addr = /bits/ 64 <0xf6810000>;
	perif-memcyc-size = <0x400000>;
	memory-region = <&espi0_mmbi_buffer_uncache>,
			<&espi0_perif_mem_uncache>,
			<&espi0_vw_mem_uncache>;

	starfive,bt-remap-num = <2>;
	starfive,kcs-remap-num = <4>;
	starfive,uart-remap-num = <2>;
	starfive,bt-io-addr = /bits/ 32 <0xe4 0xf4>;
	starfive,kcs-io-addr = /bits/ 32 <0xca2 0xcb2 0xcc2 0xcd2>;
	starfive,uart-io-addr = /bits/ 32 <0x3f8 0x410>;
	starfive,wdi-io-addr = /bits/ 32 <0xa00>;
	starfive,mbox-io-addr = /bits/ 32 <0x300>;

	starfive,vgpio_dir_bits = /bits/ 64 <0xffffffff00000000 0x0000000000000000>;
	starfive,vgpio_lvl_bits = /bits/ 64 <0x0000000000000000 0x0000000000000000>;
	starfive,vgpio_phy_bits = /bits/ 64 <0x0000000f0000000f 0x0000000000000000>;

	status = "okay";
};

&espi0_mmbi {
	mmbi-id = /bits/ 8 <0>;
	mmbi-instance-num = /bits/ 32 <1>;
	mmbi-instance-size = /bits/ 32 <0x10000>;
	mmbi-src-addr-offset = /bits/ 32 <0x10000>;
	mmbi-osuse = /bits/ 8 <0 0 0 0 0 0 0 0>;
	memory-region = <&espi0_mmbi_buffer_uncache>;
	status = "okay";
};

&espi1 {
	starfive,flash-mtd-device = "bios-image1";
	starfive,host-src-addr = /bits/ 64 <0xf6810000>;
	perif-memcyc-size = <0x400000>;
	memory-region = <&espi1_mmbi_buffer_uncache>,
			<&espi1_perif_mem_uncache>,
			<&espi1_vw_mem_uncache>;

	starfive,bt-remap-num = <2>;
	starfive,kcs-remap-num = <4>;
	starfive,uart-remap-num = <2>;
	starfive,bt-io-addr = /bits/ 32 <0xe4 0xf4>;
	starfive,kcs-io-addr = /bits/ 32 <0xca2 0xcb2 0xcc2 0xcd2>;
	starfive,uart-io-addr = /bits/ 32 <0x3f8 0x410>;
	starfive,wdi-io-addr = /bits/ 32 <0xa00>;
	starfive,mbox-io-addr = /bits/ 32 <0x300>;

	starfive,vgpio_dir_bits = /bits/ 64 <0xffffffff00000000 0x0000000000000000>;
	starfive,vgpio_lvl_bits = /bits/ 64 <0x0000000000000000 0x0000000000000000>;
	starfive,vgpio_phy_bits = /bits/ 64 <0x0000000f0000000f 0x0000000000000000>;

	status = "okay";
};

&espi1_mmbi {
	mmbi-id = /bits/ 8 <1>;
	mmbi-instance-num = /bits/ 32 <1>;
	mmbi-instance-size = /bits/ 32 <0x10000>;
	mmbi-src-addr-offset = /bits/ 32 <0x10000>;
	mmbi-osuse = /bits/ 8 <0 0 0 0 0 0 0 0>;
	memory-region = <&espi1_mmbi_buffer_uncache>;
	status = "okay";
};

&gmac1 {
	phy-handle = <&phy0>;
	pinctrl-names = "default";
	pinctrl-0 = <&gmac1_mdio_pins>;
	snps,ps-speed = <1000>;

	/* PHY reset pin */
	/* reset-gpios = <&pinctrl_sys2 4 GPIO_ACTIVE_LOW>; */
	/* reset-assert-us = <15000>; */
	/* reset-deassert-us = <15000>; */
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";

		phy0: ethernet-phy@0 {
			reg = <0>;
			motorcomm,clk-out-frequency-hz = <25000000>;
		};
	};
};

&husb0d0 {
	status = "okay";
};

&husb0d1 {
	status = "okay";
};

&husb0d2 {
	status = "okay";
};

&husb0d3 {
	status = "okay";
};

&husb0d4 {
	status = "okay";
};

&husb0d5 {
	status = "okay";
};

&husb0d6 {
	status = "okay";
};

&husb0d7 {
	status = "okay";
};

&husb0 {
	interrupts-extended = <&plic 251>, <&plic 271>, <&intc 53>, <&intc 54>;
	interrupt-names = "err", "pme", "perst_pe", "perst_ne";
	status = "okay";
};

&husb0core {
	snps,export-xhci-to-pcie;
};

&husbd0crg {
	status = "okay";
};

&husb0crg {
	status = "okay";
};

&husb1d0 {
	status = "okay";
};

&husb1d1 {
	status = "okay";
};

&husb1d2 {
	status = "okay";
};

&husb1d3 {
	status = "okay";
};

&husb1d4 {
	status = "okay";
};

&husb1d5 {
	status = "okay";
};

&husb1d6 {
	status = "okay";
};

&husb1d7 {
	status = "okay";
};

&husb1 {
	interrupts-extended = <&plic 261>, <&plic 315>, <&intc 55>, <&intc 56>;
	interrupt-names = "err", "pme", "perst_pe", "perst_ne";
	status = "okay";
 };

&husb1core {
	snps,export-xhci-to-pcie;
};

&husbd1crg {
	status = "okay";
};

&husb1crg {
	status = "okay";
};

&husbphy0 {
	status = "okay";
};

&husbphy1 {
	status = "okay";
};

&hwspinlock {
	status = "okay";
};

&i2c0_master {
	clock-frequency = <100000>;
	status = "okay";

	i2c-mux@77 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x77>;
		reset-gpios = <&pinctrl_sys2 5 GPIO_ACTIVE_LOW>;
		i2c-mux-idle-disconnect;
		vdd-supply = <&vcc_3v3>;

		imux0: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};
		imux1: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};
		imux2: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};
		imux3: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};
		imux4: i2c@4 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <4>;
		};
		imux5: i2c@5 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <5>;
		};
		imux6: i2c@6 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <6>;
		};
		imux7: i2c@7 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <7>;
		};
	};
};

&imux6 {
	rtc@6f {
		compatible = "nxp,pcf85053a";
		reg = <0x6f>;
	};
};

&pcie_rc {
	pinctrl-names = "default";
	pinctrl-0 = <&pe2rst_pins>;
	status = "okay";
};

&pcierp_mctp {
	status = "okay";
};

&pcie_ep0 {
	memory-region = <&pcie0_media_mem_uncache>,
			<&pcie0_user_mem_uncache>,
			<&pcie0_mmbi_buffer_uncache>,
			<&pcie0_hdma_mem_uncache>;
	starfive,support-usb-vout-func;
	status = "okay";
};

&pcie_ep1 {
	memory-region = <&pcie1_media_mem_uncache>,
			<&pcie1_user_mem_uncache>,
			<&pcie1_mmbi_buffer_uncache>,
			<&pcie1_hdma_mem_uncache>;
	starfive,support-usb-vout-func;
	status = "okay";
};

&pcie0_mctp {
	status = "okay";
};

&pcie0_mmbi {
	mmbi-id = /bits/ 8 <0>;
	mmbi-instance-num = /bits/ 32 <8>;
	mmbi-instance-size = /bits/ 32 <0x10000>;
	mmbi-src-addr-offset = /bits/ 32 <0>;
	mmbi-osuse = /bits/ 8 <1 1 1 1 1 1 1 1>;
	memory-region = <&pcie0_mmbi_buffer_uncache>;
	starfive,raise-irq-syscon = <&pcie_ep0_ecsr 0x700 0xd>;
	starfive,rst-en-syscon = <&strap_reg 0x50 0x400>;
	status = "okay";
};

&pcie1_mctp {
	status = "okay";
};

&pcie1_mmbi {
	mmbi-id = /bits/ 8 <1>;
	mmbi-instance-num = /bits/ 32 <8>;
	mmbi-instance-size = /bits/ 32 <0x10000>;
	mmbi-src-addr-offset = /bits/ 32 <0>;
	mmbi-osuse = /bits/ 8 <1 1 1 1 1 1 1 1>;
	memory-region = <&pcie1_mmbi_buffer_uncache>;
	starfive,raise-irq-syscon = <&pcie_ep1_ecsr 0x700 0xd>;
	starfive,rst-en-syscon = <&strap_reg 0x50 0x800>;
	status = "okay";
};

&pvt_cpu {
	status = "okay";
};

&pvt_ddr {
	status = "okay";
};

&pvt_gpu0 {
	status = "okay";
};

&pvt_gpu1 {
	status = "okay";
};

&pvt_sys {
	status = "okay";
};

&pvt_usb {
	status = "okay";
};

&pvt_vce {
	status = "okay";
};

&reri0 {
	status = "okay";
};

&reri1 {
	status = "okay";
};

&reri2 {
	status = "okay";
};

&reri3 {
	status = "okay";
};

&reri4 {
	status = "okay";
};

&rtc {
	status = "okay";
};

&sfc0 {
	status = "okay";
	rx-sample-delay-ns = <10>;
};

&sgmii_phy1 {
	status = "okay";
};

&sio0 {
	status = "okay";

	sio0_bt0: bt@0 {
		bt_chan = <0>;
		status = "okay";
	};

	sio0_bt1: bt@100 {
		bt_chan = <1>;
		status = "okay";
	};

	sio0_kcs0: kcs@200 {
		kcs_chan = <0>;
		status = "okay";
	};

	sio0_kcs1: kcs@300 {
		kcs_chan = <1>;
		status = "okay";
	};

	sio0_kcs2: kcs@400 {
		kcs_chan = <2>;
		status = "okay";
	};

	sio0_kcs3: kcs@500 {
		kcs_chan = <3>;
		status = "okay";
	};

	sio0_mbox: mbox@600 {
		status = "okay";
	};

	sio0_pcc: pcc@800 {
		starfive,pcc-threshold = <0>;
		status = "okay";
	};

	sio0_wdi: wdi@900 {
		status = "okay";
	};
};

&sio1 {
	status = "okay";

	sio1_bt0: bt@0 {
		bt_chan = <2>;
		status = "okay";
	};

	sio1_bt1: bt@100 {
		bt_chan = <3>;
		status = "okay";
	};

	sio1_kcs0: kcs@200 {
		kcs_chan = <4>;
		status = "okay";
	};

	sio1_kcs1: kcs@300 {
		kcs_chan = <5>;
		status = "okay";
	};

	sio1_kcs2: kcs@400 {
		kcs_chan = <6>;
		status = "okay";
	};

	sio1_kcs3: kcs@500 {
		kcs_chan = <7>;
		status = "okay";
	};

	sio1_mbox: mbox@600 {
		status = "okay";
	};

	sio1_pcc: pcc@800 {
		starfive,pcc-threshold = <0>;
		status = "okay";
	};

	sio1_wdi: wdi@900 {
		status = "okay";
	};
};

&sol5 {
	memory-region = <&sol_tx_mem_uncache>,
			<&sol_rx_mem_uncache>;
	tx-size = <3>;
	rx-size = <3>;
	dev-id = <5>;
	status = "disabled";
};

&sol6 {
	memory-region = <&sol_tx_mem_uncache>,
			<&sol_rx_mem_uncache>;
	tx-size = <3>;
	rx-size = <3>;
	dev-id = <6>;
	status = "okay";
};

&sol7 {
	memory-region = <&sol_tx_mem_uncache>,
			<&sol_rx_mem_uncache>;
	tx-size = <3>;
	rx-size = <3>;
	dev-id = <7>;
	status = "disabled";
};

&sol8 {
	memory-region = <&sol_tx_mem_uncache>,
			<&sol_rx_mem_uncache>;
	tx-size = <3>;
	rx-size = <3>;
	dev-id = <8>;
	status = "disabled";
};

&sol13 {
	memory-region = <&sol_tx_mem_uncache>,
			<&sol_rx_mem_uncache>;
	tx-size = <3>;
	rx-size = <3>;
	dev-id = <13>;
	status = "disabled";
};

&sol14 {
	memory-region = <&sol_tx_mem_uncache>,
			<&sol_rx_mem_uncache>;
	tx-size = <3>;
	rx-size = <3>;
	dev-id = <14>;
	status = "disabled";
};

&timer0 {
	status = "okay";
};

&timer1 {
	status = "okay";
};

&timer2 {
	status = "okay";
};

&uart5 {
	status = "disabled";
	current-speed = <115200>;
	pinctrl-names = "default";
	pinctrl-0 = <&uart5_pins>;
};

&uart6 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-names = "default";
	pinctrl-0 = <&uart6_pins>;
};

&uart7 {
	status = "disabled";
	current-speed = <115200>;
	pinctrl-names = "default";
	pinctrl-0 = <&uart7_pins>;
};

&uart8 {
	status = "disabled";
	current-speed = <115200>;
	pinctrl-names = "default";
	pinctrl-0 = <&uart8_pins>;
};

&uart13 {
	status = "disabled";
	current-speed = <115200>;
	pinctrl-names = "default";
	pinctrl-0 = <&uart13_pins>;
};

&uart14 {
	status = "disabled";
	current-speed = <115200>;
	pinctrl-names = "default";
	pinctrl-0 = <&uart14_pins>;
};

&uart_routing {
	starfive,chsel = /bits/ 8 <0 0 0 0 0 0 0 0 0 0 0 0 0 0 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_rs232_pins>;
	status = "okay";
};

&ufs0 {
	status = "okay";
};

&usb0 {
	status = "okay";
};

&usb0core {
	dr_mode = "host";
};

&usb1 {
	status = "okay";
};

&usb1core {
	dr_mode = "host";
};

&vga {
	status = "okay";
};

&voutcrg {
	status = "okay";
};

&wdt0 {
	status = "okay";
};

&wdt1 {
	status = "disabled";
};

&wdt2 {
	status = "disabled";
};

&wdt3 {
	status = "disabled";
};

&wdt_ext {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&wdt4_ext_reset_pins &wdt4_restart_pins>;
};

&led0 {
	status = "okay";
};

&vce0 {
	memory-region = <&pcie0_media_mem_uncache>;
	status = "okay";
};
