// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (c) 2024 StarFive Technology Co., Ltd.
 */

#include "jhb100.dtsi"
#include "jhb100-evb1-sfc0-flash.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/i2c/i2c.h>

/ {
	model = "StarFive JHB100 FPGA";
	compatible = "starfive,jhb100-fpga", "starfive,jhb100";

	aliases {
		serial0 = &uart5;
		serial1 = &uart4;
		ethernet0 = &gmac0;
		ethernet1 = &gmac1;
		ethernet2 = &gmac2;
		ethernet3 = &gmac3;

		i2c0 = &i2c0_master;
		i2c1 = &i2c0_slave;

		i2c2 = &i2c1_master;
		i2c3 = &i2c1_slave;

		i2c4 = &i2c2_master;
		i2c5 = &i2c2_slave;

		i2c6 = &i2c3_master;
		i2c7 = &i2c3_slave;

		i2c8 = &i2c4_master;
		i2c9 = &i2c4_slave;

		i2c10 = &i2c5_master;
		i2c11 = &i2c5_slave;

		i2c12 = &i2c6_master;
		i2c13 = &i2c6_slave;

		i2c14 = &i2c7_master;
		i2c15 = &i2c7_slave;

		i2c16 = &i2c8_master;
		i2c17 = &i2c8_slave;

		i2c18 = &i2c9_master;
		i2c19 = &i2c9_slave;

		i2c20 = &i2c10_master;
		i2c21 = &i2c10_slave;

		i2c22 = &i2c11_master;
		i2c23 = &i2c11_slave;

		i2c24 = &i2c12_master;
		i2c25 = &i2c12_slave;

		i2c26 = &i2c13_master;
		i2c27 = &i2c13_slave;

		i2c28 = &i2c14_master;
		i2c29 = &i2c14_slave;

		i2c30 = &i2c15_master;
		i2c31 = &i2c15_slave;

		i3c0 = &i3c0;
		i3c1 = &i3c1;
		i3c2 = &i3c2;
		i3c3 = &i3c3;
		i3c4 = &i3c4;
		i3c5 = &i3c5;
		i3c6 = &i3c6;
		i3c7 = &i3c7;
		i3c8 = &i3c8;
		i3c9 = &i3c9;
		i3c10 = &i3c10;
		i3c11 = &i3c11;
		i3c12 = &i3c12;
		i3c13 = &i3c13;
		i3c14 = &i3c14;
		i3c15 = &i3c15;
	};

	reg_vcc_1v8: vcc-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc-1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	cpus {
		timebase-frequency = <4000000>;
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x40000000 0x0 0x40000000>;	/* 1GB */
	};

	reserved-memory {
		#address-cells = <0x2>;
		#size-cells = <0x2>;
		ranges;

		#include "jhb100-reserved-mem.dtsi"

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 0x08000000>;
			alignment = <0x0 0x1000>;
			alloc-ranges = <0x0 0x40000000 0x2 0x0>;
			linux,cma-default;
		};
	};

	fan0: pwm-fan0 {
		compatible = "pwm-fan";
		pwms = <&pwm 0 40000 0>;
		cooling-min-state = <0>;
		cooling-max-state = <3>;
		#cooling-cells = <2>;
		cooling-levels = <0 100 180 255>;
	};

	soc {
		fpga_20mhz_clk: fpga_20mhz_clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <20000000>;
		};

		fpga_12mhz_clk: fpga_12mhz_clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <12000000>;
		};

		fpga_3mhz_clk: fpga_3mhz_clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <3000000>;
		};

		fpga_4mhz_clk: fpga_4mhz_clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <4000000>;
		};

		fpga_2p5mhz_clk: fpga_2p5mhz_clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <2500000>;
		};
	};
};

&pinctrl_adc0 {
	status = "disabled";
};

&pinctrl_adc1 {
	status = "disabled";
};

&pinctrl_sys0h {

	gpio-line-names =
		"ESPI_IO0", "ESPI_IO1", "ESPI_IO2", "ESPI_IO3",
		"ESPI_CLK", "ESPI_CS", "ESPI_ALERT", "ESPI_RESET";

	espi0_pins: espi0-grp {
		espi0-rst-pins {
			pinmux = <PINMUX(PADNUM_SYSTOP_SYS0H_GPIO_A11,
					 FUNC_SYSTOP_SYS0H_ESPI0_RESET)>;
			input-enable;
		};

		espi0-alt-pins {
			pinmux = <PINMUX(PADNUM_SYSTOP_SYS0H_GPIO_A10,
					 FUNC_SYSTOP_SYS0H_ESPI0_ALERT)>;
		};

		espi0-cs-pins {
			pinmux = <PINMUX(PADNUM_SYSTOP_SYS0H_GPIO_A9,
					 FUNC_SYSTOP_SYS0H_ESPI0_CS)>;
			bias-pull-up;
			input-enable;
		};

		espi0-clk-pins {
			pinmux = <PINMUX(PADNUM_SYSTOP_SYS0H_GPIO_A8,
					 FUNC_SYSTOP_SYS0H_ESPI0_CLK)>;
			bias-pull-down;
			input-enable;
		};

		espi0-io0-pins {
			pinmux = <PINMUX(PADNUM_SYSTOP_SYS0H_GPIO_A4,
					 FUNC_SYSTOP_SYS0H_ESPI0_DATA0)>;
			bias-pull-up;
			input-enable;
		};

		espi0-io1-pins {
			pinmux = <PINMUX(PADNUM_SYSTOP_SYS0H_GPIO_A5,
					 FUNC_SYSTOP_SYS0H_ESPI0_DATA1)>;
			bias-pull-up;
			input-enable;

		};

		espi0-io2-pins {
			pinmux = <PINMUX(PADNUM_SYSTOP_SYS0H_GPIO_A6,
					 FUNC_SYSTOP_SYS0H_ESPI0_DATA2)>;
			bias-pull-up;
			input-enable;
		};

		espi0-io3-pins {
			pinmux = <PINMUX(PADNUM_SYSTOP_SYS0H_GPIO_A7,
					 FUNC_SYSTOP_SYS0H_ESPI0_DATA3)>;
			bias-pull-up;
			input-enable;
		};
	};
};

&pinctrl_sys2 {
	gpio-line-names =
		"", "", "", "",
		"", "", "", "",
		"", "", "UART4_TX", "UART4_RX",
		"UART5_TX", "UART5_RX", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"JTAGM_TDI", "JTAGM_TRST", "JTAGM_TMS", "JTAGM_TCK",
		"JTAGM_TDO", "", "", "";

	uart4_pins: uart4-grp {
		uart4_tx-pins {
			pinmux = <PINMUX(PADNUM_SYSTOP_SYS2_GPIO_A34,
					 FUNC_SYSTOP_SYS2_UART4_TX)>;
		};

		uart4_rx-pins {
			pinmux = <PINMUX(PADNUM_SYSTOP_SYS2_GPIO_A35,
					 FUNC_SYSTOP_SYS2_UART4_RX)>;
			bias-pull-up;
			input-enable;
		};
	};

	uart5_pins: uart5-grp {
		uart5_tx-pins {
			pinmux = <PINMUX(PADNUM_SYSTOP_SYS2_GPIO_A36,
					 FUNC_SYSTOP_SYS2_UART5_TX)>;
		};

		uart5_rx-pins {
			pinmux = <PINMUX(PADNUM_SYSTOP_SYS2_GPIO_A37,
					 FUNC_SYSTOP_SYS2_UART5_RX)>;
			bias-pull-up;
			input-enable;
		};
	};

	jtagm1_pins: jtagm1-grp {
		jtagm1_tdi-pins {
			pinmux = <PINMUX(PADNUM_SYSTOP_SYS2_GPIO_A52,
					 FUNC_SYSTOP_SYS2_JTAG_MST_TDI)>;
			input-enable;
			bias-pull-up;
		};

		jtagm1_trstn-pins {
			pinmux = <PINMUX(PADNUM_SYSTOP_SYS2_GPIO_A53,
					 FUNC_SYSTOP_SYS2_JTAG_MST_TRST_N)>;
			input-enable;
			bias-pull-up;
		};

		jtagm1_tms-pins {
			pinmux = <PINMUX(PADNUM_SYSTOP_SYS2_GPIO_A54,
					 FUNC_SYSTOP_SYS2_JTAG_MST_TMS)>;
			input-enable;
			bias-pull-up;
		};

		jtagm1_tck-pins {
			pinmux = <PINMUX(PADNUM_SYSTOP_SYS2_GPIO_A55,
					 FUNC_SYSTOP_SYS2_JTAG_MST_TCK)>;

			input-enable;
			bias-pull-up;
		};

		jtagm1_tdo-pins {
			pinmux = <PINMUX(PADNUM_SYSTOP_SYS2_GPIO_A56,
					 FUNC_SYSTOP_SYS2_JTAG_MST_TDO)>;
			input-enable;
			bias-pull-up;
		};
	};
};

&pinctrl_bmcperiph0 {
	gpio-line-names =
		"", "", "", "",
		"", "", "", "",
		"I3C4_SCL", "I3C4_SDA", "I3C5_SCL", "I3C5_SDA",
		"I2C6_SCL", "I2C6_SDA", "I2C7_SCL", "I2C7_SDA",
		"", "", "", "",
		"", "", "", "",
		"MDIO0_MDC", "MDIO0_MDIO", "", "";

	i3c4_pins: i3c4-grp {
		i3c4_scl-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH0_GPIO_B8,
					 FUNC_BMCPERIPH0_MIPI_I3C4_SCL0)>;
		};

		i3c4_sda-pins{
			pinmux = <PINMUX(PADNUM_BMCPERIPH0_GPIO_B9,
					 FUNC_BMCPERIPH0_MIPI_I3C4_SDA0)>;
			bias-pull-up;
			input-enable;
		};
	};

	i3c5_pins: i3c5-grp {
		i3c5_scl-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH0_GPIO_B10,
					 FUNC_BMCPERIPH0_MIPI_I3C5_SCL0)>;
		};

		i3c5_sda-pins{
			pinmux = <PINMUX(PADNUM_BMCPERIPH0_GPIO_B11,
					 FUNC_BMCPERIPH0_MIPI_I3C5_SDA0)>;
			bias-pull-up;
			input-enable;
		};
	};

	i2c4_pins: i2c4-grp {
		i2c4_scl-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH0_GPIO_B8,
					 FUNC_BMCPERIPH0_I2C4_CLK)>;
		};

		i2c4_sda-pins{
			pinmux = <PINMUX(PADNUM_BMCPERIPH0_GPIO_B9,
					 FUNC_BMCPERIPH0_I2C4_DATA)>;
			bias-pull-up;
			input-enable;
		};
	};

	i2c5_pins: i2c5-grp {
		i2c5_scl-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH0_GPIO_B10,
					 FUNC_BMCPERIPH0_I2C5_CLK)>;
		};

		i2c5_sda-pins{
			pinmux = <PINMUX(PADNUM_BMCPERIPH0_GPIO_B11,
					 FUNC_BMCPERIPH0_I2C5_DATA)>;
			bias-pull-up;
			input-enable;
		};
	};

	i2c6_pins: i2c6-grp {
		i2c6_scl-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH0_GPIO_B12,
					 FUNC_BMCPERIPH0_I2C6_CLK)>;
		};

		i2c6_sda-pins{
			pinmux = <PINMUX(PADNUM_BMCPERIPH0_GPIO_B13,
					 FUNC_BMCPERIPH0_I2C6_DATA)>;
			bias-pull-up;
			input-enable;
		};
	};

	i2c7_pins: i2c7-grp {
		i2c7_scl-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH0_GPIO_B14,
					 FUNC_BMCPERIPH0_I2C7_CLK)>;
		};

		i2c7_sda-pins{
			pinmux = <PINMUX(PADNUM_BMCPERIPH0_GPIO_B15,
					 FUNC_BMCPERIPH0_I2C7_DATA)>;
			bias-pull-up;
			input-enable;
		};
	};

	mdio0_pins: mdio0-grp {
		mdio0_mdc-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH0_GPIO_B24,
					 FUNC_BMCPERIPH0_GMAC2_MDC)>;
		};

		mdio0_mdio-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH0_GPIO_B25,
					 FUNC_BMCPERIPH0_GMAC2_MDIO)>;
			bias-pull-up;
			input-enable;
		};
	};
};

&pinctrl_bmcperiph1 {
	gpio-line-names =
		"SPI0_CS0", "SPI0_CS1", "SPI0_SCLK", "SPI0_TX",
		"SPI0_RX", "SFC0_CS0", "SFC0_CS1", "SFC0_SCLK",
		"SFC0_IO0", "SFC0_IO1", "SFC0_IO2", "SFC0_IO3",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"SGPIO0_CLK", "SGPIO0_LD", "SGPIO0_DO", "SGPIO0_DI",
		"SGPIO1_CLK", "SGPIO1_LD", "SGPIO1_DO", "SGPIO1_DI";

	spi0_pins: spi0-grp {
		spi0_sclk-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH1_GPIO_C2,
					 FUNC_BMCPERIPH1_SPI0_SCLK_OUT)>;
		};

		spi0_cs0-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH1_GPIO_C0,
					 FUNC_BMCPERIPH1_SPI0_N_SS_OUT_0)>;
			bias-pull-up;
		};

		spi0_cs1-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH1_GPIO_C1,
					 FUNC_BMCPERIPH1_SPI0_N_SS_OUT_1)>;
			bias-pull-up;
		};

		spi0_tx-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH1_GPIO_C3,
					 FUNC_BMCPERIPH1_SPI0_TX)>;
			input-enable;
		};

		spi0_rx-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH1_GPIO_C4,
					 FUNC_BMCPERIPH1_SPI0_RX)>;
			input-enable;
		};
	};

	sfc0_pins: sfc0-grp {
		sfc0_sclk-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH1_GPIO_C7,
					 FUNC_BMCPERIPH1_SFC0_SCLK_OUT)>;
		};

		sfc0_cs0-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH1_GPIO_C5,
					 FUNC_BMCPERIPH1_SFC0_N_SS_OUT_0)>;
			bias-pull-up;
		};

		sfc0_cs1-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH1_GPIO_C6,
					 FUNC_BMCPERIPH1_SFC0_N_SS_OUT_1)>;
			bias-pull-up;
		};

		sfc0_io0-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH1_GPIO_C8,
					 FUNC_BMCPERIPH1_SFC0_IO0)>;
			input-enable;
		};

		sfc0_io1-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH1_GPIO_C9,
					 FUNC_BMCPERIPH1_SFC0_IO1)>;
			input-enable;
		};

		sfc0_io2-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH1_GPIO_C10,
					 FUNC_BMCPERIPH1_SFC0_IO2)>;
			input-enable;
		};

		sfc0_io3-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH1_GPIO_C11,
					 FUNC_BMCPERIPH1_SFC0_IO3)>;
			input-enable;
		};
	};

	sgpio0_pins: sgpio0-grp {
		sgpio0_mclk-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH1_GPIO_C28,
					FUNC_BMCPERIPH1_SGPIO0_M_CLK)>;
		};

		sgpio0_mld-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH1_GPIO_C29,
					FUNC_BMCPERIPH1_SGPIO0_M_LOAD)>;
		};

		sgpio0_mdo-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH1_GPIO_C30,
					FUNC_BMCPERIPH1_SGPIO0_M_DATA_OUT)>;
		};

		sgpio0_mdi-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH1_GPIO_C31,
					FUNC_BMCPERIPH1_SGPIO0_M_DATA_IN)>;
			input-enable;
		};
	};

	sgpio1_pins: sgpio1-grp {
		sgpio1_mclk-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH1_GPIO_C32,
					FUNC_BMCPERIPH1_SGPIO1_M_CLK)>;
		};

		sgpio1_mld-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH1_GPIO_C33,
					FUNC_BMCPERIPH1_SGPIO1_M_LOAD)>;
		};

		sgpio1_mdo-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH1_GPIO_C34,
					FUNC_BMCPERIPH1_SGPIO1_M_DATA_OUT)>;
		};

		sgpio1_mdi-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH1_GPIO_C35,
					FUNC_BMCPERIPH1_SGPIO1_M_DATA_IN)>;
			input-enable;
		};
	};
};

&pinctrl_emmc {
	gpio-line-names =
		"EMMC0_CLK", "EMMC0_RST", "EMMC0_CMD", "EMMC0_DQS",
		"EMMC0_DATA0", "EMMC0_DATA1", "EMMC0_DATA2", "EMMC0_DATA3",
		"EMMC0_DATA4", "EMMC0_DATA5", "EMMC0_DATA6", "EMMC0_DATA7";

	emmc0_pins: emmc0-grp {
		emmc0_clk-pins {
			pinmux = <PINMUX(PADNUM_EMMC0_GPIO_F5,
					 FUNC_EMMC0_CLK)>;
		};

		emmc0_rst-pins {
			pinmux = <PINMUX(PADNUM_EMMC0_GPIO_F10,
					 FUNC_EMMC0_RST_N)>;
		};

		emmc0_cmd-pins {
			pinmux = <PINMUX(PADNUM_EMMC0_GPIO_F4,
					 FUNC_EMMC0_CMD)>;
		};

		emmc0_dqs-pins {
			pinmux = <PINMUX(PADNUM_EMMC0_GPIO_F11,
					 FUNC_EMMC0_DQS)>;
		};

		emmc0_data0-pins {
			pinmux = <PINMUX(PADNUM_EMMC0_GPIO_F0,
					 FUNC_EMMC0_DATA0)>;
		};

		emmc0_data1-pins {
			pinmux = <PINMUX(PADNUM_EMMC0_GPIO_F1,
					 FUNC_EMMC0_DATA1)>;
		};

		emmc0_data2-pins {
			pinmux = <PINMUX(PADNUM_EMMC0_GPIO_F2,
					 FUNC_EMMC0_DATA2)>;
		};

		emmc0_data3-pins {
			pinmux = <PINMUX(PADNUM_EMMC0_GPIO_F3,
					 FUNC_EMMC0_DATA3)>;
		};

		emmc0_data4-pins {
			pinmux = <PINMUX(PADNUM_EMMC0_GPIO_F9,
					 FUNC_EMMC0_DATA4)>;
		};

		emmc0_data5-pins {
			pinmux = <PINMUX(PADNUM_EMMC0_GPIO_F8,
					 FUNC_EMMC0_DATA5)>;
		};

		emmc0_data6-pins {
			pinmux = <PINMUX(PADNUM_EMMC0_GPIO_F7,
					 FUNC_EMMC0_DATA6)>;
		};

		emmc0_data7-pins {
			pinmux = <PINMUX(PADNUM_EMMC0_GPIO_F6,
					 FUNC_EMMC0_DATA7)>;
		};
	};
};

&pinctrl_bmcperiph2 {
	gpio-line-names =
		"PWM_TACH0", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "GMAC2_PHY_RESET", "GMAC2_RXCLK",
		"GMAC2_RXDV", "GMAC2_RXD0", "GMAC2_RXD1", "GMAC2_RXD2",
		"GMAC2_RXD3", "GMAC2_TXCLK", "GMAC2_TXEN", "GMAC2_TXD0",
		"GMAC2_TXD1", "GMAC2_TXD2", "GMAC2_TXD3", "";

	pwm_tach_pins: pwm-tach-grp {
		pwm_tach0-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH2_GPIO_D0,
					 FUNC_BMCPERIPH2_FAN0_TACH_I_0)>;
		};
	};

	gmac2_pins: gmac2-grp {
		gmac2_txen-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH2_GPIO_D26,
					 FUNC_BMCPERIPH2_GMAC2_RGMII_TXCTL)>;
			starfive,gmac_vsel = <0>;
		};

		gmac2_txclk-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH2_GPIO_D25,
					 FUNC_BMCPERIPH2_GMAC2_RGMII_TX_CLK)>;
			starfive,gmac_vsel = <0>;
		};

		gmac2_txd0-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH2_GPIO_D27,
					 FUNC_BMCPERIPH2_GMAC2_RGMII_PHY_TX0)>;
			starfive,gmac_vsel = <0>;
		};

		gmac2_txd1-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH2_GPIO_D28,
					 FUNC_BMCPERIPH2_GMAC2_RGMII_PHY_TX1)>;
			starfive,gmac_vsel = <0>;
		};

		gmac2_txd2-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH2_GPIO_D29,
					 FUNC_BMCPERIPH2_GMAC2_RGMII_PHY_TX2)>;
			starfive,gmac_vsel = <0>;
		};

		gmac2_txd3-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH2_GPIO_D30,
					 FUNC_BMCPERIPH2_GMAC2_RGMII_PHY_TX3)>;
			starfive,gmac_vsel = <0>;
		};

		gmac2_rxclk-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH2_GPIO_D19,
					 FUNC_BMCPERIPH2_GMAC2_RGMII_RX_CLK)>;
			input-enable;
			starfive,gmac_vsel = <0>;
		};

		gmac2_rxdv-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH2_GPIO_D20,
					 FUNC_BMCPERIPH2_GMAC2_RGMII_RXCTL)>;
			input-enable;
			starfive,gmac_vsel = <0>;
		};

		gmac2_rxd0-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH2_GPIO_D21,
					 FUNC_BMCPERIPH2_GMAC2_RGMII_PHY_RXD0)>;
			input-enable;
			starfive,gmac_vsel = <0>;
		};

		gmac2_rxd1-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH2_GPIO_D22,
					 FUNC_BMCPERIPH2_GMAC2_RGMII_PHY_RXD1)>;
			input-enable;
			starfive,gmac_vsel = <0>;
		};

		gmac2_rxd2-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH2_GPIO_D23,
					 FUNC_BMCPERIPH2_GMAC2_RGMII_PHY_RXD2)>;
			input-enable;
			starfive,gmac_vsel = <0>;
		};

		gmac2_rxd3-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH2_GPIO_D24,
					 FUNC_BMCPERIPH2_GMAC2_RGMII_PHY_RXD3)>;
			input-enable;
			starfive,gmac_vsel = <0>;
		};
	};
};

&pinctrl_bmcperiph2_pok {
	gpio-line-names =
		"", "", "", "",
		"", "", "", "",
		"", "", "PWM_CH0", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "";

	can0_pins: can0-grp {
		can0_tx-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH2_POK_GPIO_D31,
					 FUNC_BMCPERIPH2_POK_CAN0_TXD)>;
			input-enable;
		};

		can0_rx-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH2_POK_GPIO_D32,
					 FUNC_BMCPERIPH2_POK_CAN0_RXD)>;
			input-enable;
		};

		can0_stby-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH2_POK_GPIO_D33,
					 FUNC_BMCPERIPH2_POK_CAN0_STBY)>;
			input-enable;
		};
	};

	pwm_ch_pins: pwm-grp {
		pwm_ch0-pins {
			pinmux = <PINMUX(PADNUM_BMCPERIPH2_POK_GPIO_D41,
					 FUNC_BMCPERIPH2_POK_PWM0_CHANNEL0)>;
			bias-disable;
			input-disable;
		};
	};
};

&pinctrl_vga_vdac {
	status = "disabled";
};

&uart4 {
	status = "okay";
	clocks = <&fpga_4mhz_clk>, <&fpga_4mhz_clk>;
	clock-frequency = <4000000>;
	current-speed = <115200>;
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_pins>;
};

&uart5 {
	status = "okay";
	clocks = <&fpga_4mhz_clk>, <&fpga_4mhz_clk>;
	clock-frequency = <4000000>;
	current-speed = <115200>;
	pinctrl-names = "default";
	pinctrl-0 = <&uart5_pins>;
};

&sol4 {
	memory-region = <&sol_tx_mem_uncache>,
			<&sol_rx_mem_uncache>;
	tx-size = <3>;
	rx-size = <3>;
	dev-id = <4>;
	status = "okay";
};

&sol5 {
	memory-region = <&sol_tx_mem_uncache>,
			<&sol_rx_mem_uncache>;
	tx-size = <3>;
	rx-size = <3>;
	dev-id = <5>;
	status = "okay";
};

&pcie_ep0 {
	memory-region = <&pcie0_media_mem_uncache>,
			<&pcie0_user_mem_uncache>,
			<&pcie0_mmbi_buffer_uncache>,
			<&pcie0_hdma_mem_uncache>;
	status = "okay";
};

&pcie0_mctp {
	status = "disabled";
};

&uart_routing {
	starfive,chsel = /bits/ 8 <0 0 0 0 0 0 0 0 0 0 0 0 0 0 0>;
	status = "okay";
};

&pcie1_mctp {
	status = "disabled";
};

&pcierp_mctp {
	status = "disabled";
};

&pcie0_mmbi {
	mmbi-instance-num = <8>;
	mmbi-instance-size = <0x10000>;
	mmbi-src-addr-offset = <0>;
	mmbi-osuse = /bits/ 8 <1 1 1 1 1 1 1 1>;
	memory-region = <&pcie0_mmbi_buffer_uncache>;
	starfive,raise-irq-syscon = <&pcie_ep0_ecsr 0x700 0xd>;
	starfive,rst-en-syscon = <&strap_reg 0x50 0x400>;
	status = "okay";
};

&peci0 {
	status = "okay";
};

&peci1 {
	status = "okay";
};

&espi0_mmbi {
	mmbi-instance-num = <1>;
	mmbi-instance-size = <0x10000>;
	mmbi-src-addr-offset = <0x10000>;
	mmbi-osuse = /bits/ 8 <0 0 0 0 0 0 0 0>;
	memory-region = <&espi0_mmbi_buffer_uncache>;
	status = "okay";
};

&sio0 {
	status = "okay";

	sio0_bt0: bt@0 {
		status = "okay";
	};

	sio0_kcs0: kcs@200 {
		status = "okay";
	};

	sio0_kcs1: kcs@300 {
		status = "okay";
	};

	sio0_pcc: pcc@800 {
		starfive,pcc-threshold = <0>;
		status = "okay";
	};

	sio0_mbox: mbox@600 {
		status = "okay";
	};

	sio0_wdi: wdi@900 {
		status = "okay";
	};
};

&espi0 {
	espi-wait-state = <15>;
	starfive,flash-mtd-device = "Data";
	starfive,host-src-addr = /bits/ 64 <0xf6810000>;
	perif-memcyc-size = <0x400000>;
	memory-region = <&espi0_mmbi_buffer_uncache>,
			<&espi0_perif_mem_uncache>,
			<&espi0_vw_mem_uncache>;

	starfive,bt-remap-num = <1>;
	starfive,kcs-remap-num = <1>;
	starfive,uart-remap-num = <1>;
	starfive,misc-remap-num = <1>;
	starfive,bt-io-addr = /bits/ 32 <0xe4>;
	starfive,kcs-io-addr = /bits/ 32 <0xca2>;
	starfive,uart-io-addr = /bits/ 32 <0x3f8>;
	starfive,wdi-io-addr = /bits/ 32 <0xa00>;
	starfive,mbox-io-addr = /bits/ 32 <0x300>;
	starfive,misc-io-addr = /bits/ 32 <0x480>;
	starfive,misc-sys-addr = /bits/ 32 <0x105c10c0>;

	starfive,vgpio_dir_bits = /bits/ 64 <0x00000000ffffffff 0x0000000000000000>;
	starfive,vgpio_lvl_bits = /bits/ 64 <0x0000000000000000 0x0000000000000000>;
	starfive,vgpio_phy_bits = /bits/ 64 <0x000000000000000f 0x0000000000000000>;

	pinctrl-names = "default";
	pinctrl-0 = <&espi0_pins>;

	status = "okay";
};

&pwm {
	clocks = <&fpga_12mhz_clk>;
	pinctrl-names = "default";
	pinctrl-0 = <&pwm_ch_pins>;
	#pwm-cells = <3>;
	status = "okay";
};

&pwm_tach {
	clocks = <&fpga_12mhz_clk>;
	pinctrl-names = "default";
	pinctrl-0 = <&pwm_tach_pins>;
	status = "okay";
	fan@0 {
		tach-ch = <0x0>;
	};
};

&gmac2 {
	clocks = <&fpga_12mhz_clk>,
		 <&fpga_12mhz_clk>,
		 <&fpga_12mhz_clk>,
		 <&fpga_2p5mhz_clk>;
	snps,clk-csr = <5>;
	starfive,tx-use-rgmii-clk;
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_phy0>;
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&gmac2_pins &mdio0_pins>;

	mdio0 {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
		ethernet_phy0: ethernet-phy@0 {
			reg = <0>;
			max-speed = <10>;
			device_type = "ethernet-phy";
			reset-gpios = <&pinctrl_bmcperiph2 14 GPIO_ACTIVE_LOW>;
			reset-assert-us = <15000>;
			reset-deassert-us = <15000>;
			marvell,reg-init =
				<0x0 0x4 0 0x0441>, /*Page 0, Reg 4 <- 0x0441*/
				<0x12 0x14 0 0x0>, /*Page 18, Reg 20 <- 0x0*/
				<0x0 0x0 0 0x1100>; /*Page 0, Reg 0 <- 0x1100*/
		};
	};
};

&timer0 {
	clocks = <&per0crg JHB100_PER0CLK_PCLK_DUALTIMER0>,
		 <&fpga_12mhz_clk>,
		 <&fpga_12mhz_clk>;
	status = "okay";
};

&timer1 {
	clocks = <&per0crg JHB100_PER0CLK_PCLK_DUALTIMER1>,
		 <&fpga_12mhz_clk>,
		 <&fpga_12mhz_clk>;
	status = "okay";
};

&timer2 {
	clocks = <&per0crg JHB100_PER0CLK_PCLK_DUALTIMER2>,
		 <&fpga_12mhz_clk>,
		 <&fpga_12mhz_clk>;
	status = "okay";
};

&hwspinlock {
	status = "okay";
};

&dma_i3c {
	status = "okay";
	clocks = <&fpga_12mhz_clk>, <&fpga_12mhz_clk>;
};

&i3c4 {
	status = "okay";
	clocks = <&fpga_12mhz_clk>;
	i2c-scl-hz = <400000>;
	i3c-scl-hz = <1000000>;
	mode = "master";
	hotjoin;
	pinctrl-names = "default";
	pinctrl-0 = <&i3c4_pins>;
	is-mng;
	dmas = <&dma_i3c 4 9 8>;
	dma-names = "rx-tx";
	vcc-supply = <&reg_vcc_1v8>;
	#address-cells = <3>;
	#size-cells = <0>;

	hub@0,0 {
		reg = <0x0 0x0 0x0>;
		cp0-ldo-en = "disabled";
		cp1-ldo-en = "disabled";
		cp0-ldo-volt = "1.8V";
		cp1-ldo-volt = "1.8V";
		tp0145-ldo-en = "disabled";
		tp2367-ldo-en = "disabled";
		tp0145-ldo-volt = "1.0V";
		tp2367-ldo-volt = "1.0V";
		tp0145-pullup = "2k";
		tp2367-pullup = "2k";
		tp0145-io-strength = "50Ohms";
		tp2367-io-strength = "50Ohms";

		target-port@0 {
			mode = "i3c";
			pullup = "enabled";
		};
		target-port@1 {
			mode = "disabled";
			pullup = "disabled";
		};
		target-port@2 {
			mode = "disabled";
			pullup = "disabled";
		};
		target-port@3 {
			mode = "disabled";
			pullup = "disabled";
		};
		target-port@4 {
			mode = "disabled";
			pullup = "disabled";
		};
		target-port@5 {
			mode = "disabled";
			pullup = "disabled";
		};
		target-port@6 {
			mode = "disabled";
			pullup = "disabled";
		};
		target-port@7 {
			mode = "disabled";
			pullup = "disabled";
		};
	};
};

&i3c5 {
	status = "okay";
	clocks = <&fpga_12mhz_clk>;
	i3c-scl-hz = <1000000>;
	mode = "target";
	pid = <0x123 0x45543210>;
	/* static-address = /bits/ 8 <0x48>; */
	dcr = /bits/ 8 <0x0>;
	hotjoin-request;
	/* pec-private-transfer; */
	pinctrl-names = "default";
	pinctrl-0 = <&i3c5_pins>;
	dmas = <&dma_i3c 5 11 10>;
	dma-names = "rx-tx";
	vcc-supply = <&reg_vcc_1v8>;
};

&i2c4_master {
	clocks = <&fpga_12mhz_clk>, <&fpga_12mhz_clk>;
	clock-frequency = <100000>;
	/* pinctrl-names = "default"; */
	/* pinctrl-0 = <&i2c4_pins>; */
};

&i2c4_slave {
	clocks = <&fpga_12mhz_clk>, <&fpga_12mhz_clk>;
	clock-frequency = <100000>;
	/* pinctrl-names = "default"; */
	/* pinctrl-0 = <&i2c4_pins>; */
};

&i2c5_master {
	clocks = <&fpga_12mhz_clk>, <&fpga_12mhz_clk>;
	clock-frequency = <100000>;
	/* pinctrl-names = "default"; */
	/* pinctrl-0 = <&i2c5_pins>; */
};

&i2c5_slave {
	clocks = <&fpga_12mhz_clk>, <&fpga_12mhz_clk>;
	clock-frequency = <100000>;
	/* pinctrl-names = "default"; */
	/* pinctrl-0 = <&i2c5_pins>; */
};

&i2c6_master {
	clocks = <&fpga_12mhz_clk>, <&fpga_12mhz_clk>;
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c6_pins>;
	status = "okay";

	tda998x@70 {
		compatible = "nxp,tda998x";
		reg = <0x70>;
	};
};

&i2c6_slave {
	clocks = <&fpga_12mhz_clk>, <&fpga_12mhz_clk>;
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c6_pins>;
};

&i2c7_master {
	clocks = <&fpga_12mhz_clk>, <&fpga_12mhz_clk>;
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c7_pins>;
	status = "okay";
};

&i2c7_slave {
	clocks = <&fpga_12mhz_clk>, <&fpga_12mhz_clk>;
	clock-frequency = <100000>;
	/* pinctrl-names = "default"; */
	/* pinctrl-0 = <&i2c7_pins>; */
	compatible = "starfive,jhb100-dwc-i2c-slave";
	status = "okay";

	starfive,mctp-i2c-ms = <&i2c7_master>;
	mctp-controller;
	mctp@15 {
		compatible = "mctp-i2c-controller";
		reg = <(0x15 | I2C_OWN_SLAVE_ADDRESS)>;
	};
};

&jtag1 {
	clocks = <&sys2crg JHB100_SYS2CLK_MAIN_ICG_EN_JTAG1>,
		 <&fpga_12mhz_clk>,
		 <&fpga_12mhz_clk>;
	pinctrl-names = "jtag";
	pinctrl-0 = <&jtagm1_pins>;
	starfive,jtag_clk_constant;
	starfive,jtag_bit_quirk;
	status = "okay";
};

&reri0 {
	status = "okay";
};

&reri2 {
	status = "okay";
};

&reri3 {
	status = "okay";
};

&dma_uart {
	status = "okay";
	clocks = <&fpga_12mhz_clk>,
		<&fpga_12mhz_clk>;
};

&dma_sfc0 {
	status = "okay";
	clocks = <&fpga_12mhz_clk>, <&fpga_12mhz_clk>;
};

&dma_spi0 {
	status = "okay";
	clocks = <&fpga_12mhz_clk>, <&fpga_12mhz_clk>;
};

&rtc {
	status = "okay";
};

&dma_i2c {
	status = "disabled";
	clocks = <&fpga_12mhz_clk>, <&fpga_12mhz_clk>;
};

&spi0 {
	status = "okay";
	clocks = <&fpga_12mhz_clk>, <&fpga_12mhz_clk>;
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins>;

	spi_dev0: spi@0 {
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <200000>;
		reg = <0>;
	};
};

&wdt0 {
	status = "okay";
};

&wdt1 {
	status = "okay";
};

&wdt2 {
	status = "okay";
};

&wdt3 {
	status = "okay";
};

&wdt_ext {
	status = "disabled";
};

&emmc0 {
	status = "okay";
	mmc-hs400-1_8v;
	max-frequency = <400000>;
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc0_pins>;
};

&sgpio0 {
	pinctrl-names = "default";
	pinctrl-0 = <&sgpio0_pins>;
	status = "okay";

	gpio-line-names =
		"", "P80_DOUT0", "", "P80_DOUT1", "", "P80_DOUT2", "", "P80_DOUT3",
		"", "P80_DOUT4", "", "P80_DOUT5", "", "P80_DOUT6", "", "P80_DOUT7",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "BMC_BOOT_DONE",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "";
};

&sgpio1 {
	pinctrl-names = "default";
	pinctrl-0 = <&sgpio1_pins>;
	status = "disabled";

	gpio-line-names =
		"", "P80_DOUT0", "", "P80_DOUT1", "", "P80_DOUT2", "", "P80_DOUT3",
		"", "P80_DOUT4", "", "P80_DOUT5", "", "P80_DOUT6", "", "P80_DOUT7",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "BMC_BOOT_DONE",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "";
};

&dc0_clk {
	status = "disabled";
	clocks = <&fpga_12mhz_clk>, <&fpga_12mhz_clk>;
};

&sfc0 {
	clocks = <&fpga_12mhz_clk>;

	flash@0 {
		spi-max-frequency = <200000>;
	};
};

&can0 {
	status = "okay";
	clocks = <&fpga_20mhz_clk>, <&fpga_20mhz_clk>;
	pinctrl-names = "default";
	pinctrl-0 = <&can0_pins>;
};
