// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (c) 2021-2022 StarFive Technology Co., Ltd.
 */

#include "jhb100-img.dtsi"
#include "jhb100-evb1-sfc0-flash.dtsi"
/ {
	soc {
		bootph-pre-ram;
		otp: otpc@28000000 {
			compatible = "starfive,jhb100-otp";
			reg = <0x0 0x28000000 0x0 0x100000>;
			otp1 = <0x1400 0x400 0x1080 0x80 0x12b4 0x8>;
			otp2 = <0x0 0xc00 0x1010 0xc 0x1280 0x6>;
			puf = <0x1300 0x80 0x1070 0x10 0x12bc 0x1>;
			status = "disabled";
			bootph-pre-ram;
		};

		aes: starfive-aes@1ff00100 {
			compatible = "starfive,aes";
			reg = <0x0 0x1ff00100 0x0 0x100>;
			status = "disabled";
			bootph-pre-ram;
		};

		sha: starfive-sha@1ff00300 {
			compatible = "starfive,sha";
			reg = <0x0 0x1ff00300 0x0 0x100>;
			status = "disabled";
			bootph-pre-ram;
		};

		ecc: starfive-ecc@1ff00400 {
			compatible = "starfive,ecdsa";
			reg = <0x0 0x1ff00400 0x0 0x400>;
			status = "disabled";
			bootph-pre-ram;
		};

		rpmi: rpmi-shmem@12c10000 {
			compatible = "riscv,rpmi-shmem-mbox";
			reg =	<0x0 0x12c10000 0x0 0x400>,
				<0x0 0x12c10400 0x0 0x400>,
				<0x0 0x12c10800 0x0 0x400>,
				<0x0 0x12c10c00 0x0 0x400>,
				<0x0 0x12c08000 0x0 0x8000>;
			reg-names = "a2p-req", "p2a-ack", "p2a-req",
					"a2p-ack", "db-reg";
			#mbox-cells = <0x01>;
			riscv,slot-size = <0x40>;
			#address-cells = <1>;
			#size-cells = <0>;
			performance@10 {
				reg = <0x0A>;
				riscv,sbi-mpxy-channel-id = <0x1003>;
				mboxes = <&rpmi 0x0A>;
				compatible = "riscv,rpmi-mpxy-performance";
			};
			power-domain@9 {
				reg = <0x09>;
				riscv,sbi-mpxy-channel-id = <0x1002>;
				mboxes = <&rpmi 0x09>;
				compatible = "riscv,rpmi-mpxy-device-power";
			};
			voltage@7 {
				reg = <0x07>;
				riscv,sbi-mpxy-channel-id = <0x1001>;
				mboxes = <&rpmi 0x07>;
				compatible = "riscv,rpmi-mpxy-voltage";
			};
			clock@8 {
				reg = <0x08>;
				riscv,sbi-mpxy-channel-id = <0x1000>;
				mboxes = <&rpmi 0x08>;
				compatible = "riscv,rpmi-mpxy-clock";
			};
			sec-boot@8000 {
				bootph-pre-ram;
				reg = <0x8000>;
				riscv,sbi-mpxy-channel-id = <0x1005>;
				mboxes = <&rpmi 0x8000>;
				compatible = "riscv,rpmi-mpxy-jhb100-sec", "riscv,rpmi-jhb100-sec";
			};
			hsm@4 {
				reg = <0x0 0x0A200000 0x0 0x4000>;
					mboxes = <&rpmi 0x05>;
					compatible = "riscv,jhb100-rpmi-hsm";
			};

			sysreset@2 {
				reg = <0x0 0x14110000 0x0 0x2000>,
							<0x0 0x13010000 0x0 0x4000>,
							<0x0 0x14112000 0x0 0x2000>;
				mboxes = <&rpmi 0x03>;
				compatible = "riscv,jhb100-rpmi-system-reset";
			};
		};
	};
};

&cpu0 {
	riscv,isa = "rv64imafdch_zba_zbb_zbc_zbs_zicbom_zicbop_zicboz_zicntr_zicond_zicsr_zifencei_zihintpause_zihpm_sscofpmf_svinval_svnapot";
};

&cpu1 {
	riscv,isa = "rv64imafdch_zba_zbb_zbc_zbs_zicbom_zicbop_zicboz_zicntr_zicond_zicsr_zifencei_zihintpause_zihpm_sscofpmf_svinval_svnapot";
};

&cpu2 {
	riscv,isa = "rv64imafdch_zba_zbb_zbc_zbs_zicbom_zicbop_zicboz_zicntr_zicond_zicsr_zifencei_zihintpause_zihpm_sscofpmf_svinval_svnapot";
};

&cpu3 {
	riscv,isa = "rv64imafdch_zba_zbb_zbc_zbs_zicbom_zicbop_zicboz_zicntr_zicond_zicsr_zifencei_zihintpause_zihpm_sscofpmf_svinval_svnapot";
};


&cpu0_intc {
	bootph-pre-ram;
};

&cpu1_intc {
	bootph-pre-ram;
};

&cpu2_intc {
	bootph-pre-ram;
};

&cpu3_intc {
	bootph-pre-ram;
};
