// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (c) 2025 StarFive Technology Co., Ltd.
 */

&adc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&adc0_vin0_pins &adc0_vin1_pins &adc0_vin2_pins &adc0_vin3_pins
		     &adc0_vin4_pins &adc0_vin5_pins &adc0_vin6_pins &adc0_vin7_pins>;
	upper-bound-mv = /bits/ 16 <1800>;
	lower-bound-mv = /bits/ 16 <0>;
	scan-freq = /bits/ 16 <0x3e3>;
	status = "okay";
};

&adc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&adc1_vin0_pins &adc1_vin1_pins &adc1_vin2_pins &adc1_vin3_pins
		     &adc1_vin4_pins &adc1_vin5_pins &adc1_vin6_pins &adc1_vin7_pins>;
	upper-bound-mv = /bits/ 16 <1800>;
	lower-bound-mv = /bits/ 16 <0>;
	scan-freq = /bits/ 16 <0x3e3>;
	status = "okay";
};

&can0 {
	ts = <0x07>; /* bit 0 enable ts, bit 1 enable tts, bit 2: 0 SOF, 1 EOF */
	status = "okay";
};

&can1 {
	ts = <0x07>; /* bit 0 enable ts, bit 1 enable tts, bit 2: 0 SOF, 1 EOF */
	status = "okay";
};

&dma_i3c {
	status = "disabled";
};

&dma_spi0 {
	status = "okay";
};

&i2c1_master {
	clock-frequency = <100000>;
	status = "okay";
};

&i2c2_master {
	clock-frequency = <100000>;
	status = "disabled";
};

/* SMBus ARP test: I2C3 as SMBus ARP master */
&i2c3_master {
	clock-frequency = <100000>;
	status = "okay";

	smbus_arp@61 {
		compatible = "i2c-smbus-arp";
		reg = <0x61>;
	};
};

&i2c4_master {
	clock-frequency = <100000>;
	status = "disabled";
};

&i2c5_master {
	clock-frequency = <100000>;
	status = "disabled";
};

&i2c6_master {
	clock-frequency = <100000>;
	status = "disabled";
};

&i2c7_master {
	clock-frequency = <100000>;
	status = "disabled";
};

/* SMBus loopback test: I2C8 as master, I2C9 as slave acting as an emulated EEPROM */
&i2c8_master {
	clock-frequency = <100000>;
	status = "disabled";
};

/* SMBus loopback test: I2C8 as master, I2C9 as slave acting as an emulated EEPROM */
&i2c9_slave {
	clock-frequency = <100000>;
	status = "disabled";

	slave-eeprom@66 {
		compatible = "slave-24c02";
		reg = <(0x66 | I2C_OWN_SLAVE_ADDRESS)>;
	};
};

&i2c10_master {
	clock-frequency = <100000>;
	status = "disabled";
};

&i2c11_master {
	clock-frequency = <100000>;
	status = "disabled";
};

&i2c11_slave {
	clock-frequency = <100000>;
	status = "okay";

	starfive,mctp-i2c-ms = <&i2c0_master>;
	mctp-controller;
	mctp@15 {
		compatible = "mctp-i2c-controller";
		reg = <(0x15 | I2C_OWN_SLAVE_ADDRESS)>;
	};
};

&i3c0 {
	i2c-scl-hz = <400000>;
	i3c-scl-hz = <12500000>;
	mode = "master";
	dmas = <&dma_i3c 0 1 0>;
	dma-names = "rx-tx";
	i3c-od-pu-offset = <2>;
	i3c-od-lo-offset = <0>;
	master-sda-tx-hold = <3>;
	master-sda-pp-od-switch-dly = <1>;
	master-sda-od-pp-switch-dly = <1>;
	master-stop-hold-cnt = <0x8>;
	status = "disabled";

	#address-cells = <3>;
	#size-cells = <0>;

	eeprom@50 {
		reg = <0x50 0x0 0x10>;
		compatible = "atmel,24c64";
		vcc-supply = <&vcc_1v8>;
		pagesize = <32>;
	};
};

&i3c1 {
	i2c-scl-hz = <400000>;
	i3c-scl-hz = <12500000>;
	mode = "master";
	dmas = <&dma_i3c 1 3 2>;
	dma-names = "rx-tx";
	i3c-od-pu-offset = <2>;
	i3c-od-lo-offset = <0>;
	master-sda-tx-hold = <3>;
	master-sda-pp-od-switch-dly = <1>;
	master-sda-od-pp-switch-dly = <1>;
	master-stop-hold-cnt = <0x8>;
	status = "disabled";

	#address-cells = <3>;
	#size-cells = <0>;

	eeprom@50 {
		reg = <0x50 0x0 0x10>;
		compatible = "atmel,24c64";
		vcc-supply = <&vcc_1v8>;
		pagesize = <32>;
	};
};

&i3c2 {
	i2c-scl-hz = <400000>;
	i3c-scl-hz = <12500000>;
	mode = "master";
	dmas = <&dma_i3c 2 5 4>;
	dma-names = "rx-tx";
	i3c-od-pu-offset = <2>;
	i3c-od-lo-offset = <0>;
	master-sda-tx-hold = <3>;
	master-sda-pp-od-switch-dly = <1>;
	master-sda-od-pp-switch-dly = <1>;
	master-stop-hold-cnt = <0x8>;
	status = "disabled";

	#address-cells = <3>;
	#size-cells = <0>;

	eeprom@50 {
		reg = <0x50 0x0 0x10>;
		compatible = "atmel,24c64";
		vcc-supply = <&vcc_1v8>;
		pagesize = <32>;
	};
};

&i3c3 {
	i2c-scl-hz = <400000>;
	i3c-scl-hz = <12500000>;
	mode = "master";
	dmas = <&dma_i3c 3 7 6>;
	dma-names = "rx-tx";
	i3c-od-pu-offset = <2>;
	i3c-od-lo-offset = <0>;
	master-sda-tx-hold = <3>;
	master-sda-pp-od-switch-dly = <1>;
	master-sda-od-pp-switch-dly = <1>;
	master-stop-hold-cnt = <0x8>;
	status = "disabled";

	#address-cells = <3>;
	#size-cells = <0>;

	eeprom@50 {
		reg = <0x50 0x0 0x10>;
		compatible = "atmel,24c64";
		vcc-supply = <&vcc_1v8>;
		pagesize = <32>;
	};
};

&i3c4 {
	i2c-scl-hz = <400000>;
	i3c-scl-hz = <12500000>;
	mode = "master";
	pinctrl-names = "default";
	pinctrl-0 = <&i3c4_pins>;
	dmas = <&dma_i3c 4 9 8>;
	dma-names = "rx-tx";
	i3c-od-pu-offset = <0>;
	i3c-od-lo-offset = <0>;
	master-sda-tx-hold = <3>;
	master-sda-pp-od-switch-dly = <1>;
	master-sda-od-pp-switch-dly = <1>;
	master-stop-hold-cnt = <0x8>;
	status = "disabled";

	#address-cells = <3>;
	#size-cells = <0>;

	eeprom@50 {
		reg = <0x50 0x0 0x10>;
		compatible = "atmel,24c64";
		vcc-supply = <&vcc_3v3>;
		pagesize = <32>;
	};
};

&i3c4_syscon {
	gpio-select = <GPIO_LEVEL_BIT GPIO_NORMAL>;
};

&i3c5 {
	i2c-scl-hz = <400000>;
	i3c-scl-hz = <12500000>;
	mode = "master";
	pinctrl-names = "default";
	pinctrl-0 = <&i3c5_pins>;
	dmas = <&dma_i3c 5 11 10>;
	dma-names = "rx-tx";
	i3c-od-pu-offset = <0>;
	i3c-od-lo-offset = <0>;
	master-sda-tx-hold = <3>;
	master-sda-pp-od-switch-dly = <1>;
	master-sda-od-pp-switch-dly = <1>;
	master-stop-hold-cnt = <0x8>;
	status = "disabled";

	#address-cells = <3>;
	#size-cells = <0>;

	eeprom@50 {
		reg = <0x50 0x0 0x10>;
		compatible = "atmel,24c64";
		vcc-supply = <&vcc_3v3>;
		pagesize = <32>;
	};
};

&i3c5_syscon {
	gpio-select = <GPIO_LEVEL_BIT GPIO_NORMAL>;
};

&i3c6 {
	i2c-scl-hz = <400000>;
	i3c-scl-hz = <12500000>;
	mode = "master";
	pinctrl-names = "default";
	pinctrl-0 = <&i3c6_pins>;
	dmas = <&dma_i3c 6 13 12>;
	dma-names = "rx-tx";
	i3c-od-pu-offset = <0>;
	i3c-od-lo-offset = <0>;
	master-sda-tx-hold = <3>;
	master-sda-pp-od-switch-dly = <1>;
	master-sda-od-pp-switch-dly = <1>;
	master-stop-hold-cnt = <0x8>;
	status = "disabled";

	#address-cells = <3>;
	#size-cells = <0>;

	eeprom@50 {
		reg = <0x50 0x0 0x10>;
		compatible = "atmel,24c64";
		vcc-supply = <&vcc_3v3>;
		pagesize = <32>;
	};
};

&i3c6_syscon {
	gpio-select = <GPIO_LEVEL_BIT GPIO_NORMAL>;
};

&i3c7 {
	i2c-scl-hz = <400000>;
	i3c-scl-hz = <12500000>;
	mode = "master";
	pinctrl-names = "default";
	pinctrl-0 = <&i3c7_pins>;
	dmas = <&dma_i3c 7 15 14>;
	dma-names = "rx-tx";
	i3c-od-pu-offset = <0>;
	i3c-od-lo-offset = <0>;
	master-sda-tx-hold = <3>;
	master-sda-pp-od-switch-dly = <1>;
	master-sda-od-pp-switch-dly = <1>;
	master-stop-hold-cnt = <0x8>;
	status = "disabled";

	#address-cells = <3>;
	#size-cells = <0>;

	eeprom@50 {
		reg = <0x50 0x0 0x10>;
		compatible = "atmel,24c64";
		vcc-supply = <&vcc_3v3>;
		pagesize = <32>;
	};
};

&i3c7_syscon {
	gpio-select = <GPIO_LEVEL_BIT GPIO_NORMAL>;
};

&i3c8 {
	i2c-scl-hz = <400000>;
	i3c-scl-hz = <12500000>;
	mode = "master";
	dmas = <&dma_i3c 8 17 16>;
	dma-names = "rx-tx";
	i3c-od-pu-offset = <0>;
	i3c-od-lo-offset = <0>;
	master-sda-tx-hold = <3>;
	master-sda-pp-od-switch-dly = <1>;
	master-sda-od-pp-switch-dly = <1>;
	master-stop-hold-cnt = <0x8>;
	status = "disabled";

	#address-cells = <3>;
	#size-cells = <0>;

	eeprom@50 {
		reg = <0x50 0x0 0x10>;
		compatible = "atmel,24c64";
		vcc-supply = <&vcc_3v3>;
		pagesize = <32>;
	};
};

&i3c9 {
	i2c-scl-hz = <400000>;
	i3c-scl-hz = <12500000>;
	mode = "master";
	dmas = <&dma_i3c 9 19 18>;
	dma-names = "rx-tx";
	i3c-od-pu-offset = <0>;
	i3c-od-lo-offset = <0>;
	master-sda-tx-hold = <3>;
	master-sda-pp-od-switch-dly = <1>;
	master-sda-od-pp-switch-dly = <1>;
	master-stop-hold-cnt = <0x8>;
	status = "disabled";

	#address-cells = <3>;
	#size-cells = <0>;

	eeprom@50 {
		reg = <0x50 0x0 0x10>;
		compatible = "atmel,24c64";
		vcc-supply = <&vcc_3v3>;
		pagesize = <32>;
	};
};

&i3c10 {
	i2c-scl-hz = <400000>;
	i3c-scl-hz = <12500000>;
	mode = "master";
	dmas = <&dma_i3c 10 21 20>;
	dma-names = "rx-tx";
	i3c-od-pu-offset = <0>;
	i3c-od-lo-offset = <0>;
	master-sda-tx-hold = <3>;
	master-sda-pp-od-switch-dly = <1>;
	master-sda-od-pp-switch-dly = <1>;
	master-stop-hold-cnt = <0x8>;
	status = "disabled";

	#address-cells = <3>;
	#size-cells = <0>;

	eeprom@50 {
		reg = <0x50 0x0 0x10>;
		compatible = "atmel,24c64";
		vcc-supply = <&vcc_3v3>;
		pagesize = <32>;
	};
};

&i3c11 {
	i2c-scl-hz = <400000>;
	i3c-scl-hz = <12500000>;
	mode = "master";
	dmas = <&dma_i3c 11 23 22>;
	dma-names = "rx-tx";
	i3c-od-pu-offset = <0>;
	i3c-od-lo-offset = <0>;
	master-sda-tx-hold = <3>;
	master-sda-pp-od-switch-dly = <1>;
	master-sda-od-pp-switch-dly = <1>;
	master-stop-hold-cnt = <0x8>;
	status = "disabled";

	#address-cells = <3>;
	#size-cells = <0>;

	eeprom@50 {
		reg = <0x50 0x0 0x10>;
		compatible = "atmel,24c64";
		vcc-supply = <&vcc_3v3>;
		pagesize = <32>;
	};
};

&i3c12 {
	i2c-scl-hz = <400000>;
	i3c-scl-hz = <12500000>;
	mode = "master";
	dmas = <&dma_i3c 12 25 24>;
	dma-names = "rx-tx";
	i3c-od-pu-offset = <0>;
	i3c-od-lo-offset = <0>;
	master-sda-tx-hold = <3>;
	master-sda-pp-od-switch-dly = <1>;
	master-sda-od-pp-switch-dly = <1>;
	master-stop-hold-cnt = <0x8>;
	status = "disabled";

	#address-cells = <3>;
	#size-cells = <0>;

	eeprom@50 {
		reg = <0x50 0x0 0x10>;
		compatible = "atmel,24c64";
		vcc-supply = <&vcc_3v3>;
		pagesize = <32>;
	};
};

&i3c13 {
	i2c-scl-hz = <400000>;
	i3c-scl-hz = <12500000>;
	mode = "master";
	dmas = <&dma_i3c 13 27 26>;
	dma-names = "rx-tx";
	i3c-od-pu-offset = <0>;
	i3c-od-lo-offset = <0>;
	master-sda-tx-hold = <3>;
	master-sda-pp-od-switch-dly = <1>;
	master-sda-od-pp-switch-dly = <1>;
	master-stop-hold-cnt = <0x8>;
	status = "disabled";

	#address-cells = <3>;
	#size-cells = <0>;

	eeprom@50 {
		reg = <0x50 0x0 0x10>;
		compatible = "atmel,24c64";
		vcc-supply = <&vcc_3v3>;
		pagesize = <32>;
	};
};

&i3c14 {
	i2c-scl-hz = <400000>;
	i3c-scl-hz = <12500000>;
	mode = "master";
	dmas = <&dma_i3c 14 29 28>;
	dma-names = "rx-tx";
	i3c-od-pu-offset = <0>;
	i3c-od-lo-offset = <0>;
	master-sda-tx-hold = <3>;
	master-sda-pp-od-switch-dly = <1>;
	master-sda-od-pp-switch-dly = <1>;
	master-stop-hold-cnt = <0x8>;
	status = "disabled";

	#address-cells = <3>;
	#size-cells = <0>;

	eeprom@50 {
		reg = <0x50 0x0 0x10>;
		compatible = "atmel,24c64";
		vcc-supply = <&vcc_3v3>;
		pagesize = <32>;
	};
};

&i3c15 {
	i2c-scl-hz = <400000>;
	i3c-scl-hz = <12500000>;
	mode = "master";
	dmas = <&dma_i3c 15 31 30>;
	dma-names = "rx-tx";
	i3c-od-pu-offset = <0>;
	i3c-od-lo-offset = <0>;
	master-sda-tx-hold = <3>;
	master-sda-pp-od-switch-dly = <1>;
	master-sda-od-pp-switch-dly = <1>;
	master-stop-hold-cnt = <0x8>;
	status = "disabled";

	#address-cells = <3>;
	#size-cells = <0>;

	eeprom@50 {
		reg = <0x50 0x0 0x10>;
		compatible = "atmel,24c64";
		vcc-supply = <&vcc_3v3>;
		pagesize = <32>;
	};
};

&jtag0 {
	status = "okay";
};

&jtag1 {
	status = "okay";
};

&pwm {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm_ch0_pins &pwm_ch1_pins &pwm_ch2_pins &pwm_ch3_pins
		     &pwm_ch4_pins &pwm_ch5_pins &pwm_ch6_pins &pwm_ch7_pins>;
	status = "okay";
};

&pwm_tach {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm_tach0_i0_pins &pwm_tach0_i1_pins
		     &pwm_tach0_i2_pins &pwm_tach0_i3_pins
		     &pwm_tach0_i4_pins &pwm_tach0_i5_pins
		     &pwm_tach0_i6_pins &pwm_tach0_i7_pins
		     &pwm_tach0_i8_pins &pwm_tach0_i9_pins
		     &pwm_tach0_i10_pins &pwm_tach0_i11_pins
		     &pwm_tach0_i12_pins &pwm_tach0_i13_pins
		     &pwm_tach0_i14_pins &pwm_tach0_i15_pins>;
	status = "okay";

	fan@0 {
		tach-ch = <0x0>, <0x8>;
	};
	fan@1 {
		tach-ch = <0x1>, <0x9>;
	};
	fan@2 {
		tach-ch = <0x2>, <0xa>;
	};
	fan@3 {
		tach-ch = <0x3>, <0xb>;
	};
	fan@4 {
		tach-ch = <0x4>, <0xc>;
	};
	fan@5 {
		tach-ch = <0x5>, <0xd>;
	};
	fan@6 {
		tach-ch = <0x6>, <0xe>;
	};
	fan@7 {
		tach-ch = <0x7>, <0xf>;
	};
};

&sgpio0 {
	status = "okay";

	gpio-line-names =
		"", "P80_DOUT0", "", "P80_DOUT1", "", "P80_DOUT2", "", "P80_DOUT3",
		"", "P80_DOUT4", "", "P80_DOUT5", "", "P80_DOUT6", "", "P80_DOUT7",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "BMC_BOOT_DONE",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "";
};

&sgpio1 {
	status = "okay";

	gpio-line-names =
		"", "P80_DOUT0", "", "P80_DOUT1", "", "P80_DOUT2", "", "P80_DOUT3",
		"", "P80_DOUT4", "", "P80_DOUT5", "", "P80_DOUT6", "", "P80_DOUT7",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "BMC_BOOT_DONE",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "";
};

&sol9 {
	memory-region = <&sol_tx_mem_uncache>,
			<&sol_rx_mem_uncache>;
	tx-size = <3>;
	rx-size = <3>;
	dev-id = <9>;
	status = "okay";
};

&sol10 {
	memory-region = <&sol_tx_mem_uncache>,
			<&sol_rx_mem_uncache>;
	tx-size = <3>;
	rx-size = <3>;
	dev-id = <10>;
	status = "okay";
};

&sol11 {
	memory-region = <&sol_tx_mem_uncache>,
			<&sol_rx_mem_uncache>;
	tx-size = <3>;
	rx-size = <3>;
	dev-id = <11>;
	status = "okay";
};

&sol12 {
	memory-region = <&sol_tx_mem_uncache>,
			<&sol_rx_mem_uncache>;
	tx-size = <3>;
	rx-size = <3>;
	dev-id = <12>;
	status = "okay";
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins>;
	status = "okay";

	spi_dev0: spi@0 {
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <12000000>;
		reg = <0>;
	};

	spi_dev1: spi@1 {
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <12000000>;
		reg = <1>;
	};
};

&uart9 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-names = "default";
	pinctrl-0 = <&uart9_pins>;
};

&uart10 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-names = "default";
	pinctrl-0 = <&uart10_pins>;
};

&uart11 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-names = "default";
	pinctrl-0 = <&uart11_pins>;
};

&uart12 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-names = "default";
	pinctrl-0 = <&uart12_pins>;
};
