// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (c) 2024 StarFive Technology Co., Ltd.
 */

#include <dt-bindings/clock/starfive,jhb100-crg.h>
#include <dt-bindings/reset/starfive,jhb100-crg.h>

/ {
	osc: osc {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <25000000>;
	};

	pll0: pll0 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <2400000000>;
	};

	pll1: pll1 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <1000000000>;
	};

	pll2: pll2 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <921600000>;
	};

	pll3: pll3 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <800000000>;
	};

	pll4: pll4 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <193250000>;
	};

	pll5: pll5 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <193250000>;
	};

	pll6: pll6 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <2400000000>;
	};

	pll7: pll7 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <650000000>;
	};

	sys_espi0: sys_espi0 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <66000000>;
	};

	sys1_espi1: sys1_espi1 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <66000000>;
	};

	per0_1200: per0_1200 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <1200000000>;
	};

	per2_gmac2_rgmii_rx: per2_gmac2_rgmii_rx {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <50000000>;
	};

	per2_gmac2_rmii_ref: per2_gmac2_rmii_ref {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <125000000>;
	};

	per2_gmac3_sgmii_tx: per2_gmac3_sgmii_tx {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <125000000>;
	};

	per2_gmac3_sgmii_rx: per2_gmac3_sgmii_rx {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <125000000>;
	};

	per3_gmac0_rmii_rclki: per3_gmac0_rmii_rclki {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <50000000>;
	};

	per3_gmac1_sgmii_tx: per3_gmac1_sgmii_tx {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <125000000>;
	};

	per3_gmac1_sgmii_rx: per3_gmac1_sgmii_rx {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <125000000>;
	};

	rtc_apb: rtc_apb {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <100000000>;
	};

	pvt_aon: pvt_aon {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <100000000>;
	};

	soc {
		host0crg: clock-controller@10518000 {
			compatible = "starfive,jhb100-host0crg";
			reg = <0x0 0x10518000 0x0 0x1000>;
			clocks = <&syscrg JHB100_SYSCLK_HOSTSS0_DATA>,
				 <&syscrg JHB100_SYSCLK_HOSTSS0_CFG>,
				 <&syscrg JHB100_SYSCLK_HOSTSS0_PCIE_PHY_SCAN_400_DFT>,
				 <&syscrg JHB100_SYSCLK_HOSTSS0_PCIE_PHY_SCAN_1000_DFT>,
				 <&syscrg JHB100_SYSCLK_ESPI0_EXT_DFT_MUX>;
			clock-names = "host0_data", "host0_cfg",
				      "host0_pcie_phy_scan_1000",
				      "host0_pcie_phy_scan_400",
				      "host0_espi0_ext_dft_mux";
			#clock-cells = <1>;
			#reset-cells = <1>;
			status = "okay";
		};

		husb0crg: clock-controller@10694000 {
			compatible = "starfive,jhb100-husb0crg";
			reg = <0x0 0x10694000 0x0 0x800>;
			#clock-cells = <1>;
			#reset-cells = <1>;
			status = "disabled";
		};

		husbd0crg: clock-controller@10694800 {
			compatible = "starfive,jhb100-husbd0crg";
			reg = <0x0 0x10694800 0x0 0x800>;
			#clock-cells = <1>;
			#reset-cells = <1>;
			status = "disabled";
		};

		gpu0crg: clock-controller@10744000 {
			compatible = "starfive,jhb100-gpu0crg";
			reg = <0x0 0x10744000 0x0 0x1000>;
			#clock-cells = <1>;
			#reset-cells = <1>;
			status = "disabled";
		};

		host1crg: clock-controller@10d18000 {
			compatible = "starfive,jhb100-host1crg";
			reg = <0x0 0x10d18000 0x0 0x1000>;
			clocks = <&syscrg JHB100_SYSCLK_HOSTSS1_DATA>,
				 <&sys1crg JHB100_SYS1CLK_HOSTSS1_CFG>,
				 <&syscrg JHB100_SYSCLK_HOSTSS1_PHY_SCAN_400_ICG_BUF>,
				 <&sys1crg JHB100_SYS1CLK_HOSTSS1_PHY_SCAN_1000_ICG_BUF>,
				 <&sys1crg JHB100_SYS1CLK_ESPI1_EXT_DFT_MUX>;
			clock-names = "host1_data", "host1_cfg",
				      "host1_pcie_phy_scan_1000",
				      "host1_pcie_phy_scan_400",
				      "host1_espi1_ext_dft_mux";
			#clock-cells = <1>;
			#reset-cells = <1>;
			status = "disabled";
		};

		husb1crg: clock-controller@10e94000 {
			compatible = "starfive,jhb100-husb1crg";
			reg = <0x0 0x10e94000 0x0 0x800>;
			#clock-cells = <1>;
			#reset-cells = <1>;
			status = "disabled";
		};

		husbd1crg: clock-controller@10e94800 {
			compatible = "starfive,jhb100-husbd1crg";
			reg = <0x0 0x10e94800 0x0 0x800>;
			#clock-cells = <1>;
			#reset-cells = <1>;
			status = "disabled";
		};

		gpu1crg: clock-controller@10f44000 {
			compatible = "starfive,jhb100-gpu1crg";
			reg = <0x0 0x10f44000 0x0 0x1000>;
			#clock-cells = <1>;
			#reset-cells = <1>;
			status = "disabled";
		};

		husbcmncrg: clock-controller@11044000 {
			compatible = "starfive,jhb100-husbcmncrg";
			reg = <0x0 0x11044000 0x0 0x1000>;
			#clock-cells = <1>;
			#reset-cells = <1>;
			status = "disabled";
		};

		voutcrg: clock-controller@11134000 {
			compatible = "starfive,jhb100-voutcrg";
			reg = <0x0 0x11134000 0x0 0x1000>;
			clocks = <&pll4>, <&pll5>,
				 <&syscrg JHB100_SYSCLK_VOUT_INIT>,
				 <&sys1crg JHB100_SYS1CLK_VOUT_TARG>,
				 <&sys1crg JHB100_SYS1CLK_VOUT_CLK_SCAN_1000_DFT>,
				 <&sys1crg JHB100_SYS1CLK_VOUT_CLK_SCAN_800_DFT>;
			clock-names = "pll4", "pll5", "vout_init", "vout_targ",
				      "vout_scan_1000", "vout_scan_800";
			#clock-cells = <1>;
			#reset-cells = <1>;
			status = "disabled";
		};

		vcecrg: clock-controller@11184000 {
			compatible = "starfive,jhb100-vcecrg";
			reg = <0x0 0x11184000 0x0 0x1000>;
			clocks = <&syscrg JHB100_SYSCLK_VCE_INIT>;
			clock-names = "vce_init";
			#clock-cells = <1>;
			#reset-cells = <1>;
			status = "disabled";
		};

		pcierpcrg: clock-controller@11718000 {
			compatible = "starfive,jhb100-pcierpcrg";
			reg = <0x0 0x11718000 0x0 0x1000>;
			#clock-cells = <1>;
			#reset-cells = <1>;
			status = "disabled";
		};

		usbcrg: clock-controller@11834000 {
			compatible = "starfive,jhb100-usbcrg";
			reg = <0x0 0x11834000 0x0 0x1000>;
			#clock-cells = <1>;
			#reset-cells = <1>;
			status = "disabled";
		};

		per0crg: clock-controller@11a08000 {
			compatible = "starfive,jhb100-per0crg";
			reg = <0x0 0x11a08000 0x0 0x1000>;
			clocks = <&osc>, <&pll6>,
				 <&syscrg JHB100_SYSCLK_BMCPER0_400>,
				 <&syscrg JHB100_SYSCLK_BMCPER0_800_OSC>,
				 <&syscrg JHB100_SYSCLK_BMCPER0_INIT>,
				 <&sys2crg JHB100_SYS2CLK_BMCPER0_TARG>,
				 <&sys2crg JHB100_SYS2CLK_BMCPER0_125>;
			clock-names = "osc", "pll6", "per0_400",
				      "per0_800_osc", "per0_init",
				      "per0_targ", "per0_125";
			#clock-cells = <1>;
			#reset-cells = <1>;
		};

		per1crg: clock-controller@11b40000 {
			compatible = "starfive,jhb100-per1crg";
			reg = <0x0 0x11b40000 0x0 0x1000>;
			clocks = <&pll7>,
				 <&syscrg JHB100_SYSCLK_BMCPER1_INIT>,
				 <&syscrg JHB100_SYSCLK_BMCPER1_400>,
				 <&syscrg JHB100_SYSCLK_BMCPER1_600>,
				 <&syscrg JHB100_SYSCLK_BMCPER1_800>,
				 <&sys2crg JHB100_SYS2CLK_BMCPER1_TARG>,
				 <&sys2crg JHB100_SYS2CLK_BMCPER1_200>,
				 <&sys2crg JHB100_SYS2CLK_BMCPER1_143>;
			clock-names = "pll7", "per1_init", "per1_400",
				      "per1_600", "per1_800", "per1_targ",
				      "per1_200", "per1_143";
			#clock-cells = <1>;
			#reset-cells = <1>;
		};

		per2crg: clock-controller@11bc0000 {
			compatible = "starfive,jhb100-per2crg";
			reg = <0x0 0x11bc0000 0x0 0x1000>;
			clocks = <&syscrg JHB100_SYSCLK_BMCPER2_TARG>,
				 <&syscrg JHB100_SYSCLK_BMCPER2_400>,
				 <&syscrg JHB100_SYSCLK_BMCPER2_125>,
				 <&per2_gmac2_rgmii_rx>,
				 <&per2_gmac2_rmii_ref>,
				 <&per2_gmac3_sgmii_tx>,
				 <&per2_gmac3_sgmii_rx>,
				 <&osc>;
			clock-names = "per2_targ", "per2_400", "per2_125",
				      "per2_gmac2_rgmii_rx",
				      "per2_gmac2_rmii_ref",
				      "per2_gmac3_sgmii_tx",
				      "per2_gmac3_sgmii_rx",
				      "osc";
			#clock-cells = <1>;
			#reset-cells = <1>;
		};

		per3crg: clock-controller@11c40000 {
			compatible = "starfive,jhb100-per3crg";
			reg = <0x0 0x11c40000 0x0 0x1000>;
			clocks = <&syscrg JHB100_SYSCLK_BMCPER3_600>,
				 <&sys1crg JHB100_SYS1CLK_BMCPER3_100>,
				 <&sys1crg JHB100_SYS1CLK_BMCPER3_125>,
				 <&per3_gmac0_rmii_rclki>,
				 <&per3_gmac1_sgmii_tx>,
				 <&per3_gmac1_sgmii_rx>;
			clock-names = "per3_600", "per3_100", "per3_125",
				      "per3_gmac0_rmii_rclki",
				      "per3_gmac1_sgmii_tx",
				      "per3_gmac1_sgmii_rx";
			#clock-cells = <1>;
			#reset-cells = <1>;
		};

		syscrg: clock-controller@13000000 {
			compatible = "starfive,jhb100-syscrg";
			reg = <0x0 0x13000000 0x0 0x4000>;
			clocks = <&osc>, <&pll0>, <&pll1>, <&pll2>,
				 <&sys_espi0>;
			clock-names = "osc", "pll0", "pll1", "pll2",
				      "sys_espi0";
			#clock-cells = <1>;
			#reset-cells = <1>;
		};

		sys1crg: clock-controller@13004000 {
			compatible = "starfive,jhb100-sys1crg";
			reg = <0x0 0x13004000 0x0 0x4000>;
			clocks = <&osc>, <&pll0>, <&pll1>, <&pll2>,
				 <&sys1_espi1>;
			clock-names = "osc", "pll0", "pll1", "pll2",
				      "sys1_espi1";
			#clock-cells = <1>;
			#reset-cells = <1>;
		};

		sys2crg: clock-controller@13008000 {
			compatible = "starfive,jhb100-sys2crg";
			reg = <0x0 0x13008000 0x0 0x4000>;
			clocks = <&osc>, <&pll1>,
				 <&syscrg JHB100_SYSCLK_GPU0_INIT>,
				 <&syscrg JHB100_SYSCLK_GPU1_INIT>;
			clock-names = "osc", "pll1", "sys2_gpu0_init",
				      "sys2_gpu1_init";
			#clock-cells = <1>;
			#reset-cells = <1>;
		};

		cpucrg: clock-controller@13214000 {
			compatible = "starfive,jhb100-cpucrg";
			reg = <0x0 0x13214000 0x0 0x1000>;
			clocks = <&syscrg JHB100_SYSCLK_BMCCPUSS_SYS_OSC>;
			clock-names = "cpu_sys_osc";
			#clock-cells = <1>;
			#reset-cells = <1>;
		};
	};
};
