// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (c) 2024 StarFive Technology Co., Ltd.
 */

/dts-v1/;
#include "jhb100-crg.dtsi"
#include "jhb100-pinfunc.h"

/ {
	compatible = "starfive,jhb100";
	#address-cells = <2>;
	#size-cells = <2>;

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			compatible = "starfive,dubhe-70", "riscv";
			riscv,isa = "rv64imafdcbh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "h", "zba", "zbb",
					       "zbc", "zbs", "zicbom", "zicbop", "zicboz", "zicntr",
					       "zicond", "zicsr", "zifencei", "zihintpause",
					       "zihpm", "svinval", "svnapot", "sscofpmf";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			d-cache-block-size = <64>;
			d-cache-sets = <512>;
			d-cache-size = <32768>;
			d-tlb-sets = <1>;
			d-tlb-size = <16>;
			device_type = "cpu";
			i-cache-block-size = <64>;
			i-cache-sets = <512>;
			i-cache-size = <32768>;
			i-tlb-sets = <1>;
			i-tlb-size = <24>;
			mmu-type = "riscv,sv48";
			next-level-cache = <&l2c0>;
			reg = <0x0>;
			tlb-split;

			cpu0_intc: interrupt-controller {
				compatible = "riscv,cpu-intc";
				interrupt-controller;
				#interrupt-cells = <1>;
			};
		};

		cpu1: cpu@1 {
			compatible = "starfive,dubhe-70", "riscv";
			riscv,isa = "rv64imafdcbh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "h", "zba", "zbb",
					       "zbc", "zbs", "zicbom", "zicbop", "zicboz", "zicntr",
					       "zicond", "zicsr", "zifencei", "zihintpause",
					       "zihpm", "svinval", "svnapot", "sscofpmf";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			d-cache-block-size = <64>;
			d-cache-sets = <512>;
			d-cache-size = <32768>;
			d-tlb-sets = <1>;
			d-tlb-size = <16>;
			device_type = "cpu";
			i-cache-block-size = <64>;
			i-cache-sets = <512>;
			i-cache-size = <32768>;
			i-tlb-sets = <1>;
			i-tlb-size = <24>;
			mmu-type = "riscv,sv48";
			next-level-cache = <&l2c1>;
			reg = <0x1>;
			tlb-split;

			cpu1_intc: interrupt-controller {
				compatible = "riscv,cpu-intc";
				interrupt-controller;
				#interrupt-cells = <1>;
			};
		};

		cpu2: cpu@2 {
			compatible = "starfive,dubhe-70", "riscv";
			riscv,isa = "rv64imafdcbh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "h", "zba", "zbb",
					       "zbc", "zbs", "zicbom", "zicbop", "zicboz", "zicntr",
					       "zicond", "zicsr", "zifencei", "zihintpause",
					       "zihpm", "svinval", "svnapot", "sscofpmf";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			d-cache-block-size = <64>;
			d-cache-sets = <512>;
			d-cache-size = <32768>;
			d-tlb-sets = <1>;
			d-tlb-size = <16>;
			device_type = "cpu";
			i-cache-block-size = <64>;
			i-cache-sets = <512>;
			i-cache-size = <32768>;
			i-tlb-sets = <1>;
			i-tlb-size = <24>;
			mmu-type = "riscv,sv48";
			next-level-cache = <&l2c2>;
			reg = <0x2>;
			tlb-split;

			cpu2_intc: interrupt-controller {
				compatible = "riscv,cpu-intc";
				interrupt-controller;
				#interrupt-cells = <1>;
			};
		};

		cpu3: cpu@3 {
			compatible = "starfive,dubhe-70", "riscv";
			riscv,isa = "rv64imafdcbh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "h", "zba", "zbb",
					       "zbc", "zbs", "zicbom", "zicbop", "zicboz", "zicntr",
					       "zicond", "zicsr", "zifencei", "zihintpause",
					       "zihpm", "svinval", "svnapot", "sscofpmf";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			d-cache-block-size = <64>;
			d-cache-sets = <512>;
			d-cache-size = <32768>;
			d-tlb-sets = <1>;
			d-tlb-size = <16>;
			device_type = "cpu";
			i-cache-block-size = <64>;
			i-cache-sets = <512>;
			i-cache-size = <32768>;
			i-tlb-sets = <1>;
			i-tlb-size = <24>;
			mmu-type = "riscv,sv48";
			next-level-cache = <&l2c3>;
			reg = <0x3>;
			tlb-split;

			cpu3_intc: interrupt-controller {
				compatible = "riscv,cpu-intc";
				interrupt-controller;
				#interrupt-cells = <1>;
			};
		};

		cpu-map {
			cluster0 {
				core0 {
					cpu = <&cpu0>;
				};
			};

			cluster1 {
				core0 {
					cpu = <&cpu1>;
				};
			};

			cluster2 {
				core0 {
					cpu = <&cpu2>;
				};
			};

			cluster3 {
				core0 {
					cpu = <&cpu3>;
				};
			};
		};

		l2c0: cache-controller-0 {
			compatible = "cache";
			cache-block-size = <64>;
			cache-level = <2>;
			cache-sets = <2048>;
			cache-size = <0x20000>;
			cache-unified;
			next-level-cache = <&l3_cache>;
		};

		l2c1: cache-controller-1 {
			compatible = "cache";
			cache-block-size = <64>;
			cache-level = <2>;
			cache-sets = <2048>;
			cache-size = <0x20000>;
			cache-unified;
			next-level-cache = <&l3_cache>;
		};

		l2c2: cache-controller-2 {
			compatible = "cache";
			cache-block-size = <64>;
			cache-level = <2>;
			cache-sets = <2048>;
			cache-size = <0x20000>;
			cache-unified;
			next-level-cache = <&l3_cache>;
		};

		l2c3: cache-controller-3 {
			compatible = "cache";
			cache-block-size = <64>;
			cache-level = <2>;
			cache-sets = <2048>;
			cache-size = <0x20000>;
			cache-unified;
			next-level-cache = <&l3_cache>;
		};

		l3_cache: cache-controller-4 {
			compatible = "cache";
			cache-block-size = <64>;
			cache-level = <3>;
			cache-sets = <1024>;
			cache-size = <0x20000>;
			cache-unified;
		};
	};

	pmu {
		compatible = "riscv,pmu";
		interrupts-extended = <&cpu0_intc 13>, <&cpu1_intc 13>,
				      <&cpu2_intc 13>, <&cpu3_intc 13>;

		riscv,event-to-mhpmevent = <0x00005 0x0000 0xA>,
					   <0x00006 0x0000 0xB>,
					   <0x00008 0x0000 0x10>,
					   <0x00009 0x0000 0xF>,
					   <0x10000 0x0000 0x19>,
					   <0x10001 0x0000 0x1A>,
					   <0x10002 0x0000 0x1B>,
					   <0x10003 0x0000 0x1C>,
					   <0x10008 0x0000 0x8>,
					   <0x10009 0x0000 0x9>,
					   <0x1000C 0x0000 0x9E>,
					   <0x1000D 0x0000 0x9F>,
					   <0x10010 0x0000 0x1D>,
					   <0x10011 0x0000 0x1E>,
					   <0x10012 0x0000 0x1F>,
					   <0x10013 0x0000 0x20>,
					   <0x10014 0x0000 0x21>,
					   <0x10018 0x0000 0x17>,
					   <0x10019 0x0000 0x18>,
					   <0x10020 0x0000 0x8>,
					   <0x10021 0x0000 0x7>;

		riscv,event-to-mhpmcounters = <0x00005 0x00006 0x00007FF8>,
					      <0x00008 0x00009 0x00007FF8>,
					      <0x10000 0x10003 0x00007FF8>,
					      <0x10008 0x10009 0x00007FF8>,
					      <0x1000C 0x1000D 0x00007FF8>,
					      <0x10010 0x10014 0x00007FF8>,
					      <0x10018 0x10019 0x00007FF8>,
					      <0x10020 0x10021 0x00007FF8>;

		riscv,raw-event-to-mhpmcounters =
			<0x00 0x00 0xFFFFFFFF 0xFFFFFFE0 0x00007FF8>,	/* Event ID 1-31 */
			<0x00 0x20 0xFFFFFFFF 0xFFFFFFFE 0x00007FF8>,	/* Event ID 32-33 */
			<0x00 0x22 0xFFFFFFFF 0xFFFFFF22 0x00007FF8>;	/* Event ID 34 */
	};

	dubhe_edac: dubhe-edac {
		compatible = "starfive,dubhe-core-edac";
	};

	soc {
		compatible = "simple-bus";
		interrupt-parent = <&plic>;
		#address-cells = <2>;
		#size-cells = <2>;
		dma-ranges;
		ranges;

		clint: clint@2000000 {
			compatible = "starfive,jhb100-clint", "sifive,clint0";
			reg = <0x0 0x02000000 0x0 0x10000>;
			interrupts-extended = <&cpu0_intc 3>, <&cpu0_intc 7>,
					      <&cpu1_intc 3>, <&cpu1_intc 7>,
					      <&cpu2_intc 3>, <&cpu2_intc 7>,
					      <&cpu3_intc 3>, <&cpu3_intc 7>;
		};

		plic: interrupt-controller@c000000 {
			#interrupt-cells = <1>;
			compatible = "starfive,jhb100-plic", "sifive,plic-1.0.0";
			reg = <0x0 0x0c000000 0x0 0x4000000>;
			riscv,ndev = <400>;
			interrupt-controller;
			interrupts-extended = <&cpu0_intc 11>, <&cpu0_intc 9>,
					      <&cpu1_intc 11>, <&cpu1_intc 9>,
					      <&cpu2_intc 11>, <&cpu2_intc 9>,
					      <&cpu3_intc 11>, <&cpu3_intc 9>;
		};

		bus_nioc: bus_nioc {
			compatible = "simple-bus";
			#address-cells = <2>;
			#size-cells = <2>;
			dma-noncoherent;
			dma-ranges = <0x4 0x00000000 0x0 0x40000000 0x2 0x0>,
				     <0x4 0x00000000 0x4 0x00000000 0x2 0x0>;
			ranges;

			pcie_ep0: pcie-ep@10000000 {
				compatible = "starfive,jhb100-pcie-ep";
				reg = <0x0 0x10000000 0x0 0x100000>,
				<0x0 0x10100000 0x0 0x100000>;
				reg-names = "dbi", "dbi2";
				interrupts = <264>, <265>, <266>, <267>;
				interrupt-names = "pm_link", "flr", "err", "edma_local";
				clocks = <&host0crg JHB100_HOST0CLK_MAIN_ICG_EN_PCIE0_EP>;
				resets = <&host0crg JHB100_HOST0RST_MAIN_RSTN_DW_PCIE0_EP>;
				reset-names = "dbi_intf";
				max-link-speed = <4>;
				num-lanes = <1>;
				ecsr-syscon = <&pcie_ep0_ecsr>;

				status = "disabled";
			};

			pcie0_mctp: mctp@10510000 {
				compatible = "starfive,jhb100-mctp";
				reg = <0x0 0x10510000 0x0 0x1000>;
				/*interrupts = <309>, <&sysgpio 28 GPIO_ACTIVE_LOW>;*/
				/*interrupt-names = "mctp", "pcie"*/
				/*clocks = <&host0crg JHB100_HOST0CLK_MAIN_ICG_EN_MCTP0>;*/
				resets = <&host0crg JHB100_HOST0CLK_MAIN_ICG_EN_MCTP0_EP>;
				starfive,pcie-ecsr = <&pcie_ep0_ecsr>;
				starfive,rx-packet-count = <64>;
				starfive,rx-ring-count = <64>;
				starfive,tx-ring-count = <64>;
				status = "disabled";
			};

			pcie_ep0_ecsr: syscon@10511000 {
				compatible = "starfive,jhb100-pcie-ecsr-syscon", "syscon";
				reg = <0x0 0x10511000 0x0 0x1000>;
			};

			pcie0_mmbi: mmbi@10512000 {
				compatible = "starfive,jhb100-mmbi";
				reg = <0x0 0x10512000 0x0 0x400>;
				interrupts = <289>, <290>, <291>, <292>,
					     <293>, <294>, <295>, <296>, <354>;
				clocks = <&host0crg JHB100_HOST0CLK_MAIN_ICG_EN_MMBI_PCIE0>;
				resets = <&host0crg JHB100_HOST0RST_MAIN_RSTN_MMBI_PCIE0>;
				status = "disabled";
			};

			pvt_cpu: pvt@10514000 {
				compatible = "moortec,mr75203";
				reg = <0x0 0x10514000 0x0 0x80>,
				      <0x0 0x10514080 0x0 0x80>,
				      <0x0 0x10514100 0x0 0x80>,
				      <0x0 0x10514400 0x0 0x800>;
				reg-names = "common", "ts", "pd", "vm";
				intel,vm-map = [00 ff];
				clocks = <&cpucrg JHB100_CPUCLK_MAIN_ICG_EN_CPUSS_SENSORS0>;
				resets = <&cpucrg JHB100_CPURST_MAIN_RSTN_SENSORS0>;
				moortec,vm-active-channels = <16>;
				moortec,vm-pre-scaler-x2 = <1 1 1 1 2 1 1 1 1 1 1 1 3 1 1 1>;
				moortec,ts-coeff-g = <61400>;
				moortec,ts-coeff-h = <253700>;
				#thermal-sensor-cells = <1>;
				status = "disabled";
			};

			espi0_mmbi: mmbi@10580000 {
				compatible = "starfive,jhb100-mmbi";
				reg = <0x0 0x10580000 0x0 0x400>;
				interrupts = <272>, <273>, <274>, <275>,
					     <276>, <277>, <278>, <279>, <352>;
				clocks = <&host0crg JHB100_HOST0CLK_MAIN_ICG_EN_MMBI_ESPI0>;
				resets = <&host0crg JHB100_HOST0RST_MAIN_RSTN_MMBI_ESPI0>;
				status = "disabled";
			};

			sio0: superio@10582000 {
				compatible = "starfive,jhb100-sio", "simple-mfd", "syscon";
				reg = <0x0 0x10582000 0x0 0x1000>;
				#address-cells = <2>;
				#size-cells = <2>;
				status = "disabled";
				ranges = <0x0 0x0 0x0 0x10582000 0x0 0x1000>;

				sio0_bt0: bt@0 {
					compatible = "starfive,jhb100-bt-bmc";
					reg = <0x0 0x0 0x0 0x100>;
					interrupts = <280>;
					status = "disabled";
				};

				sio0_bt1: bt@100 {
					compatible = "starfive,jhb100-bt-bmc";
					reg = <0x0 0x100 0x0 0x100>;
					interrupts = <281>;
					status = "disabled";
				};

				sio0_kcs0: kcs@200 {
					compatible = "starfive,jhb100-kcs-bmc";
					reg = <0x0 0x200 0x0 0x100>;
					interrupts = <282>;
					status = "disabled";
				};

				sio0_kcs1: kcs@300 {
					compatible = "starfive,jhb100-kcs-bmc";
					reg = <0x0 0x300 0x0 0x100>;
					interrupts = <283>;
					status = "disabled";
				};

				sio0_kcs2: kcs@400 {
					compatible = "starfive,jhb100-kcs-bmc";
					reg = <0x0 0x400 0x0 0x100>;
					interrupts = <284>;
					status = "disabled";
				};

				sio0_kcs3: kcs@500 {
					compatible = "starfive,jhb100-kcs-bmc";
					reg = <0x0 0x500 0x0 0x100>;
					interrupts = <285>;
					status = "disabled";
				};

				sio0_mbox: mbox@600 {
					compatible = "starfive,jhb100-sio-mbox";
					reg = <0x0 0x600 0x0 0x100>;
					interrupts = <286>;
					status = "disabled";
				};

				sio0_pcc: pcc@800 {
					compatible = "starfive,jhb100-sio-pcc";
					reg = <0x0 0x800 0x0 0x100>;
					interrupts = <287>;
					status = "disabled";
				};

				sio0_wdi: wdi@900 {
					compatible = "starfive,jhb100-sio-wdi";
					reg = <0x0 0x900 0x0 0x100>;
					interrupts = <288>;
					status = "disabled";
				};
			};

			espi0: espi-slave@10584000 {
				compatible = "starfive,jhb100-espi-slave";
				reg = <0x0 0x10584000 0x0 0x2000>;
				espi-dma-mode = <0xff>;
				espi-wait-state = <15>;
				perif-memcyc-enable;
				flash-safs-mode = <1>;
				interrupts = <297>, <298>;
				clocks = <&host0crg JHB100_HOST0CLK_MAIN_ICG_EN_ESPI0_EDAF>,
					 <&host0crg JHB100_HOST0CLK_MAIN_ICG_EN_SUPERIO0>;
				resets = <&host0crg JHB100_HOST0RST_MAIN_RSTN_ESPI0_SLAVE_POK>,
					 <&host0crg JHB100_HOST0RST_MAIN_RSTN_SUPERIO0_ESPI>;
				reset-names = "espi", "sio";
				status = "disabled";
			};

			husb0d0: usb@10600000 {
				compatible = "starfive,jhb100-dwc3-device";
				#address-cells = <2>;
				#size-cells = <2>;
				clocks = <&husb0crg JHB100_HUSB0CLK_PORT0_UTMI_CLK>;
				clock-name = "utmi";
				resets = <&husbd0crg JHB100_HUSBD0RST_MAIN_RSTN_DEVICE0>;
				ranges;
				status = "disabled";

				husb0dcore0: usb@10600000 {
					compatible = "snps,dwc3";
					reg = <0x0 0x10600000 0x0 0x10000>;
					interrupts = <243>;
					clocks = <&husbd0crg JHB100_HUSBD0CLK_USB2_DEV0_BUSCLK>;
					clock-name = "bus_early";
					dr_mode = "peripheral";
				};
			};

			husb0d1: usb@10610000 {
				compatible = "starfive,jhb100-dwc3-device";
				#address-cells = <2>;
				#size-cells = <2>;
				clocks = <&husb0crg JHB100_HUSB0CLK_PORT1_UTMI_CLK>;
				clock-name = "utmi";
				resets = <&husbd0crg JHB100_HUSBD0RST_MAIN_RSTN_DEVICE1>;
				ranges;
				status = "disabled";

				husb0dcore1: usb@10610000 {
					compatible = "snps,dwc3";
					reg = <0x0 0x10610000 0x0 0x10000>;
					clocks = <&husbd0crg JHB100_HUSBD0CLK_USB2_DEV1_BUSCLK>;
					clock-name = "bus_early";
					interrupts = <244>;
					dr_mode = "peripheral";
				};
			};

			husb0d2: usb@10620000 {
				compatible = "starfive,jhb100-dwc3-device";
				#address-cells = <2>;
				#size-cells = <2>;
				clocks = <&husb0crg JHB100_HUSB0CLK_PORT2_UTMI_CLK>,
					<&husb0crg JHB100_HUSB1CLK_PORT2_PIPE3_PCLK>;
				clock-name = "utmi", "pipe";
				resets = <&husbd0crg JHB100_HUSBD0RST_MAIN_RSTN_DEVICE2>;
				ranges;
				status = "disabled";

				husb0dcore2: usb@10620000 {
					compatible = "snps,dwc3";
					reg = <0x0 0x10620000 0x0 0x10000>;
					clocks = <&husbd0crg JHB100_HUSBD0CLK_USB3_DEV0_BUSCLK>,
						<&husbd0crg JHB100_HUSBD0CLK_USB3_DEV0_SUSPENDCLK>;
					clock-name = "bus_early", "suspend";
					interrupts = <245>;
					dr_mode = "peripheral";
				};
			};

			husb0d3: usb@10630000 {
				compatible = "starfive,jhb100-dwc3-device";
				#address-cells = <2>;
				#size-cells = <2>;
				clocks = <&husb0crg JHB100_HUSB1CLK_PORT3_UTMI_CLK>,
					<&husb0crg JHB100_HUSB1CLK_PORT3_PIPE3_PCLK>;
				clock-name = "utmi", "pipe";
				resets = <&husbd0crg JHB100_HUSBD0RST_MAIN_RSTN_DEVICE3>;
				ranges;
				status = "disabled";

				husb0dcore3: usb@10630000 {
					compatible = "snps,dwc3";
					reg = <0x0 0x10630000 0x0 0x10000>;
					clocks = <&husbd0crg JHB100_HUSBD0CLK_USB3_DEV1_BUSCLK>,
						<&husbd0crg JHB100_HUSBD0CLK_USB3_DEV1_SUSPENDCLK>;
					clock-name = "bus_early", "suspend";
					interrupts = <246>;
					dr_mode = "peripheral";
				};
			};

			husb0d4: usb@10640000 {
				compatible = "starfive,jhb100-dwc3-device";
				#address-cells = <2>;
				#size-cells = <2>;
				clocks = <&husb0crg JHB100_HUSB1CLK_PORT4_UTMI_CLK>,
					<&husb0crg JHB100_HUSB1CLK_PORT4_PIPE3_PCLK>;
				clock-name = "utmi", "pipe";
				resets = <&husbd0crg JHB100_HUSBD0RST_MAIN_RSTN_DEVICE4>;
				ranges;
				status = "disabled";

				husb0dcore4: usb@10640000 {
					compatible = "snps,dwc3";
					reg = <0x0 0x10640000 0x0 0x10000>;
					clocks = <&husbd0crg JHB100_HUSBD0CLK_USB3_DEV2_BUSCLK>,
						<&husbd0crg JHB100_HUSBD0CLK_USB3_DEV2_SUSPENDCLK>;
					clock-name = "bus_early", "suspend";
					interrupts = <247>;
					dr_mode = "peripheral";
				};
			};

			husb0d5: usb@10650000 {
				compatible = "starfive,jhb100-dwc3-device";
				#address-cells = <2>;
				#size-cells = <2>;
				clocks = <&husb0crg JHB100_HUSB1CLK_PORT5_UTMI_CLK>,
					<&husb0crg JHB100_HUSB1CLK_PORT5_PIPE3_PCLK>;
				clock-name = "utmi", "pipe";
				resets = <&husbd0crg JHB100_HUSBD0RST_MAIN_RSTN_DEVICE5>;
				ranges;
				status = "disabled";

				husb0dcore5: usb@10650000 {
					compatible = "snps,dwc3";
					reg = <0x0 0x10650000 0x0 0x10000>;
					clocks = <&husbd0crg JHB100_HUSBD0CLK_USB3_DEV3_BUSCLK>,
						<&husbd0crg JHB100_HUSBD0CLK_USB3_DEV3_SUSPENDCLK>;
					clock-name = "bus_early", "suspend";
					interrupts = <248>;
					dr_mode = "peripheral";
				};
			};

			husb0d6: usb@10660000 {
				compatible = "starfive,jhb100-dwc3-device";
				#address-cells = <2>;
				#size-cells = <2>;
				clocks = <&husb0crg JHB100_HUSB1CLK_PORT6_UTMI_CLK>,
					<&husb0crg JHB100_HUSB1CLK_PORT6_PIPE3_PCLK>;
				clock-name = "utmi", "pipe";
				resets = <&husbd0crg JHB100_HUSBD0RST_MAIN_RSTN_DEVICE6>;
				ranges;
				status = "disabled";

				husb0dcore6: usb@10660000 {
					compatible = "snps,dwc3";
					reg = <0x0 0x10660000 0x0 0x10000>;
					clocks = <&husbd0crg JHB100_HUSBD0CLK_USB3_DEV4_BUSCLK>,
						<&husbd0crg JHB100_HUSBD0CLK_USB3_DEV4_SUSPENDCLK>;
					clock-name = "bus_early", "suspend";
					interrupts = <249>;
					dr_mode = "peripheral";
				};
			};

			husb0d7: usb@10670000 {
				compatible = "starfive,jhb100-dwc3-device";
				#address-cells = <2>;
				#size-cells = <2>;
				clocks = <&husb0crg JHB100_HUSB1CLK_PORT7_UTMI_CLK>,
					<&husb0crg JHB100_HUSB1CLK_PORT7_PIPE3_PCLK>;
				clock-name = "utmi", "pipe";
				resets =<&husbd0crg JHB100_HUSBD0RST_MAIN_RSTN_DEVICE7>;
				ranges;
				status = "disabled";

				husb0dcore7: usb@10670000 {
					compatible = "snps,dwc3";
					reg = <0x0 0x10670000 0x0 0x10000>;
					clocks = <&husbd0crg JHB100_HUSBD0CLK_USB3_DEV5_BUSCLK>,
						<&husbd0crg JHB100_HUSBD0CLK_USB3_DEV5_SUSPENDCLK>;
					clock-name = "bus_early", "suspend";
					interrupts = <250>;
					dr_mode = "peripheral";
				};
			};

			husb0: usb@10680000 {
				compatible = "starfive,jhb100-dwc3-mphost";
				#address-cells = <2>;
				#size-cells = <2>;
				resets = <&husb0crg JHB100_HUSB0RST_MAIN_RSTN_XHCI>,
					<&husbd0crg JHB100_HUSBD0RST_DEV_SYSCON_RSTN>,
					<&husbd0crg JHB100_HUSBD0RST_HOST_SYSCON_RSTN>;
				interrupts = <251>;
				status = "disabled";
				ranges;

				husb0core: usb@10680000 {
					compatible = "snps,dwc3";
					reg = <0x0 0x10680000 0x0 0x10000>;
					clocks = <&husb0crg JHB100_HUSB0CLK_XHCI_BUSCLK>,
						<&husb0crg JHB100_HUSB0CLK_XHCI_REFCLK>,
						<&husb0crg JHB100_HUSB0CLK_XHCI_SUSPENDCLK>;
					clock-name = "bus_early", "ref", "suspend";
					interrupts = <252>;
					dr_mode = "host";
					snps,export-xhci-to-pcie;
				};
			};

			husb0syscon: syscon@10695000 {
				compatible = "starfive,jhb100-husb-syscon", "syscon";
				reg = <0x0 0x10695000 0x0 0x1000>;
			};

			pvt_gpu0: pvt@10740000 {
				compatible = "moortec,mr75203";
				reg = <0x0 0x10740000 0x0 0x80>,
				      <0x0 0x10740080 0x0 0x80>,
				      <0x0 0x10740100 0x0 0x80>;
				reg-names = "common", "ts", "pd";
				clocks = <&gpu0crg JHB100_GPU0CLK_MAIN_ICG_EN_SENSORS1>;
				resets = <&gpu0crg JHB100_GPU0RST_MAIN_RSTN_SENSORS5>;
				moortec,ts-coeff-g = <61400>;
				moortec,ts-coeff-h = <253700>;
				#thermal-sensor-cells = <1>;
				status = "disabled";
			};

			pcie_ep1: pcie-ep@10800000 {
				compatible = "starfive,jhb100-pcie-ep";
				reg = <0x0 0x10800000 0x0 0x100000>,
				<0x0 0x10900000 0x0 0x100000>;
				reg-names = "dbi", "dbi2";
				interrupts = <308>, <309>, <310>, <311>;
				interrupt-names = "pm_link", "flr", "err", "edma_local";
				clocks = <&host1crg JHB100_HOST1CLK_MAIN_ICG_EN_PCIE1_EP>;
				resets = <&host1crg JHB100_HOST1RST_MAIN_RSTN_DW_PCIE1_EP>;
				reset-names = "dbi_intf";
				max-link-speed = <4>;
				num-lanes = <1>;
				ecsr-syscon = <&pcie_ep1_ecsr>;

				status = "disabled";
			};

			pcie1_mctp: mctp@10d10000 {
				compatible = "starfive,jhb100-mctp";
				reg = <0x0 0x10d10000 0x0 0x1000>;
				/*interrupts = <349>, <&sysgpio 32 GPIO_ACTIVE_LOW>*/
				/*interrupt-names = "mctp", "pcie";*/
				/*clocks = <&host1crg JHB100_HOST1CLK_MAIN_ICG_EN_MCTP1>;*/
				resets = <&host1crg JHB100_HOST1RST_MAIN_RSTN_MCTP1_EP>;
				starfive,pcie-ecsr = <&pcie_ep1_ecsr>;
				starfive,rx-packet-count = <64>;
				starfive,rx-ring-count = <64>;
				starfive,tx-ring-count = <64>;
				status = "disabled";
			};

			pcie_ep1_ecsr: syscon@10d11000 {
				compatible = "starfive,jhb100-pcie-ecsr-syscon", "syscon";
				reg = <0x0 0x10d11000 0x0 0x1000>;
			};

			pcie1_mmbi: mmbi@10d12000 {
				compatible = "starfive,jhb100-mmbi";
				reg = <0x0 0x10d12000 0x0 0x400>;
				interrupts = <333>, <334>, <335>, <336>,
					     <337>, <338>, <339>, <340>, <402>;
				clocks = <&host1crg JHB100_HOST1CLK_MAIN_ICG_EN_MMBI_PCIE1>;
				resets = <&host1crg JHB100_HOST1RST_MAIN_RSTN_MMBI_PCIE1>;
				status = "disabled";
			};

			espi1_mmbi: mmbi@10d80000 {
				compatible = "starfive,jhb100-mmbi";
				reg = <0x0 0x10d80000 0x0 0x400>;
				interrupts = <316>, <317>, <318>, <319>,
					     <320>, <321>, <322>, <323>, <403>;
				clocks = <&host1crg JHB100_HOST1CLK_MAIN_ICG_EN_MMBI_ESPI1>;
				resets = <&host1crg JHB100_HOST1RST_MAIN_RSTN_MMBI_ESPI1>;
				status = "disabled";
			};

			sio1: superio@10d82000 {
				compatible = "starfive,jhb100-sio", "simple-mfd", "syscon";
				reg = <0x0 0x10d82000 0x0 0x1000>;
				#address-cells = <2>;
				#size-cells = <2>;
				status = "disabled";
				ranges = <0x0 0x0 0x0 0x10d82000 0x0 0x1000>;

				sio1_bt0: bt@0 {
					compatible = "starfive,jhb100-bt-bmc";
					reg = <0x0 0x0 0x0 0x100>;
					interrupts = <324>;
					status = "disabled";
				};

				sio1_bt1: bt@100 {
					compatible = "starfive,jhb100-bt-bmc";
					reg = <0x0 0x100 0x0 0x100>;
					interrupts = <325>;
					status = "disabled";
				};

				sio1_kcs0: kcs@200 {
					compatible = "starfive,jhb100-kcs-bmc";
					reg = <0x0 0x200 0x0 0x100>;
					interrupts = <326>;
					status = "disabled";
				};

				sio1_kcs1: kcs@300 {
					compatible = "starfive,jhb100-kcs-bmc";
					reg = <0x0 0x300 0x0 0x100>;
					interrupts = <327>;
					status = "disabled";
				};

				sio1_kcs2: kcs@400 {
					compatible = "starfive,jhb100-kcs-bmc";
					reg = <0x0 0x400 0x0 0x100>;
					interrupts = <328>;
					status = "disabled";
				};

				sio1_kcs3: kcs@500 {
					compatible = "starfive,jhb100-kcs-bmc";
					reg = <0x0 0x500 0x0 0x100>;
					interrupts = <329>;
					status = "disabled";
				};

				sio1_mbox: mbox@600 {
					compatible = "starfive,jhb100-sio-mbox";
					reg = <0x0 0x600 0x0 0x100>;
					interrupts = <330>;
					status = "disabled";
				};

				sio1_pcc: pcc@800 {
					compatible = "starfive,jhb100-sio-pcc";
					reg = <0x0 0x800 0x0 0x100>;
					interrupts = <331>;
					status = "disabled";
				};

				sio1_wdi: wdi@900 {
					compatible = "starfive,jhb100-sio-wdi";
					reg = <0x0 0x900 0x0 0x100>;
					interrupts = <332>;
					status = "disabled";
				};
			};

			espi1: espi-slave@10d84000 {
				compatible = "starfive,jhb100-espi-slave";
				reg = <0x0 0x10d84000 0x0 0x2000>;
				espi-dma-mode = <0>;
				espi-wait-state = <15>;
				perif-memcyc-enable;
				flash-safs-mode = <1>;
				interrupts = <341>, <342>;
				clocks = <&host1crg JHB100_HOST1CLK_MAIN_ICG_EN_ESPI1_EDAF>,
					 <&host1crg JHB100_HOST1CLK_MAIN_ICG_EN_SUPERIO1>;
				resets = <&host1crg JHB100_HOST1RST_MAIN_RSTN_ESPI1_SLAVE_POK>,
					 <&host1crg JHB100_HOST1RST_MAIN_RSTN_SUPERIO1_ESPI>;
				reset-name = "espi", "sio";

				status = "disabled";
			};

			husb1d0: usb@10e00000 {
				compatible = "starfive,jhb100-dwc3-device";
				#address-cells = <2>;
				#size-cells = <2>;
				clocks = <&husb1crg JHB100_HUSB1CLK_PORT0_UTMI_CLK>;
				clock-name = "utmi";
				resets = <&husbd1crg JHB100_HUSBD1RST_MAIN_RSTN_DEVICE0>;
				ranges;
				status = "disabled";

				husb1dcore0: usb@10e00000 {
					compatible = "snps,dwc3";
					reg = <0x0 0x10e00000 0x0 0x10000>;
					interrupts = <253>;
					clocks = <&husbd1crg JHB100_HUSBD1CLK_USB2_DEV0_BUSCLK>;
					clock-name = "bus_early";
					dr_mode = "peripheral";
				};
			};

			husb1d1: usb@10e10000 {
				compatible = "starfive,jhb100-dwc3-device";
				#address-cells = <2>;
				#size-cells = <2>;
				clocks = <&husb1crg JHB100_HUSB1CLK_PORT1_UTMI_CLK>;
				clock-name = "utmi";
				resets = <&husbd1crg JHB100_HUSBD1RST_MAIN_RSTN_DEVICE1>;
				ranges;
				status = "disabled";

				husb1dcore1: usb@10e10000 {
					compatible = "snps,dwc3";
					reg = <0x0 0x10610000 0x0 0x10000>;
					clocks = <&husbd1crg JHB100_HUSBD1CLK_USB2_DEV1_BUSCLK>;
					clock-name = "bus_early";
					interrupts = <254>;
					dr_mode = "peripheral";
				};
			};

			husb1d2: usb@10e20000 {
				compatible = "starfive,jhb100-dwc3-device";
				#address-cells = <2>;
				#size-cells = <2>;
				clocks = <&husb1crg JHB100_HUSB1CLK_PORT2_UTMI_CLK>,
					<&husb1crg JHB100_HUSB1CLK_PORT2_PIPE3_PCLK>;
				clock-name = "utmi", "pipe";
				resets = <&husbd1crg JHB100_HUSBD1RST_MAIN_RSTN_DEVICE2>;
				ranges;
				status = "disabled";

				husb1dcore2: usb@10620000 {
					compatible = "snps,dwc3";
					reg = <0x0 0x10e20000 0x0 0x10000>;
					clocks = <&husbd1crg JHB100_HUSBD1CLK_USB3_DEV0_BUSCLK>,
						<&husbd1crg JHB100_HUSBD1CLK_USB3_DEV0_SUSPENDCLK>;
					clock-name = "bus_early", "suspend";
					interrupts = <255>;
					dr_mode = "peripheral";
				};
			};

			husb1d3: usb@10e30000 {
				compatible = "starfive,jhb100-dwc3-device";
				#address-cells = <2>;
				#size-cells = <2>;
				clocks = <&husb1crg JHB100_HUSB1CLK_PORT3_UTMI_CLK>,
					<&husb1crg JHB100_HUSB1CLK_PORT3_PIPE3_PCLK>;
				clock-name = "utmi", "pipe";
				resets = <&husbd1crg JHB100_HUSBD1RST_MAIN_RSTN_DEVICE3>;
				ranges;
				status = "disabled";

				husb1dcore3: usb@10e30000 {
					compatible = "snps,dwc3";
					reg = <0x0 0x10e30000 0x0 0x10000>;
					clocks = <&husbd1crg JHB100_HUSBD1CLK_USB3_DEV1_BUSCLK>,
						<&husbd1crg JHB100_HUSBD1CLK_USB3_DEV1_SUSPENDCLK>;
					clock-name = "bus_early", "suspend";
					interrupts = <256>;
					dr_mode = "peripheral";
				};
			};

			husb1d4: usb@10e40000 {
				compatible = "starfive,jhb100-dwc3-device";
				#address-cells = <2>;
				#size-cells = <2>;
				clocks = <&husb1crg JHB100_HUSB1CLK_PORT4_UTMI_CLK>,
					<&husb1crg JHB100_HUSB1CLK_PORT4_PIPE3_PCLK>;
				clock-name = "utmi", "pipe";
				resets = <&husbd1crg JHB100_HUSBD1RST_MAIN_RSTN_DEVICE4>;
				ranges;
				status = "disabled";

				husb1dcore4: usb@10e40000 {
					compatible = "snps,dwc3";
					reg = <0x0 0x10e40000 0x0 0x10000>;
					clocks = <&husbd1crg JHB100_HUSBD1CLK_USB3_DEV2_BUSCLK>,
						<&husbd1crg JHB100_HUSBD1CLK_USB3_DEV2_SUSPENDCLK>;
					clock-name = "bus_early", "suspend";
					interrupts = <257>;
					dr_mode = "peripheral";
				};
			};

			husb1d5: usb@10e50000 {
				compatible = "starfive,jhb100-dwc3-device";
				#address-cells = <2>;
				#size-cells = <2>;
				clocks = <&husb1crg JHB100_HUSB1CLK_PORT5_UTMI_CLK>,
					<&husb1crg JHB100_HUSB1CLK_PORT5_PIPE3_PCLK>;
				clock-name = "utmi", "pipe";
				resets = <&husbd1crg JHB100_HUSBD1RST_MAIN_RSTN_DEVICE5>;
				ranges;
				status = "disabled";

				husb1dcore5: usb@10e50000 {
					compatible = "snps,dwc3";
					reg = <0x0 0x10e50000 0x0 0x10000>;
					clocks = <&husbd1crg JHB100_HUSBD1CLK_USB3_DEV3_BUSCLK>,
						<&husbd1crg JHB100_HUSBD1CLK_USB3_DEV3_SUSPENDCLK>;
					clock-name = "bus_early", "suspend";
					interrupts = <258>;
					dr_mode = "peripheral";
				};
			};

			husb1d6: usb@10e60000 {
				compatible = "starfive,jhb100-dwc3-device";
				#address-cells = <2>;
				#size-cells = <2>;
				clocks = <&husb1crg JHB100_HUSB1CLK_PORT6_UTMI_CLK>,
					<&husb1crg JHB100_HUSB1CLK_PORT6_PIPE3_PCLK>;
				clock-name = "utmi", "pipe";
				resets = <&husbd1crg JHB100_HUSBD1RST_MAIN_RSTN_DEVICE6>;
				ranges;
				status = "disabled";

				husb1dcore6: usb@10e60000 {
					compatible = "snps,dwc3";
					reg = <0x0 0x10e60000 0x0 0x10000>;
					clocks = <&husbd1crg JHB100_HUSBD1CLK_USB3_DEV4_BUSCLK>,
						<&husbd1crg JHB100_HUSBD1CLK_USB3_DEV4_SUSPENDCLK>;
					clock-name = "bus_early", "suspend";
					interrupts = <259>;
					dr_mode = "peripheral";
				};
			};

			husb1d7: usb@10e70000 {
				compatible = "starfive,jhb100-dwc3-device";
				#address-cells = <2>;
				#size-cells = <2>;
				clocks = <&husb1crg JHB100_HUSB1CLK_PORT7_UTMI_CLK>,
					<&husb1crg JHB100_HUSB1CLK_PORT7_PIPE3_PCLK>;
				clock-name = "utmi", "pipe";
				resets = <&husbd1crg JHB100_HUSBD1RST_MAIN_RSTN_DEVICE7>;
				ranges;
				status = "disabled";

				husb1dcore7: usb@10e70000 {
					compatible = "snps,dwc3";
					reg = <0x0 0x10e70000 0x0 0x10000>;
					clocks = <&husbd1crg JHB100_HUSBD1CLK_USB3_DEV5_BUSCLK>,
						<&husbd1crg JHB100_HUSBD1CLK_USB3_DEV5_SUSPENDCLK>;
					clock-name = "bus_early", "suspend";
					interrupts = <260>;
					dr_mode = "peripheral";
				};
			};

			husb1: usb@10e80000 {
				compatible = "starfive,jhb100-dwc3-mphost";
				#address-cells = <2>;
				#size-cells = <2>;
				resets = <&husb1crg JHB100_HUSB1RST_MAIN_RSTN_XHCI>,
					<&husbd1crg JHB100_HUSBD1RST_DEV_SYSCON_RSTN>,
					<&husbd1crg JHB100_HUSBD1RST_HOST_SYSCON_RSTN>;
				interrupts = <261>;
				interrupts-name = "err";
				ranges;
				status = "disabled";

				husb1core: usb@10e80000 {
					compatible = "snps,dwc3";
					reg = <0x0 0x10e80000 0x0 0x10000>;
					clocks = <&husb1crg JHB100_HUSB1CLK_XHCI_BUSCLK>,
						<&husb1crg JHB100_HUSB1CLK_XHCI_REFCLK>,
						<&husb1crg JHB100_HUSB1CLK_XHCI_SUSPENDCLK>;
					clock-name = "bus_early", "ref", "suspend";
					interrupts = <262>;
					dr_mode = "host";
					snps,export-xhci-to-pcie;
				};
			};

			husb1syscon: syscon@10e95000 {
				compatible = "starfive,jhb100-husb-syscon", "syscon";
				reg = <0x0 0x10e95000 0x0 0x1000>;
			};

			pvt_gpu1: pvt@10f40000 {
				compatible = "moortec,mr75203";
				reg = <0x0 0x10f40000 0x0 0x80>,
				      <0x0 0x10f40080 0x0 0x80>,
				      <0x0 0x10f40100 0x0 0x80>;
				reg-names = "common", "ts", "pd";
				clocks = <&gpu1crg JHB100_GPU1CLK_MAIN_ICG_EN_SENSORS2>;
				resets = <&gpu1crg JHB100_GPU1RST_MAIN_RSTN_SENSORS6>;
				moortec,ts-coeff-g = <61400>;
				moortec,ts-coeff-h = <253700>;
				#thermal-sensor-cells = <1>;
				status = "disabled";
			};

			pvt_usb: pvt@11040000 {
				compatible = "moortec,mr75203";
				reg = <0x0 0x11040000 0x0 0x80>,
				      <0x0 0x11040080 0x0 0x80>,
				      <0x0 0x11040100 0x0 0x80>;
				reg-names = "common", "ts", "pd";
				clocks = <&usbcrg JHB100_USBCLK_MAIN_ICG_EN_SENSORS3>;
				resets = <&usbcrg JHB100_USBRST_MAIN_RSTN_SENSORS3>;
				moortec,ts-coeff-g = <61400>;
				moortec,ts-coeff-h = <253700>;
				#thermal-sensor-cells = <1>;
				status = "disabled";
			};

			pvt_vce: pvt@11180000 {
				compatible = "moortec,mr75203";
				reg = <0x0 0x11180000 0x0 0x80>,
				      <0x0 0x11180080 0x0 0x80>,
				      <0x0 0x11180100 0x0 0x80>;
				reg-names = "common", "ts", "pd";
				clocks = <&vcecrg JHB100_VCECLK_MAIN_ICG_EN_SENSORS5>;
				resets = <&vcecrg JHB100_VCERST_SENSORS5_TSPD_RSTN_MST>;
				moortec,ts-coeff-g = <61400>;
				moortec,ts-coeff-h = <253700>;
				#thermal-sensor-cells = <1>;
				status = "disabled";
			};

			pcie: pcie@11200000 {
				compatible = "starfive,jhb100-pcie-host";
				reg = <0x3 0x11200000 0x0 0x00500000>,
				<0x0 0x28000000 0x0 0x00100000>;
				reg-names = "dbi", "config";
				device_type = "pci";
				#address-cells = <3>;
				#size-cells = <2>;
				ranges = <0x02000000 0x0 0x28100000 0x0 0x28100000 0x0 0x4000000>,
					<0x03000000 0xc 0x00000000 0xc 0x00000000 0x1 0x00000000>;
				bus-range = <0x0 0xf>;
				clocks = <&pcierpcrg JHB100_PCIERPCLK_MAIN_ICG_EN_PCIERP>;
				interrupts = <86>, <87>, <88>, <89>;
				interrupt-names = "pm_link", "legacy", "msi", "err";
				#interrupt-cells = <1>;
				interrupt-map-mask = <0 0 0 7>;
				interrupt-map = <0 0 0 1 &pcie_intc0 0>,
						<0 0 0 2 &pcie_intc0 1>,
						<0 0 0 3 &pcie_intc0 2>,
						<0 0 0 4 &pcie_intc0 3>;
				max-link-speed = <2>;
				num-lanes = <1>;
				resets = <&pcierpcrg JHB100_PCIERPRST_MAIN_RSTN_DW_PCIE_RP>;
				reset-names = "main";
				ecsr-syscon = <&pcie_rp_ecsr>;

				status = "disabled";

				pcie_intc0: legacy-interrupt-controller {
					#address-cells = <0>;
					#interrupt-cells = <1>;
					interrupt-controller;
					interrupts = <87>;
				};
			};

			pcierp_mctp: mctp@11710000 {
				compatible = "starfive,jhb100-mctp";
				reg = <0x0 0x11710000 0x0 0x1000>;
				/*interrupts = <90>, <91>;*/
				/*interrupt-names = "mctp", "pcie";*/
				/*clocks = <&pcierpcrg JHB100_PCIERPCLK_MAIN_ICG_EN_MCTP>;*/
				resets = <&pcierpcrg JHB100_PCIERPRST_MAIN_RSTN_MCTP_PCIERP>;
				starfive,pcie-ecsr = <&pcie_rp_ecsr>;
				starfive,rx-packet-count = <64>;
				starfive,rx-ring-count = <64>;
				starfive,tx-ring-count = <64>;
				pcie_rc;
				status = "disabled";
			};

			pcie_rp_ecsr: syscon@11711000 {
				compatible = "starfive,jhb100-pcie-ecsr-syscon", "syscon";
				reg = <0x0 0x11711000 0x0 0x1000>;
			};

			usb0: usb@11800000 {
				compatible = "starfive,jhb100-dwc3-otg";
				#address-cells = <2>;
				#size-cells = <2>;
				resets = <&usbcrg JHB100_USBRST_MAIN_RSTN_HOST>;
				interrupts = <106>;
				interrupt-names = "err";
				status = "disabled";
				ranges;

				usb0core: usb@11800000 {
					compatible = "snps,dwc3";
					reg = <0x0 0x11800000 0x0 0x10000>;
					clocks = <&usbcrg JHB100_USBCLK_USB_HOST_USB3_BUS_CLK_EARLY>,
						<&usbcrg JHB100_USBCLK_USB_HOST_USB3_REF_CLK>;
					clock-name = "bus_early", "ref";
					interrupts = <107>;
					dr_mode = "host";
				};
			};

			usb1: usb@11810000 {
				compatible = "starfive,jhb100-dwc3-otg";
				#address-cells = <2>;
				#size-cells = <2>;
				resets = <&usbcrg JHB100_USBRST_MAIN_RSTN_DRD>;
				interrupts = <104>;
				interrupt-names = "err";
				status = "disabled";
				ranges;

				usb1core: usb@11810000 {
					compatible = "snps,dwc3";
					reg = <0x0 0x11800000 0x0 0x10000>;
					clocks = <&usbcrg JHB100_USBCLK_USB_DRD_USB3_BUS_CLK_EARLY>,
						<&usbcrg JHB100_USBCLK_USB_DRD_USB3_REF_CLK>;
					clock-name = "bus_early", "ref";
					interrupts = <105>;
					dr_mode = "otg";
				};
			};

			usbsyscon: syscon@11820000 {
				compatible = "starfive,jhb100-usb-syscon", "syscon";
				reg = <0x0 0x11820000 0x0 0x10000>;
			};

			ltpi0: ltpi@11900000 {
				compatible = "starfive,ltpi";
				reg = <0x0 0x11900000 0x0 0x1000>;
				interrupts = <177>;
				clocks = <&per0crg JHB100_PER0CLK_240_CORE_LTPI0>,
					<&per0crg JHB100_PER0CLK_MAIN_ICG_EN_LTPI0>;
				clock-names = "core_clk", "apb";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_LTPI0>;
				ltpi,id = <0>;
				status = "disabled";
			};

			llgpo0: virgpio@11901000 {
				compatible = "starfive,jhb100-virgpio";
				reg = <0x0 0x11901000 0x0 0x180>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_LTPI0>;
				gpio-controller;
				#gpio-cells = <2>;
				direction = "output";
				ngpios = <64>;
				label = "llgpo0";
				status = "disabled";
			};

			llgpi0: virgpio@11901180 {
				compatible = "starfive,jhb100-virgpio";
				reg = <0x0 0x11901180 0x0 0x500>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_LTPI0>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupts = <178>;
				interrupt-controller;
				direction = "input";
				ngpios = <64>;
				label = "llgpi0";
				status = "disabled";
			};

			nlgpo0: virgpio@11902000 {
				compatible = "starfive,jhb100-virgpio";
				reg = <0x0 0x11902000 0x0 0x180>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_LTPI0>;
				gpio-controller;
				#gpio-cells = <2>;
				direction = "output";
				ngpios = <256>;
				label = "nlgpo0";
				status = "disabled";
			};

			nlgpi0: virgpio@11902180 {
				compatible = "starfive,jhb100-virgpio";
				reg = <0x0 0x11902180 0x0 0x500>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_LTPI0>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupts = <179>;
				interrupt-controller;
				direction = "input";
				ngpios = <256>;
				label = "nlgpi0";
				status = "disabled";
			};

			ltpi1: ltpi@11910000 {
				compatible = "starfive,ltpi";
				reg = <0x0 0x11910000 0x0 0x1000>;
				interrupts = <180>;
				clocks = <&per0crg JHB100_PER0CLK_240_CORE_LTPI1>,
					<&per0crg JHB100_PER0CLK_MAIN_ICG_EN_LTPI1>;
				clock-names = "core_clk", "apb";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_LTPI1>;
				ltpi,id = <1>;
				status = "disabled";
			};

			llgpo1: virgpio@11911000 {
				compatible = "starfive,jhb100-virgpio";
				reg = <0x0 0x11911000 0x0 0x180>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_LTPI1>;
				gpio-controller;
				#gpio-cells = <2>;
				direction = "output";
				ngpios = <64>;
				label = "llgpo1";
				status = "disabled";
			};

			llgpi1: virgpio@11911180 {
				compatible = "starfive,jhb100-virgpio";
				reg = <0x0 0x11911180 0x0 0x500>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_LTPI1>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupts = <181>;
				interrupt-controller;
				direction = "input";
				ngpios = <64>;
				label = "llgpi1";
				status = "disabled";
			};

			nlgpo1: virgpio@11912000 {
				compatible = "starfive,jhb100-virgpio";
				reg = <0x0 0x11912000 0x0 0x180>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_LTPI1>;
				gpio-controller;
				#gpio-cells = <2>;
				direction = "output";
				ngpios = <256>;
				label = "nlgpo1";
				status = "disabled";
			};

			nlgpi1: virgpio@11912180 {
				compatible = "starfive,jhb100-virgpio";
				reg = <0x0 0x11912180 0x0 0x500>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_LTPI1>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupts = <182>;
				interrupt-controller;
				direction = "input";
				ngpios = <256>;
				label = "nlgpi1";
				status = "disabled";
			};

			dma_uart: dma-controller@11924000 {
				compatible = "starfive,jhb100-axi-dma-uart";
				reg = <0x0 0x11924000 0x0 0x4000>;
				clocks = <&per0crg JHB100_PER0CLK_CORE_DMAC0>,
					<&per0crg JHB100_PER0CLK_MAIN_ICG_EN_DMAC_UART>;
				clock-names = "core-clk",  "cfgr-clk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_DMAC0>;
				interrupts = <217>;
				#dma-cells = <1>;
				dma-channels = <16>;
				snps,dma-masters = <1>;
				snps,data-width = <3>;
				snps,block-size = <65536 65536 65536 65536 65536
						 65536 65536 65536 65536 65536
						 65536 65536 65536 65536 65536 65536>;
				snps,priority = <0 1 2 3 4 5 6 7 8
						 9 10 11 12 13 14 15>;
				snps,axi-max-burst-len = <16>;
				status = "disabled";
			};

			uart4: serial@11980000 {
				compatible = "snps,dw-apb-uart";
				reg = <0x0 0x11980000 0x0 0x400>;
				clocks = <&per0crg JHB100_PER0CLK_SCLK_UART4>,
					<&per0crg JHB100_PER0CLK_APB_UART4>;
				clock-names = "baudclk", "apb_pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_UART4>;
				interrupt-parent = <&intc>;
				interrupts = <24>;
				reg-io-width = <4>;
				reg-shift = <2>;
				status = "disabled";
			};

			uart5: serial@11981000 {
				compatible = "snps,dw-apb-uart";
				reg = <0x0 0x11981000 0x0 0x400>;
				clocks = <&per0crg JHB100_PER0CLK_SCLK_UART5>,
					<&per0crg JHB100_PER0CLK_APB_UART5>;
				clock-names = "baudclk", "apb_pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_UART5>;
				interrupt-parent = <&intc>;
				interrupts = <25>;
				reg-io-width = <4>;
				reg-shift = <2>;
				status = "disabled";
			};

			uart6: serial@11982000 {
				compatible = "snps,dw-apb-uart";
				reg = <0x0 0x11982000 0x0 0x400>;
				clocks = <&per0crg JHB100_PER0CLK_SCLK_UART6>,
					<&per0crg JHB100_PER0CLK_APB_UART6>;
				clock-names = "baudclk", "apb_pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_UART6>;
				interrupt-parent = <&intc>;
				interrupts = <26>;
				reg-io-width = <4>;
				reg-shift = <2>;
				status = "disabled";
			};

			uart7: serial@11983000 {
				compatible = "snps,dw-apb-uart";
				reg = <0x0 0x11983000 0x0 0x400>;
				clocks = <&per0crg JHB100_PER0CLK_SCLK_UART7>,
					<&per0crg JHB100_PER0CLK_APB_UART7>;
				clock-names = "baudclk", "apb_pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_UART7>;
				interrupt-parent = <&intc>;
				interrupts = <27>;
				reg-io-width = <4>;
				reg-shift = <2>;
				status = "disabled";
			};

			uart8: serial@11984000 {
				compatible = "snps,dw-apb-uart";
				reg = <0x0 0x11984000 0x0 0x400>;
				clocks = <&per0crg JHB100_PER0CLK_SCLK_UART8>,
					<&per0crg JHB100_PER0CLK_APB_UART8>;
				clock-names = "baudclk", "apb_pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_UART8>;
				interrupt-parent = <&intc>;
				interrupts = <28>;
				reg-io-width = <4>;
				reg-shift = <2>;
				status = "disabled";
			};

			uart9: serial@11985000 {
				compatible = "snps,dw-apb-uart";
				reg = <0x0 0x11985000 0x0 0x400>;
				clocks = <&per0crg JHB100_PER0CLK_SCLK_UART9>,
					<&per0crg JHB100_PER0CLK_APB_UART9>;
				clock-names = "baudclk", "apb_pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_UART9>;
				interrupt-parent = <&intc>;
				interrupts = <29>;
				reg-io-width = <4>;
				reg-shift = <2>;
				status = "disabled";
			};

			uart10: serial@11986000 {
				compatible = "snps,dw-apb-uart";
				reg = <0x0 0x11986000 0x0 0x400>;
				clocks = <&per0crg JHB100_PER0CLK_SCLK_UART10>,
					<&per0crg JHB100_PER0CLK_APB_UART10>;
				clock-names = "baudclk", "apb_pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_UART10>;
				interrupt-parent = <&intc>;
				interrupts = <30>;
				reg-io-width = <4>;
				reg-shift = <2>;
				status = "disabled";
			};

			uart11: serial@11987000 {
				compatible = "snps,dw-apb-uart";
				reg = <0x0 0x11987000 0x0 0x400>;
				clocks = <&per0crg JHB100_PER0CLK_SCLK_UART11>,
					<&per0crg JHB100_PER0CLK_APB_UART11>;
				clock-names = "baudclk", "apb_pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_UART11>;
				interrupt-parent = <&intc>;
				interrupts = <31>;
				reg-io-width = <4>;
				reg-shift = <2>;
				status = "disabled";
			};

			uart12: serial@11988000 {
				compatible = "snps,dw-apb-uart";
				reg = <0x0 0x11988000 0x0 0x400>;
				clocks = <&per0crg JHB100_PER0CLK_SCLK_UART12>,
					<&per0crg JHB100_PER0CLK_APB_UART12>;
				clock-names = "baudclk", "apb_pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_UART12>;
				interrupt-parent = <&intc>;
				interrupts = <32>;
				reg-io-width = <4>;
				reg-shift = <2>;
				status = "disabled";
			};

			uart13: serial@11989000 {
				compatible = "snps,dw-apb-uart";
				reg = <0x0 0x11989000 0x0 0x400>;
				clocks = <&per0crg JHB100_PER0CLK_SCLK_UART13>,
					<&per0crg JHB100_PER0CLK_APB_UART13>;
				clock-names = "baudclk", "apb_pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_UART13>;
				interrupt-parent = <&intc>;
				interrupts = <33>;
				reg-io-width = <4>;
				reg-shift = <2>;
				status = "disabled";
			};

			uart14: serial@1198a000 {
				compatible = "snps,dw-apb-uart";
				reg = <0x0 0x1198a000 0x0 0x400>;
				clocks = <&per0crg JHB100_PER0CLK_SCLK_UART14>,
					<&per0crg JHB100_PER0CLK_APB_UART14>;
				clock-names = "baudclk", "apb_pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_UART14>;
				interrupt-parent = <&intc>;
				interrupts = <34>;
				reg-io-width = <4>;
				reg-shift = <2>;
				status = "disabled";
			};

			pinctrl_bmcperiph0: pinctrl@11a0a000 {
				compatible = "starfive,jhb100-sys-pinctrl-bmcperiph0";
				reg = <0x0 0x11a0a000 0x0 0x1000>;
				resets = <&per0crg JHB100_PER0RST_GPIO_IOMUX_PRESETN>;
				interrupts = <60>;
				interrupt-controller;
				gpio-controller;
				#gpio-cells = <2>;
				gpio-ranges = <&pinctrl_bmcperiph0 0 0 60>;
			};

			timer0: timer@11a10000 {
				compatible = "starfive,jhb100-timer";
				reg = <0x0 0x11a10000 0x0 0x400>;
				interrupts = <149>, <150>;
				clocks = <&per0crg JHB100_PER0CLK_PCLK_DUALTIMER0>,
					<&per0crg JHB100_PER0CLK_TIMER0_DUALTIMER0>,
					<&per0crg JHB100_PER0CLK_TIMER1_DUALTIMER0>;
				clock-names = "apb", "ch0", "ch1";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_DUALTIMER0>;
				timer-id = <0>;
				status = "disabled";
			};

			timer1: timer@11a10400 {
				compatible = "starfive,jhb100-timer";
				reg = <0x0 0x11a10400 0x0 0x400>;
				interrupts = <151>, <152>;
				clocks = <&per0crg JHB100_PER0CLK_PCLK_DUALTIMER1>,
					<&per0crg JHB100_PER0CLK_TIMER0_DUALTIMER1>,
					<&per0crg JHB100_PER0CLK_TIMER1_DUALTIMER1>;
				clock-names = "apb", "ch0", "ch1";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_DUALTIMER1>;
				timer-id = <1>;
				status = "disabled";
			};

			timer2: timer@11a10800 {
				compatible = "starfive,jhb100-timer";
				reg = <0x0 0x11a10800 0x0 0x400>;
				interrupts = <153>, <154>;
				clocks = <&per0crg JHB100_PER0CLK_PCLK_DUALTIMER2>,
					<&per0crg JHB100_PER0CLK_TIMER0_DUALTIMER2>,
					<&per0crg JHB100_PER0CLK_TIMER1_DUALTIMER2>;
				clock-names = "apb", "ch0", "ch1";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_DUALTIMER2>;
				timer-id = <2>;
				status = "disabled";
			};

			timer_test: timer-test {
				compatible = "starfive,jhb100-timer-test";
				status = "disabled";
			};

			wdt0: watchdog@11a11000 {
				compatible = "starfive,jhb100-wdt";
				reg = <0x0 0x11a11000 0x0 0x00000400>;
				interrupts = <155>;
				clocks = <&per0crg JHB100_PER0CLK_WDOGCLK_WDT0>,
					<&per0crg JHB100_PER0CLK_MAIN_ICG_EN_WDT0>;
				clock-names = "core", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_WDT0>;
				timeout_sec = <15 10>;
				status = "disabled";
			};

			wdt1: watchdog@11a11400 {
				compatible = "starfive,jhb100-wdt";
				reg = <0x0 0x11a11400 0x0 0x00000400>;
				interrupts = <156>;
				clocks = <&per0crg JHB100_PER0CLK_WDOGCLK_WDT1>,
					<&per0crg JHB100_PER0CLK_MAIN_ICG_EN_WDT1>;
				clock-names = "core", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_WDT1>;
				timeout_sec = <15 10>;
				status = "disabled";
			};

			wdt2: watchdog@11a11800 {
				compatible = "starfive,jhb100-wdt";
				reg = <0x0 0x11a11800 0x0 0x00000400>;
				interrupts = <157>;
				clocks = <&per0crg JHB100_PER0CLK_WDOGCLK_WDT2>,
					<&per0crg JHB100_PER0CLK_MAIN_ICG_EN_WDT2>;
				clock-names = "core", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_WDT2>;
				timeout_sec = <15 10>;
				status = "disabled";
			};

			wdt3: watchdog@11a11c00 {
				compatible = "starfive,jhb100-wdt";
				reg = <0x0 0x11a11c00 0x0 0x00000400>;
				interrupts = <158>;
				clocks = <&per0crg JHB100_PER0CLK_WDOGCLK_WDT3>,
					<&per0crg JHB100_PER0CLK_MAIN_ICG_EN_WDT3>;
				clock-names = "core", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_WDT3>;
				timeout_sec = <15 10>;
				status = "disabled";
			};

			wdt_ext: watchdog@11a12000 {
				compatible = "starfive,jhb100-wdt";
				reg = <0x0 0x11a12000 0x0 0x00000400>;
				interrupts = <159>;
				clocks = <&per0crg JHB100_PER0CLK_WDOGCLK_WDT_EXTERNAL>,
					<&per0crg JHB100_PER0CLK_MAIN_ICG_EN_WDT_EXTERNAL>;
				clock-names = "core", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_WDT4>;
				timeout_sec = <15 10>;
				status = "disabled";
			};

			i3c0: i3c0@11a18000 {
				compatible = "snps,dw-i3c-master-1.00a";
				reg = <0x0 0x11a18000 0x0 0x800>;
				interrupts = <161>;
				status = "disabled";
			};

			i3c1: i3c1@11a18800 {
				compatible = "snps,dw-i3c-master-1.00a";
				reg = <0x0 0x11a18800 0x0 0x800>;
				interrupts = <162>;
				status = "disabled";
			};

			i3c4: i3c4@11a1a000 {
				compatible = "snps,dw-i3c-master-1.00a";
				reg = <0x0 0x11a1a000 0x0 0x800>;
				interrupts = <165>;
				status = "disabled";
			};

			i3c5: i3c5@11a1a800 {
				compatible = "snps,dw-i3c-master-1.00a";
				reg = <0x0 0x11a1a800 0x0 0x800>;
				interrupts = <166>;
				status = "disabled";
			};

			i2c0_master: i2c@11a20000 {
				compatible = "starfive,jhb100-dwc-i2c-master", "snps,dwc-i2c";
				reg = <0x0 0x11a20000 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <183>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C0>,
					<&per0crg JHB100_PER0CLK_APB_I2C0>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C0>;
				starfive,chsel = <0>;
				status = "disabled";
			};

			i2c0_slave: i2c@11a20400 {
				compatible = "starfive,jhb100-dwc-i2c-slave", "snps,dwc-i2c";
				reg = <0x0 0x11a20400 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <184>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C0>,
					<&per0crg JHB100_PER0CLK_APB_I2C0>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C0>;
				status = "disabled";
			};

			i2c1_master: i2c@11a20800 {
				compatible = "starfive,jhb100-dwc-i2c-master", "snps,dwc-i2c";
				reg = <0x0 0x11a20800 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <185>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C1>,
					<&per0crg JHB100_PER0CLK_APB_I2C1>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C1>;
				starfive,chsel = <0>;
				status = "disabled";
			};

			i2c1_slave: i2c@11a20c00 {
				compatible = "starfive,jhb100-dwc-i2c-slave", "snps,dwc-i2c";
				reg = <0x0 0x11a20c00 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <186>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C1>,
					<&per0crg JHB100_PER0CLK_APB_I2C1>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C1>;
				status = "disabled";
			};

			i2c2_master: i2c@11a21000 {
				compatible = "starfive,jhb100-dwc-i2c-master", "snps,dwc-i2c";
				reg = <0x0 0x11a21000 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <187>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C2>,
					<&per0crg JHB100_PER0CLK_APB_I2C2>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C2>;
				starfive,chsel = <0>;
				status = "disabled";
			};

			i2c2_slave: i2c@11a21400 {
				compatible = "starfive,jhb100-dwc-i2c-slave", "snps,dwc-i2c";
				reg = <0x0 0x11a21400 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <188>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C2>,
					<&per0crg JHB100_PER0CLK_APB_I2C2>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C2>;
				status = "disabled";
			};

			i2c3_master: i2c@11a21800 {
				compatible = "starfive,jhb100-dwc-i2c-master", "snps,dwc-i2c";
				reg = <0x0 0x11a21800 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <189>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C3>,
					<&per0crg JHB100_PER0CLK_APB_I2C3>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C3>;
				starfive,chsel = <0>;
				status = "disabled";
			};

			i2c3_slave: i2c@11a21c00 {
				compatible = "starfive,jhb100-dwc-i2c-slave", "snps,dwc-i2c";
				reg = <0x0 0x11a21c00 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <190>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C3>,
					<&per0crg JHB100_PER0CLK_APB_I2C3>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C3>;
				status = "disabled";
			};

			i2c4_master: i2c@11a22000 {
				compatible = "starfive,jhb100-dwc-i2c-master", "snps,dwc-i2c";
				reg = <0x0 0x11a22000 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <191>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C4>,
					<&per0crg JHB100_PER0CLK_APB_I2C4>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C4>;
				starfive,chsel = <0>;
				status = "disabled";
			};

			i2c4_slave: i2c@11a22400 {
				compatible = "starfive,jhb100-dwc-i2c-slave", "snps,dwc-i2c";
				reg = <0x0 0x11a22400 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <192>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C4>,
					<&per0crg JHB100_PER0CLK_APB_I2C4>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C4>;
				status = "disabled";
			};

			i2c5_master: i2c@11a22800 {
				compatible = "starfive,jhb100-dwc-i2c-master", "snps,dwc-i2c";
				reg = <0x0 0x11a22800 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <193>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C5>,
					<&per0crg JHB100_PER0CLK_APB_I2C5>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C5>;
				starfive,chsel = <0>;
				status = "disabled";
			};

			i2c5_slave: i2c5-slave@11a22c00 {
				compatible = "starfive,jhb100-dwc-i2c-slave", "snps,dwc-i2c";
				reg = <0x0 0x11a22c00 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <194>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C5>,
					<&per0crg JHB100_PER0CLK_APB_I2C5>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C5>;
				status = "disabled";
			};

			i2c6_master: i2c6-master@11a23000 {
				compatible = "starfive,jhb100-dwc-i2c-master", "snps,dwc-i2c";
				reg = <0x0 0x11a23000 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <195>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C6>,
					<&per0crg JHB100_PER0CLK_APB_I2C6>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C6>;
				starfive,chsel = <0>;
				status = "disabled";
			};

			i2c6_slave: i2c6-slave@11a23400 {
				compatible = "starfive,jhb100-dwc-i2c-slave", "snps,dwc-i2c";
				reg = <0x0 0x11a23400 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <196>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C6>,
					<&per0crg JHB100_PER0CLK_APB_I2C6>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C6>;
				status = "disabled";
			};

			i2c7_master: i2c7-master@11a23800 {
				compatible = "starfive,jhb100-dwc-i2c-master", "snps,dwc-i2c";
				reg = <0x0 0x11a23800 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <197>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C7>,
					<&per0crg JHB100_PER0CLK_APB_I2C7>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C7>;
				starfive,chsel = <0>;
				status = "disabled";
			};

			i2c7_slave: i2c7-slave@11a23c00 {
				compatible = "starfive,jhb100-dwc-i2c-slave", "snps,dwc-i2c";
				reg = <0x0 0x11a23c00 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <198>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C7>,
					<&per0crg JHB100_PER0CLK_APB_I2C7>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C7>;
				status = "disabled";
			};

			i2c8_master: i2c8-master@11a24000 {
				compatible = "starfive,jhb100-dwc-i2c-master", "snps,dwc-i2c";
				reg = <0x0 0x11a24000 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <199>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C8>,
					<&per0crg JHB100_PER0CLK_APB_I2C8>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C8>;
				starfive,chsel = <0>;
				status = "disabled";
			};

			i2c8_slave: i2c8-slave@11a24400 {
				compatible = "starfive,jhb100-dwc-i2c-slave", "snps,dwc-i2c";
				reg = <0x0 0x11a24400 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <200>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C8>,
					<&per0crg JHB100_PER0CLK_APB_I2C8>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C8>;
				status = "disabled";
			};

			i2c9_master: i2c9-master@11a24800 {
				compatible = "starfive,jhb100-dwc-i2c-master", "snps,dwc-i2c";
				reg = <0x0 0x11a24800 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <201>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C9>,
					<&per0crg JHB100_PER0CLK_APB_I2C9>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C9>;
				starfive,chsel = <0>;
				status = "disabled";
			};

			i2c9_slave: i2c@11a24c00 {
				compatible = "starfive,jhb100-dwc-i2c-slave", "snps,dwc-i2c";
				reg = <0x0 0x11a24c00 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <202>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C9>,
					<&per0crg JHB100_PER0CLK_APB_I2C9>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C9>;
				status = "disabled";
			};

			i2c10_master: i2c@11a25000 {
				compatible = "starfive,jhb100-dwc-i2c-master", "snps,dwc-i2c";
				reg = <0x0 0x11a25000 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <203>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C10>,
					<&per0crg JHB100_PER0CLK_APB_I2C10>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C10>;
				starfive,chsel = <0>;
				status = "disabled";
			};

			i2c10_slave: i2c@11a25400 {
				compatible = "starfive,jhb100-dwc-i2c-slave", "snps,dwc-i2c";
				reg = <0x0 0x11a25400 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <204>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C10>,
					<&per0crg JHB100_PER0CLK_APB_I2C10>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C10>;
				status = "disabled";
			};

			i2c11_master: i2c@11a25800 {
				compatible = "starfive,jhb100-dwc-i2c-master", "snps,dwc-i2c";
				reg = <0x0 0x11a25800 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <205>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C11>,
					<&per0crg JHB100_PER0CLK_APB_I2C11>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C11>;
				starfive,chsel = <0>;
				status = "disabled";
			};

			i2c11_slave: i2c@11a25c00 {
				compatible = "starfive,jhb100-dwc-i2c-slave", "snps,dwc-i2c";
				reg = <0x0 0x11a25c00 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <206>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C11>,
					<&per0crg JHB100_PER0CLK_APB_I2C11>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C11>;
				status = "disabled";
			};

			i2c12_master: i2c@11a26000 {
				compatible = "starfive,jhb100-dwc-i2c-master", "snps,dwc-i2c";
				reg = <0x0 0x11a26000 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <207>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C12>,
					<&per0crg JHB100_PER0CLK_APB_I2C12>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C12>;
				starfive,chsel = <0>;
				status = "disabled";
			};

			i2c12_slave: i2c@11a26400 {
				compatible = "starfive,jhb100-dwc-i2c-slave", "snps,dwc-i2c";
				reg = <0x0 0x11a26400 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <208>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C12>,
					<&per0crg JHB100_PER0CLK_APB_I2C12>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C12>;
				status = "disabled";
			};

			i2c13_master: i2c@11a26800 {
				compatible = "starfive,jhb100-dwc-i2c-master", "snps,dwc-i2c";
				reg = <0x0 0x11a26800 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <209>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C13>,
					<&per0crg JHB100_PER0CLK_APB_I2C13>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C13>;
				starfive,chsel = <0>;
				status = "disabled";
			};

			i2c13_slave: i2c@11a26c00 {
				compatible = "starfive,jhb100-dwc-i2c-slave", "snps,dwc-i2c";
				reg = <0x0 0x11a26c00 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <210>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C13>,
					<&per0crg JHB100_PER0CLK_APB_I2C13>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C13>;
				status = "disabled";
			};

			i2c14_master: i2c@11a27000 {
				compatible = "starfive,jhb100-dwc-i2c-master", "snps,dwc-i2c";
				reg = <0x0 0x11a27000 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <211>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C14>,
					<&per0crg JHB100_PER0CLK_APB_I2C14>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C14>;
				starfive,chsel = <0>;
				status = "disabled";
			};

			i2c14_slave: i2c@11a27400 {
				compatible = "starfive,jhb100-dwc-i2c-slave", "snps,dwc-i2c";
				reg = <0x0 0x11a27400 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <212>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C14>,
					<&per0crg JHB100_PER0CLK_APB_I2C14>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C14>;
				status = "disabled";
			};

			i2c15_master: i2c@11a27800 {
				compatible = "starfive,jhb100-dwc-i2c-master", "snps,dwc-i2c";
				reg = <0x0 0x11a27800 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <213>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C15>,
					<&per0crg JHB100_PER0CLK_APB_I2C15>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C15>;
				starfive,chsel = <0>;
				status = "disabled";
			};

			i2c15_slave: i2c@11a27c00 {
				compatible = "starfive,jhb100-dwc-i2c-slave", "snps,dwc-i2c";
				reg = <0x0 0x11a27c00 0x0 0x400>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <214>;
				clocks = <&per0crg JHB100_PER0CLK_MAIN_ICG_EN_I2C15>,
					<&per0crg JHB100_PER0CLK_APB_I2C15>;
				clock-names = "ref", "pclk";
				resets = <&per0crg JHB100_PER0RST_MAIN_RSTN_I2C15>;
				status = "disabled";
			};

			dma_sfc0: dma-controller@11a80000 {
				compatible = "starfive,jhb100-axi-dma-sfc";
				reg = <0x0 0x11a80000 0x0 0x400>;
				clocks = <&per1crg JHB100_PER1CLK_DMAC1_1CH_CORE>,
					<&per1crg JHB100_PER1CLK_DMAC1_1CH_ACLK>;
				clock-names = "core-clk", "cfgr-clk";
				resets = <&per1crg JHB100_PER1RST_MAIN_RSTN_DMAC_SFC0>;
				interrupts = <120>;
				#dma-cells = <3>;
				dma-channels = <1>;
				snps,dma-masters = <1>;
				snps,data-width = <3>;
				snps,block-size = <65536>;
				snps,priority = <0>;
				snps,axi-max-burst-len = <16>;
				status = "disabled";
			};

			ufs0: ufs@11b10000 {
				compatible = "starfive,jhb100-ufs", "jedec,ufs-3.1";
				reg = <0x0 0x11b10000 0x0 0x10000>;
				interrupts = <104>, <105>;
				interrupts-name = "ufs", "err";
				clocks = <&per1crg JHB100_PER1CLK_UFS_REF>,
					 <&per1crg JHB100_PER1CLK_UFS_150>,
					 <&per1crg JHB100_PER1CLK_UFS_300>,
					 <&per1crg JHB100_PER1CLK_UFS_400>;
				clock-name = "ref_clk", "clk_150", "clk_300", "clk_400";
				freq-table-hz = <26000000 26000000>,
						<150000000 150000000>,
						<300000000 300000000>,
						<400000000 400000000>;
				resets = <&per1crg JHB100_PER1RST_MAIN_RSTN_UFS>,
					 <&per1crg JHB100_PER1RST_MAIN_RSTN_UFS_PHY>;
				reset-name = "main", "phy";
				status = "disabled";
			};

			bmcperiph1_syscon: syscon@11b41000 {
				compatible = "starfive,jhb100-bmcperiph1-syscon", "syscon";
				reg = <0x0 0x11b41000 0x0 0x1000>;
			};

			pinctrl_bmcperiph1: pinctrl@11b42000 {
				compatible = "starfive,jhb100-sys-pinctrl-bmcperiph1";
				reg = <0x0 0x11b42000 0x0 0x800>;
				resets = <&per1crg JHB100_PER1RST_IOMUX_PRESETN>;
				interrupts = <61>;
				interrupt-controller;
				gpio-controller;
				#gpio-cells = <2>;
				gpio-ranges = <&pinctrl_bmcperiph1 0 0 36>;
			};

			pinctrl_bmcperiph2: pinctrl@11bc2000 {
				compatible = "starfive,jhb100-sys-pinctrl-bmcperiph2";
				reg = <0x0 0x11bc2000 0x0 0x400>;
				resets = <&per2crg JHB100_PER2RST_IOMUX_PRESETN>;
				interrupts = <62>;
				interrupt-controller;
				gpio-controller;
				#gpio-cells = <2>;
				gpio-ranges = <&pinctrl_bmcperiph2 0 0 31>;
			};

			can0: can@11be1100 {
				compatible = "ipms,can";
				reg = <0x0 0x11be1100 0x0 0x400>;
				interrupts = <143>;
				clocks = <&per2crg JHB100_PER2CLK_CAN0_CORE_DIV>,
					<&per2crg JHB100_PER2CLK_MAIN_ICG_EN_CAN0>;
				clock-names = "core_clk", "main_clk";
				resets = <&per2crg JHB100_PER2RST_MAIN_RSTN_CAN0>;
				status = "disabled";
			};

			can1: can@11be1200 {
				compatible = "ipms,can";
				reg = <0x0 0x11be1200 0x0 0x400>;
				interrupts = <144>;
				clocks = <&per2crg JHB100_PER2CLK_CAN1_CORE_DIV>,
					<&per2crg JHB100_PER2CLK_MAIN_ICG_EN_CAN1>;
				clock-names = "core_clk", "main_clk";
				resets = <&per2crg JHB100_PER2RST_MAIN_RSTN_CAN1>;
				status = "disabled";
			};

			rtc: rtc@11be1300 {
				compatible = "starfive,jhb100-rtc", "starfive,jh7110-rtc";
				reg = <0x0 0x11be1300 0x0 0x100>;
				interrupts = <142>;
				interrupt-names = "rtc";
				clocks = <&rtc_apb>, <&osc>;
				clock-names = "pclk", "cal_clk";
				resets = <&per2crg JHB100_PER2RST_MAIN_RSTN_RTC>;
				rtc,cal-clock-freq = <1000000>;
				status = "disabled";
			};

			adc0: saradc@11be1400 {
				compatible = "starfive,jhb100-saradc";
				reg = <0x0 0x11be1400 0x0 0x400>;
				interrupts = <145>;
				clocks = <&per2crg JHB100_PER2CLK_MAIN_ICG_EN_ADC0>;
				resets = <&per2crg JHB100_PER2RST_ADC0_PRESETN>;
				#io-channel-cells = <1>;
				upper-bound = <0xfff>;
				lower-bound = <0>;
				/* Cycle time = (scan-freq + 5) * 10 ns, minimum scan-freq is 15 */
				scan-freq = <20>;
				status = "disabled";
			};

			adc1: saradc@11be1800 {
				compatible = "starfive,jhb100-saradc";
				reg = <0x0 0x11be1800 0x0 0x400>;
				interrupts = <146>;
				clocks = <&per2crg JHB100_PER2CLK_MAIN_ICG_EN_ADC1>;
				resets = <&per2crg JHB100_PER2RST_ADC1_PRESETN>;
				#io-channel-cells = <1>;
				upper-bound = <0xfff>;
				lower-bound = <0>;
				/* Cycle time = (scan-freq + 5) * 10 ns, minimum scan-freq is 15 */
				scan-freq = <20>;
				status = "disabled";
			};

			pinctrl_bmcperiph3: pinctrl@11c42000 {
				compatible = "starfive,jhb100-sys-pinctrl-bmcperiph3";
				reg = <0x0 0x11c42000 0x0 0x1000>;
				resets = <&per3crg JHB100_PER3RST_IOMUX_PRESETN>;
				interrupts = <64>;
				interrupt-controller;
				gpio-controller;
				#gpio-cells = <2>;
				gpio-ranges = <&pinctrl_bmcperiph3 0 0 11>;
			};

			peci0: peci-controller@11c60000 {
				compatible = "starfive,jhb100-peci";
				reg = <0x0 0x11c60000 0x0 0x400>;
				interrupts = <222>;
				clocks = <&per3crg JHB100_PER3CLK_MAIN_ICG_EN_PECI0>;
				resets = <&per3crg JHB100_PER3RST_MAIN_RSTN_PECI0>;
				cmd-timeout-ms = <1000>;
				status = "disabled";
			};

			peci1: peci-controller@11c60400 {
				compatible = "starfive,jhb100-peci";
				reg = <0x0 0x11c60400 0x0 0x400>;
				interrupts = <223>;
				clocks = <&per3crg JHB100_PER3CLK_MAIN_ICG_EN_PECI1>;
				resets = <&per3crg JHB100_PER3RST_MAIN_RSTN_PECI1>;
				cmd-timeout-ms = <1000>;
				status = "disabled";
			};

			hwspinlock: hwspinlock@13012000 {
				compatible = "starfive,jhb100-hwspinlock";
				reg = <0x0 0x13012000 0x0 0x100>;
				/* clocks = <>; */
				/* resets = <>; */
				#hwlock-cells = <1>;
				status = "disabled";
			};

			pvt_sys: pvt@13020000 {
				compatible = "moortec,mr75203";
				reg = <0x0 0x13020000 0x0 0x80>,
				      <0x0 0x13020080 0x0 0x80>,
				      <0x0 0x13020100 0x0 0x80>;
				reg-names = "common", "ts", "pd";
				clocks = <&pvt_aon>;
				moortec,ts-coeff-g = <61400>;
				moortec,ts-coeff-h = <253700>;
				#thermal-sensor-cells = <1>;
				status = "disabled";
			};

			pinctrl_sys0: pinctrl@13080000 {
				compatible = "starfive,jhb100-sys-pinctrl-systop-sys0";
				reg = <0x0 0x13080000 0x0 0x800>;
				resets = <&syscrg JHB100_SYSRST_SYS0_IOMUX_PRESETN>;
				interrupts = <56>;
				interrupt-controller;
				gpio-controller;
				#gpio-cells = <2>;
				gpio-ranges = <&pinctrl_sys0 0 0 4>;
			};

			pinctrl_sys0h: pinctrl@13080800 {
				compatible = "starfive,jhb100-sys-pinctrl-systop-sys0h";
				reg = <0x0 0x13080800 0x0 0x800>;
				resets = <&syscrg JHB100_SYSRST_SYS0H_IOMUX_PRESETN>;
				interrupts = <57>;
				interrupt-controller;
				gpio-controller;
				#gpio-cells = <2>;
				gpio-ranges = <&pinctrl_sys0h 0 0 12>;
			};

			pinctrl_sys1: pinctrl@13081000 {
				compatible = "starfive,jhb100-sys-pinctrl-systop-sys1";
				reg = <0x0 0x13081000 0x0 0x1000>;
				resets = <&sys1crg JHB100_SYS1RST_SYS1_IOMUX_PRESETN>;
				interrupts = <58>;
				interrupt-controller;
				gpio-controller;
				#gpio-cells = <2>;
				gpio-ranges = <&pinctrl_sys1 0 0 8>;
			};

			pinctrl_sys2: pinctrl@13082000 {
				compatible = "starfive,jhb100-sys-pinctrl-systop-sys2";
				reg = <0x0 0x13082000 0x0 0x1000>;
				interrupts = <59>;
				interrupt-controller;
				gpio-controller;
				#gpio-cells = <2>;
				gpio-ranges = <&pinctrl_sys2 0 0 37>;
			};

			jtag0: jtag-master@130c0000 {
				compatible = "starfive,jhb100-jtag";
				reg = <0x0 0x130c0000 0x0 0x800>;
				clocks = <&sys2crg JHB100_SYS2CLK_MAIN_ICG_EN_JTAG0>;
				resets = <&sys2crg JHB100_SYS2RST_JTAG0_MST_WRAP_HRESETN>,
					<&sys2crg JHB100_SYS2RST_JTAG0_MST_WRAP_APB_PRESETN>;
				status = "disabled";
			};

			jtag1: jtag-master@130c0800 {
				compatible = "starfive,jhb100-jtag";
				reg = <0x0 0x130c0800 0x0 0x800>;
				clocks = <&sys2crg JHB100_SYS2CLK_MAIN_ICG_EN_JTAG1>;
				resets = <&sys2crg JHB100_SYS2RST_JTAG1_MST_WRAP_HRESETN>,
					<&sys2crg JHB100_SYS2RST_JTAG1_MST_WRAP_APB_PRESETN>;
				status = "disabled";
			};

			reri0: reri0@130e0000 {
				compatible = "starfive,reri-edac";
				reg = <0x0 0x130e0000 0x0 0x1000>;
				interrupts-extended = <&plic 79>, <&intc 0>;
				interrupt-names = "hp", "lp";
				bank-name = "DDRSS";
				bank-desc = "Port 0 Read SRAM ECC",
					    "Port 1 Read SRAM ECC",
					    "Port 2 Read SRAM ECC",
					    "Port 3 Read SRAM ECC",
					    "PCIE Phy SRAM";
				status = "disabled";
			};

			reri1: reri1@130e1000 {
				compatible = "starfive,reri-edac";
				reg = <0x0 0x130e1000 0x0 0x1000>;
				interrupts-extended = <&plic 80>, <&intc 1>;
				interrupt-names = "hp", "lp";
				bank-name = "BMCPCIeRP";
				bank-desc = "PCIE AXI mstr write",
					    "PCIE AXI mstr read",
					    "PCIE AXI slv write",
					    "PCIE AXI slv read",
					    "PCIE Phy SRAM",
					    "MCTP SRAM";
				status = "disabled";
			};

			reri2: reri2@130e2000 {
				compatible = "starfive,reri-edac";
				reg = <0x0 0x130e2000 0x0 0x1000>;
				interrupts-extended = <&plic 81>, <&intc 2>;
				interrupt-names = "hp", "lp";
				bank-name = "BMCPeriph1";
				bank-desc = "UFS Phy SRAM";
				status = "disabled";
			};

			reri3: reri3@130e3000 {
				compatible = "starfive,reri-edac";
				reg = <0x0 0x130e3000 0x0 0x1000>;
				interrupts-extended = <&plic 82>, <&intc 3>;
				interrupt-names = "hp", "lp";
				bank-name = "HOSTSS0";
				bank-desc = "PCIE AXI mstr write",
					    "PCIE AXI mstr read",
					    "PCIE AXI slv write",
					    "PCIE AXI slv read",
					    "PCIE Phy SRAM Ecc",
					    "MCTP SRAM ECC";
				status = "disabled";
			};

			reri4: reri3@130e4000 {
				compatible = "starfive,reri-edac";
				reg = <0x0 0x130e4000 0x0 0x1000>;
				interrupts-extended = <&plic 83>, <&intc 4>;
				interrupt-names = "hp", "lp";
				bank-name = "HOSTSS1";
				bank-desc = "PCIE AXI mstr write",
					    "PCIE AXI mstr read",
					    "PCIE AXI slv write",
					    "PCIE AXI slv read",
					    "PCIE Phy SRAM Ecc",
					    "MCTP SRAM ECC";
				status = "disabled";
			};

			pvt_ddr: pvt@13100000 {
				compatible = "moortec,mr75203";
				reg = <0x0 0x13100000 0x0 0x80>,
				      <0x0 0x13100080 0x0 0x80>,
				      <0x0 0x13100100 0x0 0x80>;
				reg-names = "common", "ts", "pd";
				clocks = <&pvt_aon>;
				moortec,ts-coeff-g = <61400>;
				moortec,ts-coeff-h = <253700>;
				#thermal-sensor-cells = <1>;
				status = "disabled";
			};

			l3_pmu: pmu@13216000 {
				compatible = "starfive,jhb100-starlink-pmu", "starfive,jh8100-starlink-pmu";
				reg = <0x0 0x13216000 0x0 0x10000>;
				interrupts = <11>, <10>, <12>;
				interrupt-names = "pmu", "llc_irq", "ecc_irq";
			};

			ddrc_edac: ddr_controller_edac@16100000 {
				compatible = "starfive,jhb100-ddrc";
				reg = <0x0 0x16100000 0x0 0x100000>;
				interrupts = <70>;
				status = "disabled";
			};

			intc: interrupt-controller@13220000 {
				compatible = "starfive,jhb100-intc";
				reg = <0x0 0x13220000 0x0 0x80>;
				clocks = <&cpucrg JHB100_CPUCLK_MAIN_ICG_EN_INT_CTRL>;
				resets = <&cpucrg JHB100_CPURST_MAIN_RSTN_INT_CTRL>;
				interrupts = <1>;
				interrupt-controller;
				#interrupt-cells = <1>;
			};

			sfc1: spi@17f00000  {
				compatible = "starfive,jhb100-sfc";
				reg = <0x0 0x17f00000 0x0 0x10000>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <112>;
				clocks = <&per1crg JHB100_PER1CLK_MAIN_ICG_EN_SFC1>;
				resets = <&per1crg JHB100_PER1RST_MAIN_RSTN_SFC1>;
				reset-names = "spi";
				num-cs = <3>;
				status = "disabled";
			};

			sfc2: spi@17f10000  {
				compatible = "starfive,jhb100-sfc";
				reg = <0x0 0x17f10000 0x0 0x10000>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <113>;
				clocks = <&per1crg JHB100_PER1CLK_MAIN_ICG_EN_SFC2>;
				resets = <&per1crg JHB100_PER1RST_MAIN_RSTN_SFC2>;
				reset-names = "spi";
				num-cs = <2>;
				status = "disabled";
			};

			spi0: spi@17f20000 {
				compatible = "starfive,jhb100-spi";
				reg = <0x0 0x17f20000 0x0 0x10000>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <110>;
				clocks = <&per1crg JHB100_PER1CLK_MAIN_ICG_EN_SPI0>;
				resets = <&per1crg JHB100_PER1RST_MAIN_RSTN_SPI0>;
				reset-names = "spi";
				num-cs = <2>;
				status = "disabled";
			};

			sfc0: spi@18000000 {
				compatible = "starfive,jhb100-sfc";
				reg = <0x0 0x18000000 0x0 0x8000000>;
				#address-cells = <1>;
				#size-cells = <0>;
				interrupts = <111>;
				clocks = <&per1crg JHB100_PER1CLK_MAIN_ICG_EN_SFC0>;
				resets = <&per1crg JHB100_PER1RST_MAIN_RSTN_SFC0>;
				reset-names = "spi";
				num-cs = <2>;
				dmas = <&dma_sfc0 0 1 0>;
				dma-names = "rx-tx";
				status = "disabled";
			};
		};

		bus_ioc: bus_ioc {
			compatible = "simple-bus";
			#address-cells = <2>;
			#size-cells = <2>;
			dma-coherent;
			ranges;

			stmmac_axi_setup: stmmac-axi-config {
				snps,wr_osr_lmt = <0xf>;
				snps,rd_osr_lmt = <0xf>;
				snps,blen = <256 128 64 32 0 0 0>;
			};

			gmac2: ethernet@11b80000 {
				compatible = "starfive,jhb100-dwmac", "snps,dwmac-5.20";
				reg = <0x0 0x11b80000 0x0 0x4000>;
				clocks = <&per2crg JHB100_PER2CLK_ETHER0_RMIIANDRGMII_ACLK_I>,
					<&per2crg JHB100_PER2CLK_ETHER0_RMIIANDRGMII_CSR_I>,
					<&per2crg JHB100_PER2CLK_ETHER0_RMIIANDRGMII_PTP_REF_I>,
					<&per2crg JHB100_PER2CLK_ETHER0_RMIIANDRGMII_TX_I>,
					<&per2crg JHB100_PER2CLK_ETHER0_RMIIANDRGMII_TX_180_I>,
					<&per2crg JHB100_PER2CLK_ETHER0_RMIIANDRGMII_RX_I>,
					<&per2crg JHB100_PER2CLK_ETHER0_RMIIANDRGMII_RX_180_I>,
					<&per2crg JHB100_PER2CLK_ETHER0_RMIIANDRGMII_RMII_I>;
				clock-names = "stmmaceth", "pclk", "ptp_ref",
					"tx", "gtx", "rx", "grx", "rmii";
				resets = <&per2crg JHB100_PER2RST_MAIN_RSTN_GMAC2>;
				interrupts = <140>;
				interrupt-names = "macirq";
				dma-coherent;
				snps,multicast-filter-bins = <64>;
				snps,perfect-filter-entries = <8>;
				snps,fixed-burst;
				snps,no-pbl-x8;
				snps,force_thresh_dma_mode;
				snps,axi-config = <&stmmac_axi_setup>;
				snps,tso;
				snps,en-tx-lpi-clockgating;
				snps,txpbl = <4>;
				snps,rxpbl = <4>;
				status = "disabled";
			};

			gmac3: ethernet@11b84000 {
				compatible = "starfive,jhb100-dwmac", "snps,dwmac-5.20";
				reg = <0x0 0x11b84000 0x0 0x4000>;
				clocks = <&per2crg JHB100_PER2CLK_ETHER1_SGMII_ACLK_I>,
					<&per2crg JHB100_PER2CLK_ETHER1_SGMII_CSR_I>,
					<&per2crg JHB100_PER2CLK_ETHER1_SGMII_PTP_REF_I>,
					<&per2crg JHB100_PER2CLK_ETHER1_SGMII_TX_I>,
					<&per2crg JHB100_PER2CLK_ETHER1_SGMII_TX_125_I>,
					<&per2crg JHB100_PER2CLK_ETHER1_SGMII_RX_I>,
					<&per2crg JHB100_PER2CLK_ETHER1_SGMII_RX_125_I>;
				clock-names = "stmmaceth", "pclk", "ptp_ref",
					"tx", "gtx", "rx", "grx";
				resets = <&per2crg JHB100_PER2RST_MAIN_RSTN_GMAC3>;
				interrupts = <141>;
				interrupt-names = "macirq";
				dma-coherent;
				snps,multicast-filter-bins = <64>;
				snps,perfect-filter-entries = <8>;
				snps,fixed-burst;
				snps,no-pbl-x8;
				snps,force_thresh_dma_mode;
				snps,axi-config = <&stmmac_axi_setup>;
				snps,tso;
				snps,en-tx-lpi-clockgating;
				snps,txpbl = <4>;
				snps,rxpbl = <4>;
				status = "disabled";
			};

			gmac0: ethernet@11c00000 {
				compatible = "starfive,jhb100-dwmac", "snps,dwmac-5.20";
				reg = <0x0 0x11c00000 0x0 0x4000>;
				clocks = <&per3crg JHB100_PER3CLK_MAIN_ICG_EN_GMAC0>;
				clock-names = "pclk";
				resets = <&per3crg JHB100_PER3RST_MAIN_RSTN_GMAC0>;
				interrupts = <224>;
				interrupt-names = "macirq";
				dma-coherent;
				snps,multicast-filter-bins = <64>;
				snps,perfect-filter-entries = <8>;
				snps,fixed-burst;
				snps,no-pbl-x8;
				snps,force_thresh_dma_mode;
				snps,axi-config = <&stmmac_axi_setup>;
				snps,tso;
				snps,en-tx-lpi-clockgating;
				snps,txpbl = <4>;
				snps,rxpbl = <4>;
				status = "disabled";
			};

			gmac1: ethernet@11c04000 {
				compatible = "starfive,jhb100-dwmac", "snps,dwmac-5.20";
				reg = <0x0 0x11c04000 0x0 0x4000>;
				clocks = <&per3crg JHB100_PER3CLK_MAIN_ICG_EN_GMAC1>;
				clock-names = "pclk";
				resets = <&per3crg JHB100_PER3RST_MAIN_RSTN_GMAC1>;
				interrupts = <225>;
				interrupt-names = "macirq";
				dma-coherent;
				snps,multicast-filter-bins = <64>;
				snps,perfect-filter-entries = <8>;
				snps,fixed-burst;
				snps,no-pbl-x8;
				snps,force_thresh_dma_mode;
				snps,axi-config = <&stmmac_axi_setup>;
				snps,tso;
				snps,en-tx-lpi-clockgating;
				snps,txpbl = <4>;
				snps,rxpbl = <4>;
				status = "disabled";
			};
		};
	};
};
