// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (c) 2025 StarFive Technology Co., Ltd.
 */

/*
 * eSPI & MMBI dma accesses uncached address.
 * Also need to reserve corresponding cache addresses,
 * so that kernel will not manage them.
 * There is only one adderss remap window for eSPI memory accessing,
 * so espi drive merges the reserved memory ranges
 * of MMBI over eSPI (1st 4MB) & eSPI memory cycle access(2nd 4MB).
 * The size of eSPI remap window must be power of 2.
 */
espi0_mmbi_buffer_cache: mmbi_buffer@44000000 {
	reg = <0x0 0x44000000 0x0 0x80000>;
	alignment = <0x0 0x100000>;
	no-map;
};

espi0_mmbi_buffer_uncache: mmbi_buffer@404000000 {
	reg = <0x4 0x04000000 0x0 0x80000>;
	alignment = <0x0 0x100000>;
	no-map;
};

espi0_perif_mem_cache: espi0-slave@44080000 {
	reg = <0x0 0x44080000 0x0 0x80000>;
	no-map;
};

espi0_perif_mem_uncache: espi0-slave@404080000 {
	reg = <0x4 0x04080000 0x0 0x80000>;
	no-map;
};

pcie0_mmbi_buffer_cache: mmbi_buffer@44100000 {
	reg = <0x0 0x44100000 0x0 0x80000>;
	alignment = <0x0 0x80000>;
	no-map;
};

pcie0_mmbi_buffer_uncache: mmbi_buffer@404100000 {
	reg = <0x4 0x04100000 0x0 0x80000>;
	alignment = <0x0 0x80000>;
	no-map;
};

espi0_vw_mem_cache: espi0@44180000 {
	reg = <0x0 0x44180000 0x0 0x1000>;
	no-map;
};

espi0_vw_mem_uncache: espi0@404180000 {
	reg = <0x4 0x04180000 0x0 0x1000>;
	no-map;
};

pcie0_hdma_mem_cache: hdma_memory@44200000 {
	reg = <0x0 0x44200000 0x0 0x100000>;
	alignment = <0x0 0x100000>;
	no-map;
};

pcie0_hdma_mem_uncache: hdma_memory@404200000 {
	reg = <0x4 0x04200000 0x0 0x100000>;
	alignment = <0x0 0x100000>;
	no-map;
};

pcie0_media_mem_cache: media_memory@46200000 {
	reg = <0x0 0x46200000 0x0 0x2200000>;
	alignment = <0x0 0x2200000>;
	no-map;
};

pcie0_media_mem_uncache: media_emory@406a00000 {
	reg = <0x4 0x06a00000 0x0 0x2200000>;
	alignment = <0x0 0x2200000>;
	no-map;
};

/*
 * As the ATU configuration required the dest_addr to keep align
 * with its size, the first reg below required to be aligned with
 * 0x2000000 too.
 */
pcie0_user_mem_cache: user_memory@4a000000 {
	reg = <0x0 0x4a000000 0x0 0x800000>,
	      <0x0 0x4a800000 0x0 0x100000>,
	      <0x0 0x4a900000 0x0 0x100000>;
	alignment = <0x0 0x100000>;
	no-map;
};

pcie0_user_mem_uncache: user_memory@40a000000 {
	reg = <0x4 0x0a000000 0x0 0x800000>,
	      <0x4 0x0a800000 0x0 0x100000>,
	      <0x4 0x0a900000 0x0 0x100000>;
	alignment = <0x0 0x100000>;
	no-map;
};

ramoops@4aa00000 {
	compatible = "ramoops";
	reg = <0x0 0x4aa00000 0x0 0xc0000>;
	record-size = <0x20000>;
	console-size = <0x20000>;
	pmsg-size = <0x20000>;
};

/* DMA global pool cached address */
dma-reserved@4ab00000 {
	reg = <0x0 0x4ab00000 0x0 0x04000000>;
	no-map;
};

/* DMA global pool uncached address (alias) */
linux,dma@40ab00000 {
	compatible = "shared-dma-pool";
	reg = <0x4 0x0ab00000 0x0 0x04000000>;
	no-map;
	linux,dma-default;
};

sol_tx_mem_cache: sol@4eb00000 {
	reg = <0x0 0x4eb00000 0x0 0x2000000>;
	no-map;
};

sol_tx_mem_uncache: sol@40eb00000 {
	reg = <0x4 0x0eb00000 0x0 0x2000000>;
	no-map;
};

sol_rx_mem_cache: sol@50b00000 {
	reg = <0x0 0x50b00000 0x0 0x2000000>;
	no-map;
};

sol_rx_mem_uncache: sol@410b00000 {
	reg = <0x4 0x10b00000 0x0 0x2000000>;
	no-map;
};
