// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (c) 2024 StarFive Technology Co., Ltd.
 */

#include <dt-bindings/clock/starfive,jhb100-crg.h>
#include <dt-bindings/reset/starfive,jhb100-crg.h>

/ {
	osc: osc {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <25000000>;
	};

	pll0: pll0 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <2400000000>;
	};

	pll1: pll1 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <1000000000>;
	};

	pll2: pll2 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <921600000>;
	};

	pll3: pll3 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <1200000000>;
	};

	pll4: pll4 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <193250000>;
	};

	pll5: pll5 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <193250000>;
	};

	pll6: pll6 {
		compatible = "fixed-factor-clock";
		#clock-cells = <0>;
		clock-div = <1>;
		clock-mult = <192>;
		clocks = <&osc>;
	};

	pll7: pll7 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <650000000>;
	};

	per0_1200: per0_1200 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <1200000000>;
	};

	per2_gmac2_rgmii_rx: per2_gmac2_rgmii_rx {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <50000000>;
	};

	per2_gmac2_rmii_ref: per2_gmac2_rmii_ref {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <125000000>;
	};

	per3_gmac0_rmii_rclki: per3_gmac0_rmii_rclki {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <50000000>;
	};

	rtc_apb: rtc_apb {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <100000000>;
	};

	soc {
		host0crg: clock-controller@10518000 {
			compatible = "starfive,jhb100-host0crg";
			reg = <0x0 0x10518000 0x0 0x1000>;
			clocks = <&syscrg JHB100_SYSCLK_HOSTSS0_PHY_SCAN_500>,
				 <&syscrg JHB100_SYSCLK_HOSTSS0_PHY_SCAN_200>,
				 <&syscrg JHB100_SYSCLK_HOSTSS0_DATA>,
				 <&syscrg JHB100_SYSCLK_HOSTSS0_CFG>,
				 <&osc>;
			clock-names = "host0_phy_scan_500", "host0_phy_scan_200",
				      "host0_data", "host0_cfg", "osc";
			resets = <&syscrg JHB100_SYSRST_PCU8_CORE_RST>,
				 <&syscrg JHB100_SYSRST_PCU8_APB_RST>;
			#clock-cells = <1>;
			#reset-cells = <1>;
			status = "okay";
		};

		husb0crg: clock-controller@10694000 {
			compatible = "starfive,jhb100-husb0crg";
			reg = <0x0 0x10694000 0x0 0x800>;
			clocks = <&osc>,
				 <&sys2crg JHB100_SYS2CLK_HOSTUSB_INIT>,
				 <&sys2crg JHB100_SYS2CLK_HOSTUSBCMN_500>;
			clock-names = "osc", "husb0_init", "husb0_500";
			#clock-cells = <1>;
			#reset-cells = <1>;
			status = "disabled";
		};

		husbd0crg: clock-controller@10694800 {
			compatible = "starfive,jhb100-husbd0crg";
			reg = <0x0 0x10694800 0x0 0x800>;
			clocks = <&sys2crg JHB100_SYS2CLK_HOSTUSB_TARG>,
				 <&sys2crg JHB100_SYS2CLK_HOSTUSB_INIT>;
			clock-names = "husbd0_targ", "husbd0_init";
			#clock-cells = <1>;
			#reset-cells = <1>;
			status = "disabled";
		};

		gpu0crg: clock-controller@10744000 {
			compatible = "starfive,jhb100-gpu0crg";
			reg = <0x0 0x10744000 0x0 0x1000>;
			clocks = <&sys1crg JHB100_SYS1CLK_GPU0_INIT>,
				 <&sys1crg JHB100_SYS1CLK_GPU0_TARG>;
			clock-names = "gpu0_init", "gpu0_targ";
			#clock-cells = <1>;
			#reset-cells = <1>;
			status = "disabled";
		};

		host1crg: clock-controller@10d18000 {
			compatible = "starfive,jhb100-host1crg";
			reg = <0x0 0x10d18000 0x0 0x1000>;
			clocks = <&sys1crg JHB100_SYS1CLK_HOSTSS1_PHY_SCAN_500>,
				 <&sys1crg JHB100_SYS1CLK_HOSTSS1_PHY_SCAN_200>,
				 <&sys1crg JHB100_SYS1CLK_HOSTSS1_DATA>,
				 <&sys1crg JHB100_SYS1CLK_HOSTSS1_CFG>,
				 <&osc>;
			clock-names = "host1_phy_scan_500", "host1_phy_scan_200",
				      "host1_data",  "host1_cfg", "osc";
			#clock-cells = <1>;
			#reset-cells = <1>;
			status = "disabled";
		};

		husb1crg: clock-controller@10e94000 {
			compatible = "starfive,jhb100-husb1crg";
			reg = <0x0 0x10e94000 0x0 0x800>;
			clocks = <&osc>,
				 <&sys2crg JHB100_SYS2CLK_HOSTUSB_INIT>,
				 <&sys2crg JHB100_SYS2CLK_HOSTUSBCMN_500>;
			clock-names = "osc", "husb1_init", "husb1_500";
			#clock-cells = <1>;
			#reset-cells = <1>;
			status = "disabled";
		};

		husbd1crg: clock-controller@10e94800 {
			compatible = "starfive,jhb100-husbd1crg";
			reg = <0x0 0x10e94800 0x0 0x800>;
			clocks = <&sys2crg JHB100_SYS2CLK_HOSTUSB_TARG>,
				 <&sys2crg JHB100_SYS2CLK_HOSTUSB_INIT>;
			clock-names = "husbd1_targ", "husbd1_init";
			#clock-cells = <1>;
			#reset-cells = <1>;
			status = "disabled";
		};

		gpu1crg: clock-controller@10f44000 {
			compatible = "starfive,jhb100-gpu1crg";
			reg = <0x0 0x10f44000 0x0 0x1000>;
			clocks = <&sys1crg JHB100_SYS1CLK_GPU1_INIT>,
				 <&sys1crg JHB100_SYS1CLK_GPU1_TARG>;
			clock-names = "gpu1_init", "gpu1_targ";
			#clock-cells = <1>;
			#reset-cells = <1>;
			status = "disabled";
		};

		husbcmncrg: clock-controller@11044000 {
			compatible = "starfive,jhb100-husbcmncrg";
			reg = <0x0 0x11044000 0x0 0x1000>;
			clocks = <&sys2crg JHB100_SYS2CLK_HOSTUSBCMN_500>,
				 <&sys2crg JHB100_SYS2CLK_HOSTUSBCMN_480>,
				 <&sys2crg JHB100_SYS2CLK_HOSTUSBCMN_TARG>;
			clock-names = "husbcmn_500", "husbcmn_480",
				      "husbcmn_targ";
			#clock-cells = <1>;
			#reset-cells = <1>;
			status = "disabled";
		};

		voutcrg: clock-controller@11134000 {
			compatible = "starfive,jhb100-voutcrg";
			reg = <0x0 0x11134000 0x0 0x1000>;
			clocks = <&pll4>, <&pll5>,
				 <&sys1crg JHB100_SYS1CLK_VOUT_INIT>;
			clock-names = "pll4", "pll5", "vout_init";
			#clock-cells = <1>;
			#reset-cells = <1>;
			status = "disabled";
		};

		vcecrg: clock-controller@11184000 {
			compatible = "starfive,jhb100-vcecrg";
			reg = <0x0 0x11184000 0x0 0x1000>;
			clocks = <&syscrg JHB100_SYSCLK_VCE_INIT>;
			clock-names = "vce_init";
			#clock-cells = <1>;
			#reset-cells = <1>;
			status = "disabled";
		};

		pcierpcrg: clock-controller@11718000 {
			compatible = "starfive,jhb100-pcierpcrg";
			reg = <0x0 0x11718000 0x0 0x1000>;
			clocks = <&syscrg JHB100_SYSCLK_BMCPCIERP_CFG>,
				 <&syscrg JHB100_SYSCLK_BMCPCIERP_MAIN>,
				 <&osc>;
			clock-names = "pcierp_cfg", "pcierp_main", "osc";
			#clock-cells = <1>;
			#reset-cells = <1>;
			status = "disabled";
		};

		usbcrg: clock-controller@11834000 {
			compatible = "starfive,jhb100-usbcrg";
			reg = <0x0 0x11834000 0x0 0x1000>;
			clocks = <&syscrg JHB100_SYSCLK_BMCUSB_TARG>,
				 <&syscrg JHB100_SYSCLK_BMCUSB_INIT>;
			clock-names = "usb_targ", "usb_init";
			#clock-cells = <1>;
			#reset-cells = <1>;
			status = "disabled";
		};

		per0crg: clock-controller@11a08000 {
			compatible = "starfive,jhb100-per0crg";
			reg = <0x0 0x11a08000 0x0 0x1000>;
			clocks = <&sys2crg JHB100_SYS2CLK_BMCPER0_TARG>,
				 <&per0_1200>,
				 <&sys2crg JHB100_SYS2CLK_BMCPER0_400>,
				 <&sys2crg JHB100_SYS2CLK_BMCPER0_INIT>,
				 <&osc>,
				 <&sys2crg JHB100_SYS2CLK_BMCPER0_125>,
				 <&sys2crg JHB100_SYS2CLK_BMCPER0_PLL6>;
			clock-names = "per0_targ", "per0_1200",
				      "per0_400", "per0_init", "osc",
				      "per0_125", "per0_pll6";
			#clock-cells = <1>;
			#reset-cells = <1>;
		};

		per1crg: clock-controller@11b40000 {
			compatible = "starfive,jhb100-per1crg";
			reg = <0x0 0x11b40000 0x0 0x1000>;
			clocks = <&sys2crg JHB100_SYS2CLK_BMCPER1_INIT>,
				 <&sys2crg JHB100_SYS2CLK_BMCPER1_400>,
				 <&sys2crg JHB100_SYS2CLK_BMCPER1_TARG>,
				 <&sys2crg JHB100_SYS2CLK_BMCPER1_800>;
			clock-names = "per1_init", "per1_400",
				      "per1_targ", "per1_800";
			#clock-cells = <1>;
			#reset-cells = <1>;
		};

		per2crg: clock-controller@11bc0000 {
			compatible = "starfive,jhb100-per2crg";
			reg = <0x0 0x11bc0000 0x0 0x1000>;
			clocks = <&syscrg JHB100_SYSCLK_BMCPER2_TARG>,
				 <&syscrg JHB100_SYSCLK_BMCPER2_400>,
				 <&syscrg JHB100_SYSCLK_BMCPER2_125>,
				 <&per2_gmac2_rgmii_rx>,
				 <&per2_gmac2_rmii_ref>,
				 <&osc>;
			clock-names = "per2_targ", "per2_400",
				      "per2_125", "per2_gmac2_rgmii_rx",
				      "per2_gmac2_rmii_ref", "osc";
			#clock-cells = <1>;
			#reset-cells = <1>;
		};

		per3crg: clock-controller@11c40000 {
			compatible = "starfive,jhb100-per3crg";
			reg = <0x0 0x11c40000 0x0 0x1000>;
			clocks = <&sys1crg JHB100_SYS1CLK_BMCPER3_INIT>,
				 <&sys1crg JHB100_SYS1CLK_BMCPER3_125>,
				 <&sys1crg JHB100_SYS1CLK_BMCPER3_TARG>,
				 <&per3_gmac0_rmii_rclki>;
			clock-names = "per3_init", "per3_125",
				      "per3_targ", "per3_gmac0_rmii_rclki";
			#clock-cells = <1>;
			#reset-cells = <1>;
		};

		syscrg: clock-controller@13000000 {
			compatible = "starfive,jhb100-syscrg";
			reg = <0x0 0x13000000 0x0 0x4000>;
			clocks = <&osc>, <&pll0>, <&pll1>, <&pll2>,
				 <&pll3>, <&pll6>, <&pll7>;
			clock-names = "osc", "pll0", "pll1", "pll2",
				      "pll3", "pll6", "pll7";
			#clock-cells = <1>;
			#reset-cells = <1>;
		};

		sys1crg: clock-controller@13004000 {
			compatible = "starfive,jhb100-sys1crg";
			reg = <0x0 0x13004000 0x0 0x4000>;
			clocks = <&osc>, <&pll0>, <&pll1>, <&pll2>,
				 <&pll3>, <&pll6>, <&pll7>;
			clock-names = "osc", "pll0", "pll1", "pll2",
				      "pll3", "pll6", "pll7";
			#clock-cells = <1>;
			#reset-cells = <1>;
		};

		sys2crg: clock-controller@13008000 {
			compatible = "starfive,jhb100-sys2crg";
			reg = <0x0 0x13008000 0x0 0x4000>;
			clocks = <&osc>, <&pll0>, <&pll1>, <&pll2>,
				 <&pll3>, <&pll6>, <&pll7>;
			clock-names = "osc", "pll0", "pll1", "pll2",
				      "pll3", "pll6", "pll7";
			#clock-cells = <1>;
			#reset-cells = <1>;
		};
	};
};
