// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (c) 2024 StarFive Technology Co., Ltd.
 */

&sfc0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&sfc0_pins>;

	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <20000000>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "Boot Info (Primary)";
				reg = <0x0 0x10000>;
			};

			partition@1 {
				label = "L0 firmware (Primary)";
				reg = <0x10000 0x80000>;
			};

			partition@2 {
				label = "L1 firmware (Primary)";
				reg = <0x90000 0x80000>;
			};

			partition@3 {
				label = "U-Boot SPL (Primary)";
				reg = <0x110000 0x100000>;
			};

			partition@4 {
				label = "U-Boot (Primary)";
				reg = <0x210000 0x400000>;
			};

			partition@5 {
				label = "U-Boot environment";
				reg = <0x610000 0x80000>;
			};

			partition@6 {
				label = "Data";
				reg = <0x690000 0x1970000>;
			};
		};
	};

	flash@1 {
		compatible = "jedec,spi-nor";
		reg = <1>;
		spi-max-frequency = <20000000>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "Boot Info (Secondary)";
				reg = <0x0 0x10000>;
			};

			partition@1 {
				label = "L0 firmware (Secondary)";
				reg = <0x10000 0x80000>;
			};

			partition@2 {
				label = "L1 firmware (Secondary)";
				reg = <0x90000 0x80000>;
			};

			partition@3 {
				label = "U-Boot SPL (Secondary)";
				reg = <0x110000 0x100000>;
			};

			partition@4 {
				label = "U-Boot (Secondary)";
				reg = <0x210000 0x400000>;
			};

			partition@5 {
				label = "U-Boot environment";
				reg = <0x610000 0x80000>;
			};

			partition@6 {
				label = "Kernel (Primary)";
				reg = <0x690000 0x1000000>;
			};

			partition@7 {
				label = "Kernel (Secondary)";
				reg = <0x1690000 0x1000000>;
			};

			partition@8 {
				label = "Data";
				reg = <0x2690000 0x5970000>;
			};
		};
	};
};
