// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (c) 2024 StarFive Technology Co., Ltd.
 */

#include "jhb100.dtsi"
#include "jhb100-fpga-sfc0-flash.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "StarFive JHB100 FPGA";
	compatible = "starfive,jhb100-fpga", "starfive,jhb100";

	aliases {
		serial0 = &uart5;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	cpus {
		timebase-frequency = <4000000>;
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x40000000 0x2 0x00000000>;	/* 8GB */
	};

	reserved-memory {
		#address-cells = <0x2>;
		#size-cells = <0x2>;
		ranges;

		/* DMA global pool cached address */
		dma-reserved@44000000 {
			reg = <0x0 0x44000000 0x0 0x20000000>;
			no-map;
		};

		/* DMA global pool uncached address (alias) */
		linux,dma@404000000 {
			compatible = "shared-dma-pool";
			reg = <0x4 0x04000000 0x0 0x20000000>;
			no-map;
			linux,dma-default;
		};

		/*
		 * eSPI & MMBI dma accesses uncached address.
		 * Also need to reserve corresponding cache addresses,
		 * so that kernel will not manage them.
		 */
		pcie0_mmbi_buffer_cache: mmbi_buffer@64000000 {
			reg = <0x0 0x64000000 0 0x800000>;
			alignment = <0x0 0x800000>;
			no-map;
		};

		pcie0_mmbi_buffer_uncache: mmbi_buffer@424000000 {
			reg = <0x4 0x24000000 0 0x800000>;
			alignment = <0x0 0x800000>;
			no-map;
		};

		espi0_mmbi_buffer_cache: mmbi_buffer@64800000 {
			reg = <0x0 0x64800000 0 0x800000>;
			alignment = <0x0 0x800000>;
			no-map;
		};

		espi0_mmbi_buffer_uncache: mmbi_buffer@424800000 {
			reg = <0x4 0x24800000 0 0x800000>;
			alignment = <0x0 0x800000>;
			no-map;
		};

		espi0_mem_cache: espi0-slave@65000000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x65000000 0x0 0x200000>;
			no-map;
		};

		espi0_mem_uncache: espi0-slave@425000000 {
			compatible = "shared-dma-pool";
			reg = <0x4 0x25000000 0x0 0x200000>;
			no-map;
		};

		ramoops@65200000 {
			compatible = "ramoops";
			reg = <0x0 0x65200000 0x0 0xc0000>;
			record-size = <0x20000>;
			console-size = <0x20000>;
			pmsg-size = <0x20000>;
		};

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 0x10000000>;
			alignment = <0x0 0x1000>;
			alloc-ranges = <0x0 0x66000000 0x1 0xda000000>;
			linux,cma-default;
		};
	};

	soc {
		fpga_12mhz_clk: fpga_12mhz_clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <12000000>;
		};

		fpga_3mhz_clk: fpga_3mhz_clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <3000000>;
		};

		fpga_4mhz_clk: fpga_4mhz_clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <4000000>;
		};

		fpga_2p5mhz_clk: fpga_2p5mhz_clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <2500000>;
		};
	};
};

&pinctrl_sys0 {

	gpio-line-names =
		"", "", "", "",
		"ESPI_CLK",	"ESPI_CS", "ESPI_IO0", "ESPI_IO1",
		"ESPI_IO2", "ESPI_IO3", "ESPI_RST", "ESPI_ALT";

	espi0_pins: espi0-grp {
		espi0-rst-pins {
			pinmux = <PINMUX(PADNUM_SYSTOP_SYS0_ESPI0_RESET,
					 FUNC_SYSTOP_SYS0_ESPI0_RESET)>;
			input-enable;
		};

		espi0-alt-pins {
			pinmux = <PINMUX(PADNUM_SYSTOP_SYS0_ESPI0_ALERT,
					 FUNC_SYSTOP_SYS0_ESPI0_ALERT)>;
		};

		espi0-cs-pins {
			pinmux = <PINMUX(PADNUM_SYSTOP_SYS0_ESPI0_CS,
					 FUNC_SYSTOP_SYS0_ESPI0_CS)>;
			bias-pull-up;
			input-enable;
		};

		espi0-clk-pins {
			pinmux = <PINMUX(PADNUM_SYSTOP_SYS0_ESPI0_CLK,
					 FUNC_SYSTOP_SYS0_ESPI0_CLK)>;
			bias-pull-down;
			input-enable;
		};

		espi0-io0-pins {
			pinmux = <PINMUX(PADNUM_SYSTOP_SYS0_ESPI0_DATA0,
					 FUNC_SYSTOP_SYS0_ESPI0_DATA0)>;
			bias-pull-up;
		};

		espi0-io1-pins {
			pinmux = <PINMUX(PADNUM_SYSTOP_SYS0_ESPI0_DATA1,
					 FUNC_SYSTOP_SYS0_ESPI0_DATA1)>;
			bias-pull-up;

		};

		espi0-io2-pins {
			pinmux = <PINMUX(PADNUM_SYSTOP_SYS0_ESPI0_DATA2,
					 FUNC_SYSTOP_SYS0_ESPI0_DATA2)>;
			bias-pull-up;
		};

		espi0-io3-pins {
			pinmux = <PINMUX(PADNUM_SYSTOP_SYS0_ESPI0_DATA3,
					 FUNC_SYSTOP_SYS0_ESPI0_DATA3)>;
			bias-pull-up;
		};
	};
};

&pinctrl_sys2 {
	gpio-line-names =
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"UART5_RX", "UART5_TX", "", "";

	uart5_pins: uart5-grp {
		uart5_tx-pins {
			pinmux = <PINMUX(13, 1)>;
		};

		uart5_rx-pins {
			pinmux = <PINMUX(12, 1)>;
			bias-pull-up;
			input-enable;
		};
	};
};

&pinctrl_bmcperiph0 {
	gpio-line-names =
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"MDIO0_MDC", "MDIO0_MDIO", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "I3C0_SCL",
		"I3C0_SDA", "I3C1_SCL", "I3C1_SDA", "";

	mdio0_pins: mdio0-grp {
		mdio0_mdc-pins {
			pinmux = <PINMUX(24, 2)>;
		};

		mdio0_mdio-pins {
			pinmux = <PINMUX(25, 2)>;
			bias-pull-up;
			input-enable;
		};
	};

	i3c0_pins: i3c0-grp {
		i3c0_scl-pins {
			pinmux = <PINMUX(43, 1)>;
		};

		i3c0_sda-pins  {
			pinmux = <PINMUX(44, 1)>;
			bias-pull-up;
			input-enable;
		};
	};

	i3c1_pins: i3c1-grp {
		i3c1_scl-pins {
			pinmux = <PINMUX(45, 1)>;
		};

		i3c1_sda-pins  {
			pinmux = <PINMUX(46, 1)>;
			bias-pull-up;
			input-enable;
		};
	};
};

&pinctrl_bmcperiph2 {
	gpio-line-names =
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"GMAC2_PHY_RESET", "GMAC2_TXEN", "", "GMAC2_TXD0",
		"GMAC2_TXD1", "", "GMAC2_TXD2", "GMAC2_TXD3",
		"", "", "", "",
		"", "GMAC2_RXCLK", "GMAC2_RXDV", "GMAC2_RXD0",
		"GMAC2_RXD1", "GMAC2_RXD2", "GMAC2_RXD3", "GMAC2_TXCLK";

	gmac2_pins: gmac2-grp {
		gmac2_txen-pins {
			pinmux = <PINMUX(25, 2)>;
		};

		gmac2_txclk-pins {
			pinmux = <PINMUX(43, 1)>;
		};

		gmac2_txd0-pins {
			pinmux = <PINMUX(27, 2)>;
		};

		gmac2_txd1-pins {
			pinmux = <PINMUX(28, 2)>;
		};

		gmac2_txd2-pins {
			pinmux = <PINMUX(30, 2)>;
		};

		gmac2_txd3-pins {
			pinmux = <PINMUX(31, 2)>;
		};

		gmac2_rxclk-pins {
			pinmux = <PINMUX(37, 1)>;
		};

		gmac2_rxdv-pins {
			pinmux = <PINMUX(38, 1)>;
		};

		gmac2_rxd0-pins {
			pinmux = <PINMUX(39, 1)>;
		};

		gmac2_rxd1-pins {
			pinmux = <PINMUX(40, 1)>;
		};

		gmac2_rxd2-pins {
			pinmux = <PINMUX(41, 1)>;
		};

		gmac2_rxd3-pins {
			pinmux = <PINMUX(42, 1)>;
		};
	};

};

&uart5 {
	status = "okay";
	clocks = <&fpga_4mhz_clk>, <&fpga_4mhz_clk>;
	clock-frequency = <4000000>;
	current-speed = <115200>;
	pinctrl-names = "default";
	pinctrl-0 = <&uart5_pins>;
};

&husb0 {
	snps,no-connect-phy;
};

&pcie0_mctp {
	status = "disabled";
};

&pcie1_mctp {
	status = "disabled";
};

&pcierp_mctp {
	status = "disabled";
};

&pcie0_mmbi {
	mmbi-instance-num = <8>;
	mmbi-osuse = /bits/ 8 <1 1 1 1 1 1 1 1>;
	memory-region = <&pcie0_mmbi_buffer_uncache>;
	mmbi-src-addr = /bits/ 64 <0x1f0000000>;
	status = "disabled";
};

&peci {
	status = "okay";
};

&espi0_mmbi {
	mmbi-instance-num = <8>;
	mmbi-osuse = /bits/ 8 <0 0 0 0 0 0 0 0>;
	memory-region = <&espi0_mmbi_buffer_uncache>;
	mmbi-src-addr = /bits/ 64 <0x1f4000000>;
	status = "okay";
};

&sio0 {
	status = "okay";

	sio0_bt0: bt@0 {
		status = "okay";
	};

	sio0_kcs0: kcs@200 {
		status = "okay";
	};

	sio0_pcc: pcc@800 {
		starfive,pcc-threshold = <2>;
		status = "okay";
	};

	sio0_mbox: mbox@600 {
		status = "okay";
	};

	sio0_wdi: wdi@900 {
		status = "okay";
	};
};

&espi0 {
	flash-safs-mode = <0>;
	perif-memcyc-src-addr = <0x4 0x25000000>;
	perif-memcyc-size = <0x200000>;
	memory-region = <&espi0_mem_uncache>;

	starfive,misc-remap-num = <4>;
	starfive,bt-remap-num = <1>;

	starfive,mmbi-io-addr = /bits/ 32 <0x1000>;
	starfive,bt-io-addr = /bits/ 32 <0x200>;
	starfive,wdi-io-addr = /bits/ 32 <0xa00>;
	starfive,mbox-io-addr = /bits/ 32 <0x300>;
	starfive,misc-io-addr = /bits/ 32 <0x20 0x40
					   0x3f8 0xca0>;
	starfive,misc-sys-addr = /bits/ 32 <0x651ff020 0x651ff040
					    0x651ff3f8 0x651ffca0>;
	pinctrl-0 = <&espi0_pins>;
	/* GPIOB_4 for espi reset detection. */
	espi_rst_det-gpio = <&pinctrl_bmcperiph0 4 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&gmac2 {
	clocks = <&fpga_12mhz_clk>,
		 <&fpga_12mhz_clk>,
		 <&fpga_12mhz_clk>,
		 <&fpga_2p5mhz_clk>;
	snps,clk-csr = <5>;
	starfive,tx-use-rgmii-clk;
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_phy0>;
	status = "okay";
	pinctrl-names = "default", "default";
	pinctrl-0 = <&gmac2_pins>;
	pinctrl-1 = <&mdio0_pins>;

	mdio0 {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
		ethernet_phy0: ethernet-phy@0 {
			reg = <0>;
			max-speed = <10>;
			device_type = "ethernet-phy";

			marvell,reg-init =
				<0x0 0x4 0 0x0441>, /*Page 0, Reg 4 <- 0x0441*/
				<0x12 0x14 0 0x0>, /*Page 18, Reg 20 <- 0x0*/
				<0x0 0x0 0 0x1100>; /*Page 0, Reg 0 <- 0x1100*/
		};
	};
};

&timer0 {
	status = "okay";
};

&timer1 {
	status = "okay";
};

&timer2 {
	status = "okay";
};

&timer_test {
	status = "okay";
};

&i3c0 {
	status = "okay";
	clocks = <&fpga_12mhz_clk>;
	i3c-scl-hz = <1000000>;
	mode = "master";
	hotjoin;
	pinctrl-names = "default";
	pinctrl-0 = <&i3c0_pins>;
};

&i3c1 {
	status = "okay";
	clocks = <&fpga_12mhz_clk>;
	i3c-scl-hz = <1000000>;
	mode = "target";
	pid = <0x123 0x45543210>;
	/* static-address = /bits/ 8 <0x48>; */
	dcr = /bits/ 8 <0x0>;
	hotjoin-request;
	/* pec-private-transfer; */
	pinctrl-names = "default";
	pinctrl-0 = <&i3c1_pins>;
};
