// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (c) 2025 StarFive Technology Co., Ltd.
 */

#include "jhb100-evb3.dtsi"
#include "jhb100-dcscm-baseboard.dtsi"

/ {
	chosen {
		stdout-path = "serial4:115200n8";
	};
};

&espi0 {
	starfive,vgpio_mode = <1>;
	gpio-line-names  =
										/* Output pins */
		"", "", "", "",							/* VGPIO0-3 */
		"VW_FM_DUAL_PARTITION_N", "VW_FM_STANDALONE_MODE_N",		/* VGPIO4-5 */
		"VW_FM_4S_8S_N_MODE", "VW_FM_NODE_ID_1",			/* VGPIO6-7 */
		"VW_FM_NODE_ID_0", "", "", "", "", "", "", "",			/* VGPIO8-15*/
		"", "", "", "",	"", "", "", "",					/* VGPIO16-23 */
		"", "", "", "",	"", "", "", "",					/* VGPIO23-31 */
										/* Input pins */
		"", "", "", "",							/* VGPIO32-35 */
		"VW_FM_BIOS_POST_CMPLT_N", "VW_CORE_BIOS_DONE_N", "", "",	/* VGPIO36-39 */
		"", "", "", "",	"", "", "", "",					/* VGPIO40-47 */
		"", "", "", "",	"", "", "", "",					/* VGPIO48-55 */
		"", "", "", "",	"", "", "", "";					/* VGPIO56-63 */
};

&gmac2 {
	mdio {
		phy2: ethernet-phy@2 {
			reg = <0>;
		};
	};
};

&jtag0 {
	status = "okay";
};

&jtag1 {
	status = "disabled";
};

&pinctrl_adc0 {
	gpio-line-names =
		"IRQ_SML1_PMBUS_BMC_ALERT_N", "FM_SPD_SWITCH_CTRL_N",	/* GPIOG0-1 */
		"NMI_BUTTON", "FP_LED_STATUS_GREEN_N",			/* GPIOG2-3 */
		"FP_ID_BTN_N", "PWRGD_AUX_PWRGD_BMC_CPU0",		/* GPIOG4-5 */
		"NC", "NC";						/* GPIOG6-7 */
};

&pinctrl_adc1 {
	gpio-line-names =
		"RST_BMC_PCIE_MUX_N", "RST_BMC_HSBP_MUX_N",		/* GPIOH0-1 */
		"FM_SMB_BMC_NVME_LVC3_ALERT_N", "FM_PARTITION_SEL",	/* GPIOH2-3 */
		"REMOTE_DEBUG_ENABLE", "SIO_S3", "NC", "NC";		/* GPIOH4-7 */
};

&pinctrl_bmcperiph0 {
	gpio-line-names =
		"I2C0_SCL", "I2C0_SDA", "I2C1_SCL", "I2C1_SDA",			/* GPIOB0-3 */
		"I2C2_SCL", "I2C2_SDA", "I2C3_SCL", "I2C3_SDA",			/* GPIOB4-7 */
		"I2C4_SCL", "I2C4_SDA",						/* GPIOB8-9 */
		"PCH_BMC_THERMTRIP", "CPU_CATERR",				/* GPIOB10-11 */
		"I2C6_SCL", "I2C6_SDA", "I2C7_SCL", "I2C7_SDA",			/* GPIOB12-15 */
		"I2C8_SCL", "I2C8_SDA", "I2C9_SCL", "I2C9_SDA",			/* GPIOB16-19 */
		"I2C10_SCL", "I2C10_SDA", "I2C11_SCL", "I2C11_SDA",		/* GPIOB20-23 */
		"GMAC2_MDC", "GMAC2_MDIO", "NC", "NC",				/* GPIOB24-27 */
		"NC", "NC", "NC", "NC",						/* GPIOB28-31 */
		"NC", "NC", "NC", "NC",						/* GPIOB32-35 */
		"I3C12_SCL", "I3C12_SDA", "I3C13_SCL", "I3C13_SDA",		/* GPIOB36-39 */
		"FM_BMC_SAFS_EN", "FM_LED_BMC_CPU_RSTIND",			/* GPIOB40-41 */
		"PWRGD_CPU0_AUXPWRGD_1V8", "FM_SKT1_FAULT_LED",			/* GPIOB42-43 */
		"I3C0LV_SCL", "I3C0LV_SDA", "I3C1LV_SCL", "I3C1LV_SDA",		/* GPIOB44-47 */
		"I3C2LV_SCL", "I3C2LV_SDA", "NC", "NC",				/* GPIOB48-51 */
		"NC", "NC", "NC", "NC",						/* GPIOB52-55 */
		"NC", "NC", "NC", "NC";						/* GPIOB56-59 */

	gpioe-i3c0-vsel = <JHB100_VREF_3_3V>; /* VREF for GPIOB8-11, 32-33 */
	gpioe-i3c1-vsel = <JHB100_VREF_3_3V>; /* VREF for GPIOB12-15, 34-35 */
	gpioe-i3c2-vsel = <JHB100_VREF_3_3V>; /* VREF for GPIOB16-23 */
	gpioe-i3c4-vsel = <JHB100_VREF_1_8V>; /* VREF for GPIOB36-43 */
};

&pinctrl_bmcperiph1 {
	gpio-line-names =
		"SPI0_CS0", "SPI0_CS1", "SPI0_SCLK", "SPI0_TX",			/* GPIOC0-3 */
		"SPI0_RX", "SFC0_CS0", "FM_SKT0_FAULT_LED", "SFC0_SCLK",	/* GPIOC4-7 */
		"SFC0_IO0", "SFC0_IO1", "SFC0_IO2", "SFC0_IO3",			/* GPIOC8-11 */
		"RST_SRST_BMC_SCM_FPGA_N", "FM_CPU1_ERR0_LVT3_N",		/* GPIOC12-13 */
		"NC", "CPU_ERR2", "FM_NODE_ID0", "FM_NODE_ID1",			/* GPIOC14-17 */
		"CPU_ERR0", "CPU_ERR1", "PRDY_N", "PREQ_N",			/* GPIOC18-21 */
		"NC", "PWRGD_P1V0_BMC_AUX", "FM_4S_8S_N_MODE", "NC",		/* GPIOC22-25 */
		"FM_BMC_CMOS_CLR_R_N", "PS_PWROK",				/* GPIOC26-27 */
		"SGPIO0_CLK", "SGPIO0_LD", "SGPIO0_DO", "SGPIO0_DI",		/* GPIOC28-31 */
		"FM_STANDALONE_MODE_N", "FM_BMC_TRUST_N",			/* GPIOC32-33 */
		"FM_CPU1_ERR1_LVT3_N", "FM_CPU1_ERR2_LVT3_N";			/* GPIOC34-35 */

	gpioe-spi-vsel = <JHB100_VREF_3_3V>; /* VREF for GPIOC0-4 */
	gpioe-qspi0-vsel = <JHB100_VREF_3_3V>; /* VREF for GPIOC5-11 */
	gpioe-qspi1-vsel = <JHB100_VREF_3_3V>; /* VREF for GPIOC12-19 */
	gpioe-qspi2-vsel = <JHB100_VREF_3_3V>; /* VREF for GPIOC20-27 */
};

&pinctrl_bmcperiph2 {
	gpio-line-names =
		"SIO_POWER_GOOD", "FP_ID_LED_N",				/* GPIOD0-1 */
		"FP_LED_STATUS_AMBER_N", "SIO_S5",				/* GPIOD2-3 */
		"A_P3V_BAT_SCALED_EN", "NC", "FM_SPEAKER_BMC", "NC",		/* GPIOD4-7 */
		"FM_BMC_CPU_FBRK_OUT_R_N", "DBP_PRESENT_IN_R2_N",		/* GPIOD8-9 */
		"FM_TPM_EN_PULSE", "FM_FORCE_BMC_UPDATE_N",			/* GPIOD10-11 */
		"PLTRST_N", "NC", "NC", "NC",					/* GPIOD12-15 */
		"NC", "NC", "NC", "GMAC2_RXCLK",				/* GPIOD16-19 */
		"GMAC2_RXDV", "GMAC2_RXD0", "GMAC2_RXD1", "GMAC2_RXD2",		/* GPIOD20-23 */
		"GMAC2_RXD3", "GMAC2_TXCLK", "GMAC2_TXEN", "GMAC2_TXD0",	/* GPIOD24-27 */
		"GMAC2_TXD1", "GMAC2_TXD2", "GMAC2_TXD3";			/* GPIOD28-30 */

	gpionw-vsel = <JHB100_VREF_1_8V>; /* VREF for GPIOD19-30 */
};

&pinctrl_bmcperiph2_pok {
	gpio-line-names =
		"NC", "NC", "NC", "NC",					/* GPIOD31-34 */
		"NC", "NC", "RESET_BUTTON", "RESET_OUT",		/* GPIOD35-38 */
		"POWER_BUTTON", "FM_BMC_PWRBTN_OUT_R_N", "NC", "NC",	/* GPIOD39-42 */
		"NC", "NC", "NC", "NC",				/* GPIOD43-46 */
		"NC", "NC";						/* GPIOD47-48 */
};

&pinctrl_bmcperiph3 {
	gpio-line-names =
		"NC", "NC", "GMAC0_RXD1", "GMAC0_RXD0",				/* GPIOE0-3 */
		"GMAC0_RXDV", "CLK_1_8M_UART", "GMAC0_TXEN", "GMAC0_TXD0",	/* GPIOE4-7 */
		"GMAC0_TXD1", "GMAC0_RCLKI", "GMAC0_RCLKO";			/* GPIOE8-11 */

	gpios-vsel = <JHB100_VREF_3_3V>; /* VREF for GPIOE0-10 */
};

&pinctrl_emmc {
	gpio-line-names =
		"EMMC0_CLK", "EMMC0_RST", "EMMC0_CMD", "EMMC0_DQS",		/* GPIOF0-3 */
		"EMMC0_DATA0", "EMMC0_DATA1", "EMMC0_DATA2", "EMMC0_DATA3",	/* GPIOF4-7 */
		"EMMC0_DATA4", "EMMC0_DATA5", "EMMC0_DATA6", "EMMC0_DATA7";	/* GPIOF8-11 */
};

&pinctrl_sys0 {
	gpio-line-names =
		"PWRGD_CPU0_AUXPWRGD", "NC", "HB_LED", "NC";		/* GPIOA0-3 */
};

&pinctrl_sys0h {
	gpio-line-names =
		"ESPI0_IO0", "ESPI0_IO1", "ESPI0_IO2", "ESPI0_IO3",		/* GPIOA4-7 */
		"ESPI0_CLK", "ESPI0_CS", "ESPI0_ALERT", "ESPI0_RESET",		/* GPIOA8-11 */
		"DEBUG_EN_N", "PWR_DEBUG_N", "TCK_MUX_SEL", "XDP_PRST_N";	/* GPIOA12-15 */
};

&pinctrl_sys1 {
	gpio-line-names =
		"NC", "NC", "NC", "NC",		/* GPIOA16-19 */
		"NC", "NC", "NC", "NC";		/* GPIOA20-23 */
};

&pinctrl_sys2 {
	gpio-line-names =
		"NC", "NC", "NC", "NC",						/* GPIOA24-27 */
		"NC", "NC", "NC", "NC",						/* GPIOA28-31 */
		"NC", "NC", "UART4_TX", "UART4_RX",				/* GPIOA32-35 */
		"NC", "NC", "NC", "NC",						/* GPIOA36-39 */
		"NC", "NC", "NC", "NC",						/* GPIOA40-43 */
		"UART9_TX", "UART9_RX", "NC", "NC",				/* GPIOA44-47 */
		"UART11_TX", "UART11_RX", "FM_BMC_BMCINIT_R", "SIO_ONCONTROL",	/* GPIOA48-51 */
		"NC", "NC", "NC", "NC",						/* GPIOA52-55 */
		"NC", "NC", "NC", "NC",						/* GPIOA56-59 */
		"NC";								/* GPIOA60 */

	gpiow-vsel = <JHB100_VREF_3_3V>; /* VREF for GPIOA36-43 */

	gpioa51 {
		gpio-hog;
		gpios = <27 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "SIO_ONCONTROL";
	};
};

&pinctrl_vga_vdac {
	gpio-line-names =
		"NC", "NC", "NC", "NC";		/* GPIOI0-3 */
};

&sgpio0 {
	status = "okay";

	/* SGPIO lines: Each IO number in pairs (input, output) */
	gpio-line-names =
	/* 0-1 */	"CPU1_PRESENCE", "P80_DOUT0", "CPU1_THERMTRIP", "P80_DOUT1",
	/* 2-3 */	"CPU1_VRHOT", "P80_DOUT2", "H_CPU0_MON_FAIL_LVC1_N", "P80_DOUT3",
	/* 4-5 */	"CPU1_MEM_VRHOT", "P80_DOUT4", "CPU1_MEM_THERM_EVENT", "P80_DOUT5",
	/* 6-7 */	"FM_CPU0_PROC_ID0", "P80_DOUT6", "FM_CPU0_PROC_ID1", "P80_DOUT7",
	/* 8-9 */	"CPU1_MISMATCH", "LED_CPU1_CH1_DIMM1_FAULT", "", "LED_CPU1_CH1_DIMM2_FAULT",
	/* 10-11 */	"CPU2_PRESENCE", "LED_CPU1_CH2_DIMM1_FAULT", "CPU2_THERMTRIP", "LED_CPU1_CH2_DIMM2_FAULT",
	/* 12-13 */	"CPU2_VRHOT", "LED_CPU1_CH3_DIMM1_FAULT", "H_CPU1_MON_FAIL_LVC1_N", "LED_CPU1_CH3_DIMM2_FAULT",
	/* 14-15 */	"CPU2_MEM_VRHOT", "LED_CPU1_CH4_DIMM1_FAULT", "CPU2_MEM_THERM_EVENT", "LED_CPU1_CH4_DIMM2_FAULT",
	/* 16-17 */	"FM_CPU1_PROC_ID0", "LED_CPU1_CH5_DIMM1_FAULT", "FM_CPU1_PROC_ID1", "LED_CPU1_CH5_DIMM2_FAULT",
	/* 18-19 */	"CPU2_MISMATCH", "LED_CPU1_CH6_DIMM1_FAULT", "", "LED_CPU1_CH6_DIMM2_FAULT",
	/* 20-21 */	"", "LED_FAN1_FAULT", "", "LED_FAN2_FAULT",
	/* 22-23 */	"", "LED_FAN3_FAULT", "", "LED_FAN4_FAULT",
	/* 24-25 */	"", "LED_FAN5_FAULT", "", "LED_FAN6_FAULT",
	/* 26-27 */	"", "LED_FAN7_FAULT", "", "LED_FAN8_FAULT",
	/* 28-29 */	"", "LED_CPU2_CH1_DIMM1_FAULT", "", "LED_CPU2_CH1_DIMM2_FAULT",
	/* 30-31 */	"", "LED_CPU2_CH2_DIMM1_FAULT", "", "LED_CPU2_CH2_DIMM2_FAULT",
	/* 32-33 */	"", "LED_CPU2_CH3_DIMM1_FAULT", "", "LED_CPU2_CH3_DIMM2_FAULT",
	/* 34-35 */	"", "LED_CPU2_CH4_DIMM1_FAULT", "", "LED_CPU2_CH4_DIMM2_FAULT",
	/* 36-37 */	"", "LED_CPU2_CH5_DIMM1_FAULT", "", "LED_CPU2_CH5_DIMM2_FAULT",
	/* 38-39 */	"", "LED_CPU2_CH6_DIMM1_FAULT", "CPU1_CPLD_CRC_ERROR", "LED_CPU2_CH6_DIMM2_FAULT",
	/* 40-41 */	"CPU2_CPLD_CRC_ERROR", "", "CPU1_CATERR_IERR", "",
	/* 42-43 */	"CPU1_CATERR_MCERR", "", "CPU2_CATERR_IERR", "",
	/* 44-45 */	"CPU2_CATERR_MCERR", "", "", "",
	/* 46-47 */	"", "", "", "",
	/* 48-49 */	"MAIN_PLD_MINOR_REV_BIT0", "", "MAIN_PLD_MINOR_REV_BIT1", "",
	/* 50-51 */	"MAIN_PLD_MINOR_REV_BIT2", "", "MAIN_PLD_MINOR_REV_BIT3", "",
	/* 52-53 */	"MAIN_PLD_MAJOR_REV_BIT0", "", "MAIN_PLD_MAJOR_REV_BIT1", "",
	/* 54-55 */	"MAIN_PLD_MAJOR_REV_BIT2", "", "MAIN_PLD_MAJOR_REV_BIT3", "",
	/* 56-57 */	"", "", "WMEMX_PWR_FLT", "",
	/* 58-59 */	"WCPUX_MEM_PWR_FLT", "", "PWRGD_P3V3_FF", "",
	/* 60-61 */	"WPSU_PWR_FLT", "", "", "",
	/* 62-63 */	"", "", "WPCH_PWR_FLT", "",
	/* 64-65 */	"FM_CPU0_PKGID0", "LED_CPU1_CH7_DIMM1_FAULT", "FM_CPU0_PKGID1", "LED_CPU1_CH7_DIMM2_FAULT",
	/* 66-67 */	"FM_CPU0_PKGID2", "LED_CPU1_CH8_DIMM1_FAULT", "H_CPU0_MEMTRIP_LVC1_N", "LED_CPU1_CH8_DIMM2_FAULT",
	/* 68-69 */	"FM_CPU1_PKGID0", "LED_CPU2_CH7_DIMM1_FAULT", "FM_CPU1_PKGID1", "LED_CPU2_CH7_DIMM2_FAULT",
	/* 70-71 */	"FM_CPU1_PKGID2", "LED_CPU2_CH8_DIMM1_FAULT", "H_CPU1_MEMTRIP_LVC1_N", "LED_CPU2_CH8_DIMM2_FAULT",
	/* 72-73 */	"", "", "", "",
	/* 74-75 */	"", "", "", "",
	/* 76-77 */	"", "", "", "",
	/* 78-79 */	"", "", "", "",
	/* 80-81 */	"FM_BOARD_REV_ID0", "LED_CPU0_CH9_DIMM1_FAULT", "FM_BOARD_REV_ID1", "LED_CPU0_CH9_DIMM2_FAULT",
	/* 82-83 */	"FM_BOARD_REV_ID2", "LED_CPU0_CH10_DIMM1_FAULT", "FM_BOARD_SKU_ID0", "LED_CPU0_CH10_DIMM2_FAULT",
	/* 84-85 */	"FM_BOARD_SKU_ID1", "LED_CPU0_CH11_DIMM1_FAULT", "FM_BOARD_SKU_ID2", "LED_CPU0_CH11_DIMM2_FAULT",
	/* 86-87 */	"FM_BOARD_SKU_ID3", "LED_CPU0_CH12_DIMM1_FAULT", "FM_BOARD_SKU_ID4", "LED_CPU0_CH12_DIMM2_FAULT",
	/* 88-89 */	"FM_BOARD_SKU_ID5", "LED_CPU1_CH9_DIMM1_FAULT", "FM_BMC_VAL_EN", "LED_CPU1_CH9_DIMM2_FAULT",
	/* 90-91 */	"FM_SERIAL_BOOT", "LED_CPU1_CH10_DIMM1_FAULT", "", "LED_CPU1_CH10_DIMM2_FAULT",
	/* 92-93 */	"S0_PWROK", "LED_CPU1_CH11_DIMM1_FAULT", "", "LED_CPU1_CH11_DIMM2_FAULT",
	/* 94-95 */	"", "LED_CPU1_CH12_DIMM1_FAULT", "", "LED_CPU1_CH12_DIMM1_FAULT",
	/* 96-97 */	"", "FM_SURPRISE_RESET_N", "", "FM_CPU1_INTR_CLK_CONFDONE_N",
	/* 98-99 */	"", "FM_GLOBAL_RESET_N", "FM_1200VA_OC", "BMC_BOOT_DONE",
	/* 100-101 */	"", "IRQ_BMC_CPU_NMI_P0", "", "IRQ_BMC_CPU_NMI_P1",
	/* 102-103 */	"", "", "", "",
	/* 104-105 */	"", "", "", "",
	/* 106-107 */	"", "", "", "",
	/* 108-109 */	"", "", "", "",
	/* 110-111 */	"", "", "", "",
	/* 112-113 */	"R1S_PRESENCE", "", "", "",
	/* 114-115 */	"", "", "", "",
	/* 116-117 */	"", "", "", "",
	/* 118-119 */	"", "", "", "",
	/* 120-121 */	"", "", "", "",
	/* 122-123 */	"", "", "", "",
	/* 124-125 */	"", "", "", "",
	/* 126-127 */	"", "", "", "";
};

&sol4 {
	memory-region = <&sol_tx_mem_uncache>,
			<&sol_rx_mem_uncache>;
	tx-size = <3>;
	rx-size = <3>;
	dev-id = <4>;
	status = "okay";
};

&uart4 {
	status = "okay";
	current-speed = <115200>;
	/delete-property/ resets;
};

&usb0 {
	status = "disabled";
};

&usb1 {
	status = "okay";
};

&usb1core {
	dr_mode = "host";
};

&i3c0 {
	i2c-scl-hz = <400000>;
	i3c-scl-hz = <12500000>;
	mode = "master";
	i3c-od-scl-high-ns = <1000>;
	i3c-od-scl-low-ns = <1500>;
	i3c-pp-scl-high-ns = <60>;
	i3c-pp-scl-low-ns = <100>;
	master-sda-tx-hold = <3>;
	master-sda-pp-od-switch-dly = <1>;
	master-sda-od-pp-switch-dly = <1>;
	master-stop-hold-cnt = <0xf>;
	is-mng;
	status = "okay";
	#address-cells = <3>;
	#size-cells = <0>;

	hub@0,4cd00000000 {
		compatible = "renesas,i3chub-rg3mxxb12b1";
		reg = <0x0 0x4cd 0x0>;
		cp0-ldo-en = "disabled";
		cp1-ldo-en = "disabled";
		cp0-ldo-volt = "1.0V";
		cp1-ldo-volt = "1.0V";
		tp0145-ldo-en = "disabled";
		tp2367-ldo-en = "disabled";
		tp0145-ldo-volt = "1.0V";
		tp2367-ldo-volt = "1.0V";
		tp0145-pullup = "2k";
		tp2367-pullup = "2k";
		tp0145-io-strength = "50Ohms";
		tp2367-io-strength = "50Ohms";

		target-port@0 {
			mode = "i3c";
			pullup = "enabled";
		};
		target-port@1 {
			mode = "disabled";
			pullup = "disabled";
		};
		target-port@2 {
			mode = "disabled";
			pullup = "disabled";
		};
		target-port@3 {
			mode = "disabled";
			pullup = "disabled";
		};
		target-port@4 {
			mode = "disabled";
			pullup = "disabled";
		};
		target-port@5 {
			mode = "disabled";
			pullup = "disabled";
		};
		target-port@6 {
			mode = "disabled";
			pullup = "disabled";
		};
		target-port@7 {
			mode = "disabled";
			pullup = "disabled";
		};
	};
};

&dc0_clk {
	single-node = <1>;
	status = "okay";
};

&rpmi_pmdomain {
	off-domains = <PD_HOST1_USB PD_GPU0 PD_GPU1 PD_DC1 PD_HOSTSS_i1 PD_UFS PD_BMCPCIe_RP>;
};
