menu "StarFive specific command line interface"

config CMD_STARFIVE
	bool "Enable StarFive command line interface in U-Boot"
	depends on TARGET_STARFIVE_JHB100
	help
	  Enable StarFive command line interface in U-Boot

config CMD_STARFIVE_SEC
	bool "command for Secure Services"
	depends on CMD_STARFIVE && CRC32
	help
	  Support for StarFive Secure Runtime Services. The SEC commands
	  available includes secure boot, firmware update, attestation and OTP read/
	  write.

config SPL_CMD_STARFIVE_SEC
	bool "command for Secure Services"
	depends on SPL && CMD_STARFIVE && CRC32
	help
	  Support for StarFive Secure Runtime Services. The SEC commands
	  available includes secure boot, firmware update, attestation and OTP read/write.

config CMD_STARFIVE_LTPI
	bool "command for LTPI"
	depends on CMD_STARFIVE
	help
	  Support for StarFive Diagnostic Services for LTPI.

config CMD_JHB100_DP
	bool "dp"
	depends on VIDEO && DISPLAY
	help
	  DisplayPort test command for the JHB100 DC8000 + DPTX pipeline.

config CMD_JHB100_NETTEST
	bool "nettest"
	depends on CMD_STARFIVE && NET
	help
	  JHB100 Ethernet test command.

endmenu
