CONFIG_RISCV=y
CONFIG_TEXT_BASE=0x40100000
CONFIG_SYS_MALLOC_F_LEN=0x3000
CONFIG_NR_DRAM_BANKS=1
CONFIG_HAS_CUSTOM_SYS_INIT_SP_ADDR=y
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0x40200000
CONFIG_SF_DEFAULT_SPEED=20000000
CONFIG_SPL_DM_SPI=y
CONFIG_SPL_DM_SPI_FLASH=y
CONFIG_DEFAULT_DEVICE_TREE="jhb100-fpga"
CONFIG_SPL=y
CONFIG_SPL_SEPARATE_BSS=y
CONFIG_SPL_OPENSBI_LOAD_ADDR=0x40000000
CONFIG_SPL_SPI_FLASH_SUPPORT=y
CONFIG_SPL_SPI=y
CONFIG_SYS_LOAD_ADDR=0x81000000
CONFIG_TARGET_STARFIVE_JHB100=y
CONFIG_ARCH_RV64I=y
CONFIG_RISCV_SMODE=y
CONFIG_FIT=y
CONFIG_SPL_LOAD_FIT_ADDRESS=0x50000000
CONFIG_SYS_BOOTM_LEN=0x2000000
CONFIG_SUPPORT_RAW_INITRD=y
CONFIG_USE_BOOTARGS=y
CONFIG_USE_BOOTCOMMAND=y
CONFIG_LOG_MAX_LEVEL=4
CONFIG_SPL_LOG=y
CONFIG_DISPLAY_CPUINFO=y
CONFIG_DISPLAY_BOARDINFO=y
CONFIG_DISPLAY_BOARDINFO_LATE=y
CONFIG_SPL_MAX_SIZE=0x00060000
CONFIG_SPL_BSS_START_ADDR=0x40080000
CONFIG_SPL_BSS_MAX_SIZE=0x00010000
CONFIG_SPL_SYS_MALLOC=y
CONFIG_SPL_HAS_CUSTOM_MALLOC_START=y
CONFIG_SPL_CUSTOM_SYS_MALLOC_ADDR=0x44000000
CONFIG_SPL_SYS_MALLOC_SIZE=0x00800000
CONFIG_SPL_ENV_SUPPORT=y
CONFIG_SPL_ETH=y
CONFIG_SPL_FS_EXT4=y
CONFIG_SYS_MMCSD_FS_BOOT_PARTITION=2
CONFIG_SPL_DM_SPI_FLASH=y
CONFIG_SPL_NET=y
CONFIG_SPL_NET_VCI_STRING="U-Boot"
CONFIG_SPL_DM_RESET=y
CONFIG_SPL_RAM_SUPPORT=y
CONFIG_SPL_RAM_DEVICE=y
CONFIG_RAM=y
CONFIG_SPL_RAM=y
CONFIG_SPL_YMODEM_SUPPORT=y
CONFIG_SPL_LOAD_FIT_ADDRESS=0xa0000000
CONFIG_SYS_LOAD_ADDR=0x81000000
CONFIG_SPL_LOAD_FIT=y
CONFIG_STARFIVE_JHB100=y
CONFIG_STARFIVE_JHB100_L2CC_FLUSH=y
CONFIG_STARFIVE_JHB100_L2CC_FLUSH_START=0x80000000
CONFIG_STARFIVE_JHB100_L2CC_FLUSH_SIZE=0x800000000
CONFIG_SUPPORT_RAW_INITRD=y
CONFIG_SERIAL_RX_BUFFER=y
CONFIG_SERIAL_RX_BUFFER_SIZE=256
CONFIG_STACK_SIZE=0x50000
CONFIG_NR_CPUS=8
CONFIG_CMD_I2C=y
CONFIG_DM_PWM=y
CONFIG_CMD_PWM=y
CONFIG_PWM_STARFIVE=y
CONFIG_SPL_REGMAP=y
CONFIG_SPL_SYSCON=y
CONFIG_SPL_DM_RESET=y
CONFIG_RESET_STARFIVE=y
CONFIG_RESET_STARFIVE_JHB100=y
CONFIG_REGMAP=y
CONFIG_SYSCON=y
CONFIG_CMD_TIMER=y
CONFIG_TIMER=y
CONFIG_STARFIVE_TIMER=y
CONFIG_WDT=y
CONFIG_CMD_WDT=y
CONFIG_SPL_WATCHDOG=y
CONFIG_WDT_STARFIVE=y
CONFIG_SPL_BSS_START_ADDR=0xb035000
CONFIG_SPL_BSS_MAX_SIZE=0x00004000
CONFIG_HAS_CUSTOM_SYS_INIT_SP_ADDR=y
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0x40200000
CONFIG_SYS_SPL_MALLOC=y
CONFIG_HAS_CUSTOM_SPL_MALLOC_START=y
CONFIG_CUSTOM_SYS_SPL_MALLOC_ADDR=0x80000000
CONFIG_SYS_BOOTM_LEN=0x2000000
CONFIG_SYS_CLK_FREQ=1000000000
CONFIG_SYS_SPL_MALLOC_SIZE=0x00100000
CONFIG_SPL_MAX_SIZE=0x00035000
CONFIG_BOOTARGS="console=ttyPS,115200 debug rootwait earlycon=cdns root=/dev/ram0 rw"
CONFIG_BOOTCOMMAND=""
CONFIG_PINCTRL=y
CONFIG_PINCONF=y
CONFIG_PINCTRL_STARFIVE_JHB100=y
CONFIG_SPL_ENV_SUPPORT=y
CONFIG_SPL_ETH=y
CONFIG_DM_ETH=y
CONFIG_DM_ETH_PHY=y
CONFIG_SPL_NET_SUPPORT=y
CONFIG_CMD_NET=y
CONFIG_SPL_NET_VCI_STRING="U-Boot"
CONFIG_SPL_STARFIVE_ETH=y
CONFIG_PHY_MARVELL=y
CONFIG_RGMII=y
CONFIG_CMD_MII=y
CONFIG_CMD_MDIO=y
CONFIG_NETDEVICES=y
CONFIG_GZIP=y
CONFIG_MMC_SDHCI=y
CONFIG_MMC_SDHCI_CADENCE=y
CONFIG_MMC_SDHCI_CADENCE_V6=y
CONFIG_MMC_HS200_SUPPORT=y
CONFIG_MMC_HS400_SUPPORT=y
CONFIG_MMC_HS400_ES_SUPPORT=y
CONFIG_MMC_SPEED_MODE_SET=y
CONFIG_CMD_EXT4=y
CONFIG_CMD_EXT4_WRITE=y
CONFIG_MMC_SDHCI_ADMA=y
CONFIG_CADENCE_XSPI=y
CONFIG_CMD_MTD=y
CONFIG_CMD_MTDPARTS=y
CONFIG_DM_MTD=y
CONFIG_SF_DEFAULT_SPEED=20000000
CONFIG_SPI_FLASH_GIGADEVICE=y
CONFIG_SPI_FLASH_ISSI=y
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_SPI_FLASH_SPANSION=y
CONFIG_SPI_FLASH_STMICRO=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_MTD=y
CONFIG_CMD_SF_TEST=y
CONFIG_SPL_DM_MMC=y
CONFIG_SPL_MMC=y
CONFIG_SPL_NET=y
CONFIG_SPL_SPI=y
CONFIG_SPL_FS_FAT=y
CONFIG_SPL_FS_EXT4=y
CONFIG_CRC32_VERIFY=y
CONFIG_CMD_TEMPERATURE=y
CONFIG_DM_THERMAL=y
CONFIG_STARFIVE_TEMPERATURE=y
CONFIG_MISC=y
CONFIG_CMD_MISC=y
CONFIG_STARFIVE_VOLTAGE=y
CONFIG_STARFIVE_CAN=y
CONFIG_SUPPORT_EMMC_RPMB=y
CONFIG_SYS_MMCSD_FS_BOOT_PARTITION=2
CONFIG_SPL_SPI_FLASH_TINY=n
CONFIG_STARFIVE_JHB100_SECURE_VAB_AUTH=y
CONFIG_CLK_STARFIVE_JHB100_SYS=y
CONFIG_CLK_STARFIVE_JHB100_PER0=y
CONFIG_CLK_STARFIVE_JHB100_PER1=y
CONFIG_CLK_STARFIVE_JHB100_PER2=y
CONFIG_CLK_STARFIVE_JHB100_PER3=y
CONFIG_SF_DEFAULT_BUS=1
